:root {

    /* ------------------------NAVBAR COLOURS------------------------ */
  
    --navbar-color: #1f2f17;
    --navlink-color: #ffffff;
    --navlink-hover-color: #ffffff7f;
  
  
    /* COMMUNICATION BUTTON COLOURS */
    --navbar-btn-bg-color: #142940;
    --navbar-btn-txt-color: #fff;
  
    --navbar-btn-bg-hover-color: #f9af24;
    --navbar-btn-txt-hover-color: #ffffff;
  
    /* DROPDOWN COLOURS */
    --navbar-dropdown-color: #F594A4;
    
  
    /* ------------------------LOCATIONS COLOURS------------------------ */
  
    --tokyo-color: #ea7c08;
    --kanagawa-color: #35bad8;
    --chiba-color: #7faf4a;
    --saitama-color: #ec76ab;  

    ---text-color: white;
    --location-shadow: #3e5a49;
    --location-contrast: white;
  
    /* ------------------------BUTTON ICON COLOURS------------------------ */
  
    /* ACCORDION ICON */
    --accordion-icon-color: #7AC263;
  
    /* SWIPER NAV ARROWS */
    --swiper-button-bg: #f9af24;
    --swiper-button-arrow: #142941;
  
  }
  





  
  /* ------------- HERO ------------- */
  
  .hero {
    background-color: #d5d6b7;
    width: 100%;
    height: calc((9 / 16 * 100vw) - 3.65rem);
    margin-top: 3.65rem;
  }
  

  
  .hero-inner,
  .hero-logo,
  .timer-wrapper {
    width: 90%;
    display: block;
    margin: 0 auto; /* Shorthand for margin-left: auto; margin-right: auto; */
  }

  .hero-cta-button {
    position: relative;
    width: fit-content;
    margin: 1rem auto;
    background-color: #f9af24;
    font-family: "Shin-Maru-GP-Bold";
    border-radius: 6rem;
    border: .5rem solid #142940;
    transition: ease-in-out 0.2s;
    filter: drop-shadow(0px 0.75rem 0px #142940);
    color: #142940;
    font-size: 1.5rem;
    padding: 0.75rem 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  
  .hero-cta-button:hover {
    color: #fff;
    background-color: #142940;
    border-color: #f9af24;
    filter: drop-shadow(0px 0.5rem 0px #f9af24);
  }
  
  .hero-cta-button__arrow {
    width: 1.75rem; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 1.5rem;
    fill: currentColor;
    transition: fill 0.2s ease-in-out;
    display: inline-block; /* Or block, depending on desired layout */
    vertical-align: middle; /* Align vertically with text */
    /* Add these if you want to control the stroke (outline) */
    stroke: currentColor;
    stroke-width: 1.5rem; /* Adjust as needed */
    stroke-linejoin: round; /* Optional: for smoother corners */
    stroke-linecap: round; /* Optional: for smoother ends */
    margin-right: .1rem;
    transform: translateY(-0.1rem);
  }
  
  
  .hero-cta-button:hover .hero-cta-button__arrow {
    fill: #fff;
    stroke: #fff; /* If you're using stroke, change it on hover too */
  }


  .jot-header-mobile {
    padding-top: 0rem;
  }
  
  #timer {
    display: flex;
    width: fit-content;
    margin: 0 auto; /* Center the timer */
    font-family: "Shin-Maru-GP-DeBold";
  }
  
  .segment {
    color: white;
    padding: 1rem 0; /* Shorthand for padding-top and padding-bottom */
    margin: 0.5rem;
    border-radius: 1rem; /* Consistent border radius */
    text-align: center;
    width: 6rem;
    border: 0.3rem solid white; /* Shorthand for border properties */
  }
  
  .label {
    font-family: "Shin-Maru-GP-Regular";
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    color: #ffffff;
    text-align: center;
  }
  
  #days,
  #hours,
  #minutes,
  #seconds {
    font-size: 2.2rem;
    font-weight: bold;
  }
  
  /* Style the individual segments */
  .segment:nth-child(1) {
    background-color: #ea7c08;
  } /* Days - Orange */
  .segment:nth-child(2) {
    background-color: #35bad8;
  } /* Hours - Green */
  .segment:nth-child(3) {
    background-color: #7faf4a;
  } /* Minutes - Red */
  .segment:nth-child(4) {
    background-color: #ec76ab;
  } /* Seconds - Purple */
  
  /* Media Queries */
  @media (max-width: 991px) {
    #days,
    #hours,
    #minutes,
    #seconds {
      font-size: 1.75rem;
    }
  
    .segment {
      padding: 0.6rem 0;
      margin: 0.2rem;
      width: 5rem;
      border-radius: 1rem;
    }
  
    .label {
      font-size: 1rem;
      margin-bottom: 0.3rem;
    }
  }
  
  @media (max-width: 575px) {
    .hero {
      height: fit-content;
      margin-bottom: -5px;
    }
  }
  
  @media (max-width: 375px) {
    #days,
    #hours,
    #minutes,
    #seconds {
      font-size: 1.5rem;
    }
  
    .segment {
      padding: 0.25rem 0;
      margin: 0.2rem;
      width: 4rem;
      border-radius: 1rem;
    }
  
    .label {
      font-size: .75rem;
      margin-bottom: 0.3rem;
    }
  }
  
  /* ------------- ABOUT EVENT ------------- */
  
  .event-about {
    background-color: #7aaf57;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .section-h2 {
    color: white;
    font-family: "Shin-Maru-GP-Ultra";
  }


  .about-p{
    color: white;
    font-weight: 500;
  }

  .about-cta-button {
    position: relative;
    width: fit-content;
    margin: 1rem auto;
    background-color: #7aaf57;
    font-family: "Shin-Maru-GP-Bold";
    border-radius: 6rem;
    border: .5rem solid #fff;
    transition: ease-in-out 0.2s;
    filter: drop-shadow(0px 0.75rem 0px #fff);
    color: #fff;
    font-size: 1.5rem;
    padding: 0.75rem 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
  }

  .about-cta-button:hover {
    color: #fff;
    background-color: #142940;
    border-color: #f9af24;
    filter: drop-shadow(0px 0.75rem 0px #f9af24);
  }


  /* ------------- EVENT MERITS ------------- */

.merit-row{
  padding: 2rem;
  padding-bottom: 3rem;
  background-color: white;
  border-radius: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

  .merit-column{
    background-color: #142940;
    width: calc(97%/3);
    display: block;
    padding: 1rem;
    border-radius: 2rem;
    border-style: solid;
    border: .5rem solid #f9af24;
    filter: drop-shadow(0px 0.975rem 0px #f9af24);
  }


  .merit-icon{
    width: 7.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    fill: white;
  }

  .merit-h3{
    text-align: center;
    font-size: 1.25rem;
    font-family: "Shin-Maru-GP-Bold";
    color: white;
    padding-bottom: .5rem
    ;
  }

  .merit-p{
    color: white;
  }

  .merit-column-1{
    margin-left: 0;
    margin-right: auto;
  }

  .merit-column-2{
    margin-left: auto;
    margin-right: auto;
  }

  .merit-column-3{
    margin-left: auto;
    margin-right: 0;
  }

  @media (max-width: 575px) {

    .merit-row{
      margin-top: 0rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .merit-column{
      border: .5rem solid #f9af24;
      width:auto;
      aspect-ratio: 1 / 1.2;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .merit-column-1, .merit-column-2{
    margin-bottom: 3rem;
    }
    .merit-h3{
      font-size: 1.2rem;
      ;
    }
  }



/* ACTIVITY INFO ------------------------------------------------------------------*/
.event-activities {
  background-color: #355c48;
  position: relative;
  z-index: 2;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.activity-header{
  text-align: center;
  color: #f9af24;
  background-color: none;
  line-height: 1;
  padding: 0rem;
  font-size: 2.5rem;
  font-family: "Shin-Maru-GP-Bold";

}

.activity-1-row, .activity-2-row, .activity-3-row, .activity-4-row{
  border-style: solid;
  border-width: .5rem;
  border-color: white;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 3rem;
}

.activity-h3-1, .activity-h3-2, .activity-h3-3, .activity-h3-4 {
  font-family: "Shin-Maru-GP-Bold";
  font-size: 2rem;
  color: white;
}


.activity-1-row{
  background-color: #ea7c08;
  border-radius: 25rem 3rem 3rem 25rem;
}

.activity-2-row{
  background-color: #18bfd8;
  border-radius: 3rem 25rem 25rem 3rem;
}

.activity-3-row{
  background-color: #7ab158;
  border-radius: 25rem 3rem 3rem 25rem;
}

.activity-4-row{
  background-color: #ed78af;
  border-radius: 3rem 25rem 25rem 3rem;
}


.activity-p{
  color: white;
  font-size: 1.5rem;
}

.activity-p-sub{
  font-size: 1rem;
}

.activity-img-wrapper{
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-img{
  border-radius: 50%;
  border-style: solid;
  border-width: .5rem;
  border-color: white;
}


.activity-text-col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-text-wrapper{
  padding: 2rem;
}


.side-events{
  border-style: solid;
  border-width: .5rem;
  border-color: #f9af24;
  background-color: #022741;
  border-radius: 3rem;
  padding: 2rem;
  margin-top: 2rem;
  filter: drop-shadow(0px 1rem 0px #f9af24);
}

.side-events-title{
  color: #f9af24;
  font-family: "Shin-Maru-GP-Bold";
  text-align: center;
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: .5rem;
  line-height: 1;
}

.bottom-section-text{
  font-size: 1.25rem;
  color: #f9af24;
  width: 95%;
}

.bottom-section-divider-horizontal{
  border-style: solid;
  border-width: .25rem;
  border-color: #f9af24;
  border-radius: .25rem;
  height: .25rem;
  margin-bottom: 2rem;
}

.bottom-section-text-1{
  padding-bottom: 2rem;
}

.card-box{
  position: relative;
}

.bottom-card-img{
  position: absolute;
  width: 100%;
  bottom: 0%;
}

.bottom-section-row-2{
  position: relative;
}

.bottom-section-divider-vertical{
  position: absolute;
  border-style: solid;
  border-width: .25rem;
  border-color: #f9af24;
  border-radius: .25rem;
  height: .25rem;
  height: 100%;
  width: 0;
  margin: 0 !important;
  padding: 0% !important;
  left: 50%;
  transform: translate(-100%);
}


/* Extra large devices (large desktops, 1200px to 1399.98px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

  .event-section{
    width: 1140px;
  }
  


  .activity-text{
    color: #FCB552;
    font-size: 1rem;
  }

  .activity-step-1-wrapper, .activity-step-2-wrapper, .activity-step-3-wrapper{
    background-size:80%, auto;
    background-repeat: no-repeat;
  }

  .bottom-card-img{
    width: 120%;
  }
}

/* Large devices (desktops, 992px to 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .event-section{
    width: 960px;
  }
  


  .activity-step-1-wrapper, .activity-step-2-wrapper, .activity-step-3-wrapper{
    background-size:80%, auto;
    background-repeat: no-repeat;
  }

  .bottom-card-img{
    width: 120%;
  }
}

/* Medium devices (tablets, 768px to 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .event-section{
    width: 720px;
  }
  


  .activity-text-container{
    padding: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
  }

  .bottom-card-img{
    width: 135%;
    transform: translate(-2.5rem, 0);
  }

}

/* Small devices (landscape phones, 576px to 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {


  .event-section{
    width: 540px;
  }
  


  .activity-step-1-wrapper, .activity-step-2-wrapper, .activity-step-3-wrapper{
    background-size:100%, auto;
    background-repeat: no-repeat;
  }

  .activity-text-container{
    padding: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
  }

    .bottom-card-img{
    width: 135%;
    transform: translate(-2.5rem, 0);
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
.event-section {
  width: 100% !important;
  padding: none !important;
  margin: none !important;
}

.step-img-wrapper{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.activity-text-container{
  position: relative;

  list-style: none;
  display: block !important;
  margin-left: auto !important;
  margin-left: auto !important;
  padding: 1rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1rem !important;
  justify-content: center;
}

.activity-text{
  color: #FCB552;
  font-size: 1.2rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
}



  .activity-step-1-wrapper, .activity-step-2-wrapper, .activity-step-3-wrapper{
    width: 100% !important;
    display: block !important;
    margin-right: auto !important;
    margin-right: auto !important;
    background-image: none;
    background-color: #7B3632;

    margin-top: 7rem;
    margin-bottom: 7rem;
    padding: 0rem !important;
  }

  .activity-title-wrapper{
    width: 100%;
    aspect-ratio:  113 / 31;
    background-size: 100%, auto;
    background-repeat: no-repeat;
    position: relative;
    transform: translate(0%, 0%);
    top: 0%;
    left: 0%;
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
  }

  .activity-title{
    font-size: 1.25rem;
  }
  
  .topbox{
    margin-top: 3.5rem;
  }

  .bottombox{
    margin-bottom: 3.5rem;
  }
  

  .mobile-activity-top{
    transform: translate(0, -100%);
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }


  .mobile-activity-bottom{
    transform: translate(0, 0%);
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    
  }

  .activity-decoration-2{
    width: 60%;
    transform: translate(-100%, -80%);
    top: 100%;
    left: 100%;
    z-index: 1;
  }

.decoration-blob-1, .decoration-blob-2{
  display: none;
}


.side-events{
  margin-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.bottom-card-img{
  width: 100%;
  transform: translate(0, 0);
  position: relative;
}
}


  /* Image Carousel ------------------------------------------------------------------*/
.gallery-h2{
  margin: 2rem;
}

  #gallery{
    padding-top: 2rem;
  background-color: #022741;
}

  
.decoration-gallery-top{
  width: 100%;
  transform: translate(0, -10px);
  padding-bottom: 0rem;
}

.carousel-div {
  background-color: none
  ;
  padding-bottom: 4rem;
}

.swiper-img {
  display: block;
  width: 96%;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(
        circle, 
        rgba(255, 255, 255, 0.4) 0%, /* Adjust color and opacity */
        rgba(0, 0, 0, 0) 70%
    );
    filter: blur(20px); /* Adjust the blur to control the spread of the light */
    transition: opacity 0.3s ease;
}


.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 25%;
  justify-content: space-between;
}

.swiper-custom-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-custom-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

.swiper-activities-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
}

.swiper-activities-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-activities-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

.transition-gallery-signup{
  width: 102%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;
}


@media (max-width: 576px) {
  .swiper-img {
    display: block;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .swiper-custom-nav {
    padding: 7.5%;
  }
  .swiper-custom-nav-arrow {
    width: 3rem;
  }
}




/* Sign Up and Pre Footer ------------------------------------------------------------------*/


.sign-up-bg {
  fill: #fff;
}

.sign-up-stroke {
  fill: #313133;
}


.sign-up-main-colour {
  fill: #faad36;
}


.sign-up-instruction-header {
  font-size: 1.15rem;
  font-weight: bold;
}

.bottom-button-right {
  float: left;
}

.bottom-button-left {
  float: right;
}

@media (max-width: 576px) {
  .bottom-button-left,
  .bottom-button-right {
    float: none;
    align-items: center;
    width: 100%;
  }
}

.sign-up {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #7BC263;
  margin-bottom: -2rem !important;
}
.sign-up-row {
  padding-bottom: 1rem;
}

.sign-up-wrapper-left,
.sign-up-wrapper-middle,
.sign-up-wrapper-right {
  width: 97.5%;
  display: block;
}

.sign-up-wrapper-left {
  margin-right: auto;
}

.sign-up-wrapper-middle {
  margin-left: auto;
  margin-right: auto;
}

.sign-up-wrapper-right {
  margin-left: auto;
}

@media (max-width: 576px) {
  .sign-up-wrapper-left,
  .sign-up-wrapper-middle,
  .sign-up-wrapper-right {
    width: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.sign-up-h2 {
  font-family: "Shin-Maru-GP-Bold";
  font-weight: bold;
  padding-bottom: 3rem;
  color: white;

}

.sign-up-h3 {
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  color: white;
}

.sign-up-p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  color: white;
}


.pre-footer {
  background-color: #e8dccd;
 margin-top: -3px;
}

.pre-footer-h2,
.pre-footer-p {
  color: #303135;
}


.sign-up-button {
  position: relative;
  width: fit-content;
  margin: 1rem auto;
  background-color: #7aaf57;
  font-family: "Shin-Maru-GP-Bold";
  border-radius: 6rem;
  border: .5rem solid #fff;
  transition: ease-in-out 0.2s;
  filter: drop-shadow(0px 0.75rem 0px #fff);
  color: #fff;
  font-size: 1.25rem;
  padding: 0.75rem 2.5rem;
  display: flex; /* Change to flexbox */
  align-items: center;
  justify-content: space-between; /* Distribute space between text and SVG */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 95%;
}

.sign-up-button:hover {
  color: #fff;
  background-color: #142940;
  border-color: #f9af24;
  filter: drop-shadow(0px 0.75rem 0px #f9af24);
}

.sign-up-button__arrow {
  width: 1.5rem;
  height: auto;
  fill: currentColor;
  transition: fill 0.2s ease-in-out;
  vertical-align: middle;
  stroke: currentColor;
  stroke-width: 1.5rem;
  stroke-linejoin: round;
  stroke-linecap: round;
  transform: translateY(-0.1rem);
}




@media (max-width: 576px) {
  .sign-up-button{
    width: 100%;
    text-align: left;
     padding: 0.75rem 1.5rem;
  }

  .sign-up-button__arrow {
    width: 1.5rem;
    height: auto;
    fill: currentColor;
    transition: fill 0.2s ease-in-out;
    vertical-align: middle;
    stroke: currentColor;
    stroke-width: 1.5rem;
    stroke-linejoin: round;
    stroke-linecap: round;
    transform: translateY(0rem);
  }
  
}
.pre-footer {
  background-color: #faeaaa;
}

.pre-footer-h2,
.pre-footer-p {
  color: #303135;
}

