html{
  background-color: #d6d6b7;
  scroll-behavior: smooth; /* This makes scrolling smooth globally */
}

:root {

    /* ------------------------NAVBAR COLOURS------------------------ */
  
    --navbar-color: #46986a;
    --navlink-color: #ffffff;
    --navlink-hover-color: #ffffff7f;
  
  
    /* COMMUNICATION BUTTON COLOURS */
    --navbar-btn-bg-color: #142940;
    --navbar-btn-txt-color: #fff;
  
    --navbar-btn-bg-hover-color: #f9af24;
    --navbar-btn-txt-hover-color: #ffffff;
  
    /* DROPDOWN COLOURS */
    --navbar-dropdown-color: #F594A4;
    
  
    /* ------------------------LOCATIONS COLOURS------------------------ */
  
    --tokyo-color: #f79752;
    --kanagawa-color: #f16883;
    --chiba-color: #7ac263;
    --saitama-color: #5bbcb3;  

    ---text-color: white;
    --location-shadow: #5b936e;
    --location-contrast: white;
  
    /* ------------------------BUTTON ICON COLOURS------------------------ */
  
    /* ACCORDION ICON */
    --accordion-icon-color: #7AC263;
  
    /* SWIPER NAV ARROWS */
    --swiper-button-bg: #ffffff;
    --swiper-button-arrow: #45986a;
  
  }
  



  
  /* ------------- HERO ------------- */
  
  .hero {
    background-color: #d6d6b7;
    width: 100%;
    height: calc((9 / 16 * 100vw) - 3.65rem);
    margin-top: 3.65rem;
    position: relative;
    background-image: url(../images/hero-bg.svg);
    background-position: bottom center;
    background-size: cover;
  }
  
.hero-bottom{
  position: absolute;
  width: 101%;
  bottom: 0%;
  margin-left: -0.5%;
  transform-origin: 0% 100%;
  margin-bottom: -1px;
  z-index: 2;
}


  
  .hero-inner{
    height: 100%;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;


  }

  .hero-logo{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
  }


  .timer-wrapper{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  .hero-cta-button {
    position: relative;
    width: fit-content;
    background-color: #f9af24;
    font-family: "Shin-Maru-GP-Bold";
    border-radius: 6rem;
    border: .5rem solid #142940;
    transition: ease-in-out 0.2s;
    filter: drop-shadow(0px 0.75rem 0px #142940);
    color: #142940;
    font-size: 1.5rem;
    padding: 0.75rem 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    z-index: 1;
  }
  
  .hero-cta-button:hover {
    color: #fff;
    background-color: #142940;
    border-color: #f9af24;
    filter: drop-shadow(0px 0.5rem 0px #f9af24);
  }
  
  .hero-cta-button__arrow {
    width: 1.75rem; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 1.5rem;
    fill: currentColor;
    transition: fill 0.2s ease-in-out;
    display: inline-block; /* Or block, depending on desired layout */
    vertical-align: middle; /* Align vertically with text */
    /* Add these if you want to control the stroke (outline) */
    stroke: currentColor;
    stroke-width: 1.5rem; /* Adjust as needed */
    stroke-linejoin: round; /* Optional: for smoother corners */
    stroke-linecap: round; /* Optional: for smoother ends */
    margin-right: .1rem;
    transform: translateY(-0.1rem);
  }
  
  
  .hero-cta-button:hover .hero-cta-button__arrow {
    fill: #fff;
    stroke: #fff; /* If you're using stroke, change it on hover too */
  }


  .jot-header-mobile {
    padding-top: 0rem;
  }
  
  #timer {
    display: flex;
    width: fit-content;
    margin: 0 auto; /* Center the timer */
    font-family: "Shin-Maru-GP-DeBold";
  }
  
  .segment {
    color: white;
    padding: 1rem; /* Shorthand for padding-top and padding-bottom */
    margin: 0.5rem;
    border-radius: 1rem; /* Consistent border radius */
    text-align: center;
    width: auto;
    border: 0.3rem solid white; /* Shorthand for border properties */
  }
  
  .label {
    font-family: "Shin-Maru-GP-Regular";
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    color: #ffffff;
    text-align: center;
  }
  
  #days,
  #hours,
  #minutes,
  #seconds {
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* Style the individual segments */
  .segment:nth-child(1) {
    background-color: #ea7c08;
  } /* Days - Orange */
  .segment:nth-child(2) {
    background-color: #35bad8;
  } /* Hours - Green */
  .segment:nth-child(3) {
    background-color: #7faf4a;
  } /* Minutes - Red */
  .segment:nth-child(4) {
    background-color: #ec76ab;
  } /* Seconds - Purple */
  


.hero-row-1{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  height: 80%; /* Ensure it takes the full height of the parent row */
}
  

.hero-row-2{
  position: relative; /* Or absolute, if needed */



}

.hero-row-2-text-wrapper{
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 47.5%;
  width: 90%;
}
.hero-h1{
  text-align: center;
  font-size: 2.25rem;
  font-family: "Shin-Maru-GP-Bold";
  -webkit-text-stroke: 10px #46986a; 
  text-stroke: 10px #46986a; 
  paint-order:  stroke fill;
  color: white;
}


.hero-h2{
  text-align: center;
  font-size: 1.75rem;
  font-family: "Shin-Maru-GP-Bold";
  color: #46986a;
  -webkit-text-stroke: 10px #d6d6b7; 
  text-stroke: 10px #d6d6b7; 
  paint-order:  stroke fill;
}

.countdown{
  font-size: 1.5rem;
  text-align: center;
  font-family: "Shin-Maru-GP-regular";
  color: white;
  -webkit-text-stroke: 10px #46986a; 
  text-stroke: 10px #46986a; 
  paint-order:  stroke fill;
}

.hero-jot{
  position: absolute;
  height: 50%;
  width: auto;
  top: 100%;
  transform: translate(-50%, -100%);
  left: 50%;
  z-index: 0;
}

.hero-jot-earlybird{
  position: absolute;
  height: 45%;
  width: auto;
  top: 100%;
  transform: translate(-50%, -100%);
  left: 10%;
  z-index: 1;
}

.hero-earlybird-prompt{
  position: absolute;
  height: auto;
  width: 75%;
  top: 77.55%;
  transform: translate(-50%, -100%);
  left: 50%;
  z-index: 2;
}




/* Media Queries */

@media (max-width: 1399.9px) {
  .hero {
    height: calc((11 / 16 * 100vw) - 3.65rem);
  }

  .hero-logo{
    width: 95%;
  }


  .hero-jot-earlybird{
    position: absolute;
    height: 40%;
    width: auto;
    top: 100%;
    transform: translate(-50%, -100%);
    left: 15%;
    z-index: 1;
  }
  
  .hero-earlybird-prompt{
    position: absolute;
    height: auto;
    width: 90%;
    top: 75%;
    transform: translate(-50%, -100%);
    left: 50%;
    z-index: 2;
  }
  

}

@media (max-width: 1199.9px) {

  .hero {
    height: calc((12 / 16 * 100vw) - 3.65rem);
  }
  .hero-logo{
    width: 97.5%;
  }




  .hero-row-2-text-wrapper{
    width: 95%;
  }


}



@media (max-width: 990.9px) {

  .hero-logo{
    width: 95%;
  }

  .hero {
    height: calc((14.5 / 16 * 100vw) - 3.65rem);
  }
  .hero-h1{
    font-size: 2.2rem;
  }


  .hero-inner{
    width: 85%;
  }

  .hero-row-2-text-wrapper{
    width: 98.5%;
  }

  #days,
  #hours,
  #minutes,
  #seconds {
    font-size: 1.8rem;
  }

  .segment {
    color: white;
    padding: .8rem; /* Shorthand for padding-top and padding-bottom */
    margin: 0.5rem;
  }

  .label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }


}


@media (max-width: 767.9px) {
  
  

  .hero {
    height: calc((14 / 16 * 100vw) - 3.65rem);
  }


  .hero-inner{
    width: 90%;
  }

  .hero-logo{
    width: 95%;
    margin-top: 0rem;
  }

  .hero-row-2-text-wrapper{
    width: 100%;
  }


}



@media (max-width: 609.9px) {


  .hero-h1{
    font-size: 2rem;
  }

.hero-h2{
  font-size: 1.5rem;
}

.hero-cta-button {
  font-size: 1.25rem;
}

.hero-cta-button__arrow {
  margin-left: 1.5rem;
}

}


  
  @media (max-width: 575px) {
    .hero {
      height: fit-content;
      margin-bottom: -5px;
      background-image: url(../images/hero-bg-mobile.svg);
    }

    .hero-inner{
      width: 100%;
      height: auto;

    }
    .hero-row-1, .hero-row-2{
      width: 95%;
      position: relative;
      height: fit-content;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .hero-row-2-text-wrapper{
      top: 0 !important;
      position: relative;
      display: block;
      margin: unset ;
      margin-left: auto;
      margin-right: auto;
      transform: unset !important;
      left: unset !important;
      width: 90%;

    }

    .hero-logo{
      width: 100%;
    }

    .hero-h1{
      font-size: 1.75rem;
      padding-top: 1rem;
    }
  
    
    .hero-h2{
      transform: unset !important;
      position: relative;
      font-size: 1.5rem;
      padding-bottom: 0rem;
    }

    .hero-cta-button {
      position: unset;
      padding-top: 1rem;
      font-size: 1.75rem;
      padding: 0.5rem 1rem;
      width: 100%;
    }
    
    .hero-earlybird-prompt{
      position: unset;
      height: auto;
      top: unset;
      transform: unset;
      left: unset;
      width: 100%;
      z-index: 2;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 3rem;
      padding-bottom: 0rem;
    }

    .hero-jot-earlybird{
      position: unset;    
      left: unset;
      transform: unset;
      width: 90%;
      height: auto;
      z-index: 1;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    
    .hero-cta-button__arrow {
      width: 1.75rem; /* Adjust as needed */
      margin-left: 1rem;
      margin-right: .1rem;
    }
    

    .hero-jot{
      position: relative;
      height: auto;
      width: auto;
      top: 100%;
      transform: translate(0%, 0%);
      left: 0%;
      z-index: 0;
      padding-top: 2rem;
    }


    
  }
  
  @media (max-width: 375px) {
    #days,
    #hours,
    #minutes,
    #seconds {
      font-size: 1.5rem;
    }
  
    .segment {
      padding: 0.25rem 0;
      margin: 0.2rem;
      width: 4rem;
      border-radius: 1rem;
    }
  
    .label {
      font-size: .75rem;
      margin-bottom: 0.3rem;
    }
    .hero-h1{
      font-size: 1.5rem;
    }
  


    .hero-h2{
    font-size: 1.2rem;
    }

    .hero-cta-button {
    font-size: 1.2rem;
    margin-bottom: 10px;
    }

    .hero-cta-button__arrow {
      width: 1.25rem; /* Adjust as needed */
      margin-left: 1rem;
      margin-right: .1rem;
    }


  }
  
  /* ------------- ABOUT EVENT ------------- */
  
  .event-about {
    background-color: #46986a;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .section-h2 {
    color: white;
    font-family: "Shin-Maru-GP-Ultra";
  }


  .about-p{
    color: white;
    font-weight: 500;
  }

  .explainer-img{
    display: flex;
    vertical-align: middle;
    align-items: center;
  }

  .about-event-img{
    padding: 1rem;
  }

  .about-cta-button {
    position: relative;
    width: fit-content;
    margin: 1rem auto;
    background-color: #46986a;
    font-family: "Shin-Maru-GP-Bold";
    border-radius: 6rem;
    border: .5rem solid #fff;
    transition: ease-in-out 0.2s;
    filter: drop-shadow(0px 0.75rem 0px #fff);
    color: #fff;
    font-size: 1.5rem;
    padding: 0.75rem 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
  }

  .about-cta-button:hover {
    color: #fff;
    background-color: #142940;
    border-color: #f9af24;
    filter: drop-shadow(0px 0.75rem 0px #f9af24);
  }
  @media (max-width: 575px) {
    .about-event-img{
     padding-left: 0rem;
     padding-right: 0rem;
    }
    .about-cta-button{
      width: 100%;
    }
  }


  @media (max-width: 375px) {
    .about-cta-button {
      font-size: 1.2rem;
    }
  }
  

  /* ------------- EVENT MERITS ------------- */

.merit-row{
  padding: 2rem;
  padding-bottom: 3rem;
  background-color: white;
  border-radius: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

  .merit-column{
    background-color: #142940;
    width: calc(97%/3);
    display: block;
    padding: 1rem;
    border-radius: 2rem;
    border-style: solid;
    border: .5rem solid #f9af24;
    filter: drop-shadow(0px 0.975rem 0px #f9af24);
  }


  .merit-icon{
    width: 7.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    fill: white;
  }

  .merit-h3{
    text-align: center;
    font-size: 1.25rem;
    font-family: "Shin-Maru-GP-Bold";
    color: white;
    padding-bottom: .5rem
    ;
  }

  .merit-p{
    color: white;
  }

  .merit-column-1{
    margin-left: 0;
    margin-right: auto;
  }

  .merit-column-2{
    margin-left: auto;
    margin-right: auto;
  }

  .merit-column-3{
    margin-left: auto;
    margin-right: 0;
  }

  @media (max-width: 575px) {

    .merit-row{
      margin-top: 0rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .merit-column{
      border: .5rem solid #f9af24;
      width:auto;
      aspect-ratio: 1 / 1.2;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .merit-column-1, .merit-column-2{
    margin-bottom: 3rem;
    }
    .merit-h3{
      font-size: 1.2rem;
      ;
    }
  }

  



/* ACTIVITY INFO ------------------------------------------------------------------*/
.event-activities {
  background-color: #d6d6b7;
  position: relative;
  z-index: 2;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.mascot-events-top{
  position: absolute;
  width: 101%;
  margin-left: -0.5%;
  z-index: -1;
  margin-top: -1px;
  top: 0%;
}



.activity-header-wrapper{
  background-image: url(../images/activities-header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  display: flex;
  align-items: center;
  aspect-ratio: 3455 / 604;
  margin-left: auto;
  margin-right: auto;
  
}


.activity-header{
  font-family: "Shin-Maru-GP-Bold";
  text-align: center;
  color: #fff;
  background-color: none;
  line-height: 1;
  padding: 0rem;
  font-size: 2.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.activity-bg-1, .activity-bg-2, .activity-bg-3, .activity-bg-4{
  display: flex;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 4rem;
  position: relative;

}

.activity-inner-1, .activity-inner-2, .activity-inner-3, .activity-inner-4 {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.activity-img-1, .activity-img-2, .activity-img-3, .activity-img-4{
  position: absolute;
  transform: translate(-50%, -50%);
  width: calc(30% + 1rem);
  border-style: solid;
  border-color: white;
  border-width: .5rem;
  border-radius: 50%;
}

.mascot-1, .mascot-2, .mascot-3, .mascot-4{
  position: absolute;
  padding: .5rem;
}

.mascot-1{
  transform: translate(0%, -50%);
  left: 85%;
  top: 60%;
  width: calc(7.63% *  2.7);
}

.mascot-2{
  transform: translate(-100%, -50%);
  left: 16.5%;
  top: 15%;
  width: calc(10% * 2.7);
}

.mascot-3{
  transform: translate(0%, -50%);
  left: 80%;
  top: 15%;
  width: calc(5.26% * 2.7);
}


.mascot-4{
  transform: translate(-100%, -50%);
  left: 16.5%;
  top: 15%;
  width: calc(8.43% * 2.7);
}




.activity-img-1, .activity-img-3{
  left: 5%;
  top: 40%;
}

.activity-img-2, .activity-img-4{
  left: 95%;
  top: 40%;
}



.activity-inner-1, .activity-inner-3{
  margin-left: 20%;
  margin-right: 10%;
  padding-left: .5rem;
} 


.activity-inner-2, .activity-inner-4{
  margin-left: 10%;
  margin-right: 20%;
  padding-left: .5rem;
} 

.activity-decoration-top, .activity-decoration-bottom{
  display: none;
}

.activity-bg-1{
  background-image: url(../images/activity-bg-1.svg);
  aspect-ratio: 3300 / 1451;
}

.activity-bg-2{
  background-image: url(../images/activity-bg-2.svg);
  aspect-ratio: 660 / 299;
}

.activity-bg-3{
  background-image: url(../images/activity-bg-3.svg);
  aspect-ratio: 330 / 119;

}

.activity-bg-4{
  background-image: url(../images/activity-bg-4.svg);
  aspect-ratio: 88 / 29;
}


.activity-h2{
  font-size: 2.5rem;
  font-family: "Shin-Maru-GP-Bold";
  color: #fff;
  text-align: left;
}


.activity-h3{
  font-size: 2rem;
  font-family: "Shin-Maru-GP-Bold";
  color: #032741;
}



.activity-p{
  font-family: "Shin-Maru-GP-Regular";
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
}

.activity-p-sub{
  font-size: 1rem;
  font-family: "Shin-Maru-GP-Regular";
  color: #fff;
  text-align: left;
}

.addition-info-col{
  display: flex;
  align-items: center;
}

.addition-info-icon{
  width: 2.5rem;
  height: auto;
}

@media (max-width: 1600px) {

  .activity-img-1, .activity-img-2, .activity-img-3, .activity-img-4{
    width: calc(25% + 1rem);
  }
  

  .activity-img-1, .activity-img-3{
    left: calc(10% + .5rem);
    top: 30%;
  }

  .activity-img-2, .activity-img-4{
    left: calc(90% - .5rem);
    top: 30%;
  }
  
  .mascot-1{
    left: 85%;
    width: calc(7.63% * 2.5);
    top: 70%;
  }
  

  .mascot-2{
    width: calc(7.63% * 2.5);
    top: 40%;
    left: 15%;
  }
  

  .mascot-3{
    width: calc(5.26% * 2.5);
    left: 82.5%;
  }

  .mascot-4{
    width: calc(8.43% * 2.5);
    top: 10%;
    left: 20%;
  }
  
  
}

@media (max-width: 991px) {

  .activity-bg-1, .activity-bg-2, .activity-bg-3, .activity-bg-4{
    padding-top: 2rem;
    padding-bottom: 2rem;
  } 

} 


@media (max-width: 767.9px) {

  
  .activity-bg-1, .activity-bg-2, .activity-bg-3, .activity-bg-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  } 
  

  .activity-h2{
    font-size: 2rem;
    font-family: "Shin-Maru-GP-Bold";
    color: #fff;
    text-align: left;
  }
  
  .activity-h3{
    font-size: 1.5rem;
    font-family: "Shin-Maru-GP-Bold";
    color: #032741;
  }

  .activity-p{
    font-size: 1rem;
  }
  
  .activity-p-sub{
    font-size: .8rem;
  }
  
  .addition-info-icon{
    width: 2rem;
    height: auto;
  }

}




@media (max-width: 575px) {

  .activity-header-wrapper{
    width: 95%;
  }
  

  .activity-header{
    font-family: "Shin-Maru-GP-Bold";
    text-align: center;
    color: #fff;
    background-color: none;
    line-height: 1;
    padding: 0rem;
    font-size: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .activity-bg-1, .activity-bg-2, .activity-bg-3, .activity-bg-4{
  background-image: none;
  aspect-ratio: unset;
  width: 100%;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  }
  
  .activity-inner-1, .activity-inner-2, .activity-inner-3, .activity-inner-4 {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  

  .activity-decoration-top, .activity-decoration-bottom{
    display: block;
    width: 101%;
    margin-left: -0.5%;

  }

  .activity-decoration-top{
    padding-top: 1rem;
    margin-bottom: -1px;
  }

  .activity-decoration-bottom{
    padding-bottom: 1rem;
    margin-top: -1px;
  }


  .activity-bg-1 {
    background-color: #f89e75;
  }

  .activity-bg-2 {
    background-color: #78cfe4;
  }

  .activity-bg-3 {
    background-color: #a5c883;
  }

  .activity-bg-4 {
    background-color: #f3a0c4;
  }

  .activity-img-1, .activity-img-2, .activity-img-3, .activity-img-4{
    left: unset;
    top: unset;
    position: relative;
    transform: translate(0%, 0%);
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
    
  }

  .mascot-1, .mascot-2, .mascot-3, .mascot-4{
    transform: translate(0%, 0%);
    position: relative;
    padding: .5rem;
    left: unset;
    top: unset;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;

  }
  
  .mascot-1{
    width: calc(7.63% *  9);
  }
  
  .mascot-2{
    width: calc(10% * 9);
  }
  
  .mascot-3{
    width: calc(5.26% * 9);
  }
  
  
  .mascot-4{
    width: calc(8.43% * 9);
  }
  
  .activity-h2{
    padding-top: 1rem;
    padding-bottom: 0rem;
  }
  

  
  .activity-p{
    font-size: 1.25rem;
  }

  .teachers-img{
    margin-bottom: 2rem;
  }



}


@media (max-width: 375px) {

  .activity-header{
    font-size: 1.5rem;
  }

}

  /* Image Carousel ------------------------------------------------------------------*/
.gallery-h2{
  margin: 2rem;
}

  #gallery{
    padding-top: 2rem;
  background-color: #d6d6b7;
}

  
.decoration-gallery-top{
  width: 100%;
  transform: translate(0, -10px);
  padding-bottom: 0rem;
}

.carousel-div {
  background-color: none
  ;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.swiper-img {
  display: block;
  width: 96%;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(
        circle, 
        rgba(255, 255, 255, 0.4) 0%, /* Adjust color and opacity */
        rgba(0, 0, 0, 0) 70%
    );
    filter: blur(20px); /* Adjust the blur to control the spread of the light */
    transition: opacity 0.3s ease;
}


.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 25%;
  justify-content: space-between;
}

.swiper-custom-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-custom-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

.swiper-activities-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
}

.swiper-activities-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-activities-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

.transition-gallery-signup{
  width: 102%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;
}


@media (max-width: 576px) {
  .swiper-img {
    display: block;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .swiper-custom-nav {
    padding: 7.5%;
  }
  .swiper-custom-nav-arrow {
    width: 3rem;
  }
}




/* Sign Up and Pre Footer ------------------------------------------------------------------*/


.sign-up-bg {
  fill: #fff;
}

.sign-up-stroke {
  fill: #313133;
}


.sign-up-main-colour {
  fill: #faad36;
}


.sign-up-instruction-header {
  font-size: 1.15rem;
  font-weight: bold;
}

.bottom-button-right {
  float: left;
}

.bottom-button-left {
  float: right;
}

@media (max-width: 576px) {
  .bottom-button-left,
  .bottom-button-right {
    float: none;
    align-items: center;
    width: 100%;
  }
}

.sign-up {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #46986a;
  padding-bottom: 2rem;
}
.sign-up-row {
  padding-bottom: 1rem;
}

.sign-up-wrapper-left,
.sign-up-wrapper-middle,
.sign-up-wrapper-right {
  width: 97.5%;
  display: block;
}

.sign-up-wrapper-left {
  margin-right: auto;
}

.sign-up-wrapper-middle {
  margin-left: auto;
  margin-right: auto;
}

.sign-up-wrapper-right {
  margin-left: auto;
}

@media (max-width: 576px) {
  .sign-up-wrapper-left,
  .sign-up-wrapper-middle,
  .sign-up-wrapper-right {
    width: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.sign-up-h2 {
  font-family: "Shin-Maru-GP-Bold";
  font-weight: bold;
  padding-bottom: 3rem;
  color: white;

}

.sign-up-h3 {
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  color: white;
}

.sign-up-p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  color: white;
}


.pre-footer {
  background-color: #e8dccd;
 margin-top: -3px;
}

.pre-footer-h2,
.pre-footer-p {
  color: #303135;
}


.sign-up-button {
  position: relative;
  width: fit-content;
  margin: 1rem auto;
  background-color: #46986a;
  font-family: "Shin-Maru-GP-Bold";
  border-radius: 6rem;
  border: .5rem solid #fff;
  transition: ease-in-out 0.2s;
  filter: drop-shadow(0px 0.75rem 0px #fff);
  color: #fff;
  font-size: 1.25rem;
  padding: 0.75rem 2.5rem;
  display: flex; /* Change to flexbox */
  align-items: center;
  justify-content: space-between; /* Distribute space between text and SVG */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 95%;
}

.sign-up-button:hover {
  color: #fff;
  background-color: #142940;
  border-color: #f9af24;
  filter: drop-shadow(0px 0.75rem 0px #f9af24);
}

.sign-up-button__arrow {
  width: 1.5rem;
  height: auto;
  fill: currentColor;
  transition: fill 0.2s ease-in-out;
  vertical-align: middle;
  stroke: currentColor;
  stroke-width: 1.5rem;
  stroke-linejoin: round;
  stroke-linecap: round;
  transform: translateY(-0.1rem);
}




@media (max-width: 576px) {
  .sign-up-button{
    width: 100%;
    text-align: left;
     padding: 0.75rem 1.5rem;
  }

  .sign-up-button__arrow {
    width: 1.5rem;
    height: auto;
    fill: currentColor;
    transition: fill 0.2s ease-in-out;
    vertical-align: middle;
    stroke: currentColor;
    stroke-width: 1.5rem;
    stroke-linejoin: round;
    stroke-linecap: round;
    transform: translateY(0rem);
  }
  
}
.pre-footer {
  background-color: #d6d6b7;
}

.pre-footer-h2,
.pre-footer-p {
  color: #303135;
}




#locationsCollapseMobile .collapsing {
  transition: height 0.7s ease-in-out; /* Example: 0.5 seconds, ease-in-out */
}