/* INITIAL */
:root {
  --tokyo-color: #f79752;
  --kanagawa-color: #f16883;
  --chiba-color: #7ac263;
  --saitama-color: #5696d0;
  ---text-color: white;
  --location-shadow: #9bb8da;
  --location-contrast: white;
  /* SWIPER NAV ARROWS */
  --swiper-button-bg: #ffffff;
  --swiper-button-arrow: #e95651;
}

h1 {
  font-family: "Shin-Maru-GP-Ultra";
}

h2 {
  font-family: "Shin-Maru-GP-Bold";
}

html {
  background-color: #f7e2d7;
}

.swiper-button-arrow-yellow {
  fill: #ffc759;
}

/* NAVBAR */
.navbar {
  background-color: #e95651;
}
.navbar .navbar-nav {
  background-color: unset;
}
.navbar .nav-link {
  color: white;
}
.navbar .nav-link:hover {
  opacity: 0.6;
}
.navbar .nav-btn {
  background-color: #a64343;
  color: white;
  font-weight: bolder;
}
.navbar .nav-btn:hover {
  background-color: white;
  color: #a64343;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    background-color: #a64343;
  }
  .navbar .nav-link {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
  .navbar .nav-btn {
    font-size: 1.25rem;
    background-color: #e95651;
    color: white;
    font-weight: bolder;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem !important 4rem !important;
    border-radius: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.button {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Shin-Maru-GP-Bold";
  border-radius: 6rem;
  border: 0.5rem solid;
  transition: ease-in-out 0.2s;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  z-index: 1;
  display: block;
}
.button__arrow {
  width: 1.75rem;
  height: auto;
  margin-left: 1.5rem;
  fill: currentColor;
  transition: fill 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  stroke: currentColor;
  stroke-width: 1.5rem;
  stroke-linejoin: round;
  stroke-linecap: round;
  margin-right: 0.1rem;
  transform: translateY(-0.1rem);
}
.button:hover .button__arrow {
  fill: #fff;
  stroke: #fff;
}
@media (max-width: 575px) {
  .button {
    width: 97.5%;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 341px) {
  .button {
    font-size: 1.2rem;
  }
}

/* HERO */
.hero {
  background-color: #f7e2d7;
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero .transition-top {
  position: absolute;
  width: 101%;
  display: block;
  margin: auto;
  bottom: 0;
  z-index: 3;
}
.hero .hero-img-box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 0;
}
.hero .hero-img-box .hero-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.hero .hero-text-box {
  width: 50%;
  height: 100%;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  z-index: 3;
}
.hero .hero-text-box .hero-text {
  display: block;
  margin: auto;
}
.hero .hero-text-box h1 {
  font-family: "Shin-Maru-GP-Ultra";
  font-size: 2rem;
  text-align: left;
  color: #e95651;
  line-height: 1;
}
.hero .hero-text-box h2 {
  padding: 1rem 0;
  font-size: 1.25rem;
  color: #5d3d2d;
  font-family: "Shin-Maru-GP-Regular";
}
.hero .hero-cta-button {
  background-color: #e95651;
  border: 0.5rem solid #e95651;
  color: #fff;
  text-align: center;
  display: block;
  margin-left: 0;
  box-shadow: 0px 0px 10px 3px rgba(65, 38, 15, 0.2);
}
.hero .hero-cta-button:hover {
  color: #e95651;
  background-color: white;
  border-color: #e95651;
}
.hero .transition-top {
  z-index: 2;
}
@media (max-width: 1199px) {
  .hero {
    aspect-ratio: 16/10;
  }
  .hero .hero-img-box {
    width: 45%;
  }
  .hero .hero-text-box {
    width: 55%;
  }
}
@media (max-width: 991px) {
  .hero {
    aspect-ratio: 16/11;
  }
}
@media (max-width: 768px) {
  .hero {
    aspect-ratio: 16/12;
  }
}
@media (max-width: 680px) {
  .hero {
    aspect-ratio: 16/13;
  }
}
@media (max-width: 576px) {
  .hero {
    aspect-ratio: unset;
    width: auto;
    display: block;
    align-items: unset;
    justify-content: unset;
    gap: unset;
  }
  .hero .transition-top {
    position: relative;
    padding-top: 2rem;
  }
  .hero .hero-img-box {
    width: 100%;
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 0rem;
  }
  .hero .hero-text-box {
    width: 95%;
    padding-right: unset;
    display: block;
    margin: auto;
  }
  .hero .hero-text-box .hero-text {
    display: block;
    margin: auto;
  }
  .hero .hero-text-box h1 {
    text-align: center;
  }
  .hero .hero-text-box h2 {
    text-align: center;
  }
}
.hero .hero-cta-button {
  display: block;
  margin: auto;
}

/* EVENT ABOUT */
.event-about {
  background-color: #92c5eb;
  padding: 2rem 0;
}
.event-about h2,
.event-about p {
  color: white;
}
.event-about p {
  font-weight: bold;
}
.event-about .about-wrapper {
  display: flex;
  align-self: center;
  justify-items: center;
  gap: 1rem;
}
.event-about .about-wrapper .about-text-box {
  width: 70%;
}
.event-about .about-wrapper .about-text-box .about-cta-button {
  color: #92c5eb;
  background-color: white;
  border-style: solid white 0.1rem;
  margin-left: 0;
  margin-bottom: 2rem;
}
.event-about .about-wrapper .about-text-box .about-cta-button:hover {
  color: white;
  background-color: #92c5eb;
  border-style: solid white 0.1rem;
}
.event-about .about-wrapper .about-img-box {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-about .about-wrapper .about-img-box .img {
  display: block;
  width: 100%;
  padding: 1.5rem;
}
.event-about .schools-list-container {
  position: relative;
}
.event-about .schools-list-container .img {
  position: absolute;
  transform-origin: center;
  width: 20rem;
  left: 60%;
  top: 75%;
}

@media (max-width: 576px) {
  .event-about {
    background-color: #92c5eb;
    padding: 2rem 0;
  }
  .event-about .about-wrapper {
    display: block;
    align-self: center;
    justify-items: center;
    gap: 1rem;
  }
  .event-about .about-wrapper .about-text-box {
    width: 100%;
  }
  .event-about .about-wrapper .about-text-box .about-cta-button {
    width: 100%;
    font-size: 1.2rem;
  }
  .event-about .about-img-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .event-about .about-img-box .img {
    display: block;
    width: 100%;
    padding: 1.5rem;
  }
  .schools-list-container {
    position: relative;
  }
  .schools-list-container .img-mob {
    transform-origin: unset;
    left: unset;
    top: unset;
    position: relative;
    width: 90%;
    display: block;
    margin: auto;
    padding: 2rem;
    padding-bottom: 0rem;
  }
}
/* THREE BENEFITS */
.three-benefits {
  position: relative;
  background-color: #f7e2d7;
}
.three-benefits .three-benefits-row {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
}
.three-benefits .three-benefits-row .benefit {
  width: 33.3333333333%;
}
.three-benefits .three-benefits-row .benefit .three-benefits-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
  border-style: solid;
  border-color: #5d3d2d;
  border-width: 0.25rem;
  margin: auto;
}
.three-benefits .three-benefits-row .benefit p {
  padding: 1rem;
  color: #8f6f5f;
}

@media (max-width: 576px) {
  .three-benefits {
    position: relative;
    background-color: #f7e2d7;
    padding-bottom: 0.001rem !important;
  }
  .three-benefits .three-benefits-row {
    padding-top: 2rem;
    display: block;
    gap: 0.5rem;
  }
  .three-benefits .three-benefits-row .benefit {
    width: 100%;
  }
  .three-benefits .three-benefits-row .benefit p {
    font-family: "Shin-Maru-GP";
    padding: 1rem;
    color: #8f6f5f;
  }
}
/* TESTIMONY */
.testimony {
  background-color: #f7e2d7;
}
.testimony h2 {
  color: #5d3d2d;
  padding-bottom: 2rem;
}
.testimony .customer-testimony-desktop {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 4rem;
}
.testimony .customer-testimony-mobile {
  display: none;
}
.testimony .testimonial-box {
  width: 33.3333333333%;
  background-color: #92c5eb;
  background-color: #fff8ed;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.testimony .testimonial-box .testimonial-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  padding-bottom: 1rem;
}
.testimony .testimonial-box .testimonial-top .testimonial-portrait {
  position: relative;
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.testimony .testimonial-box .testimonial-top .testimonial-portrait .testimonial-img {
  display: block;
  width: 100%;
  height: auto;
}
.testimony .testimonial-box .testimonial-top .testimonial-name {
  width: 75%;
}
.testimony .testimonial-box .testimonial-top .testimonial-name h3 {
  font-family: "Shin-Maru-GP-Bold";
  color: #5d3d2d;
  font-size: 1.5rem;
  font-weight: bold;
}
.testimony .testimonial-box .testimonial-rank {
  position: relative;
  display: block;
  width: 50%;
  margin-top: auto;
}
.testimony .testimonial-box .testimony-rank-fill {
  fill: #e95651;
}
.testimony .testimonial-box p {
  color: #8f6f5f;
  padding-bottom: 4rem;
}

@media (max-width: 576px) {
  .testimony {
    padding-bottom: 2rem;
  }
  .testimony h2 {
    padding-top: 2rem;
  }
  .testimony .customer-testimony-desktop {
    display: none;
  }
  .testimony .customer-testimony-mobile {
    display: unset;
    height: -moz-fit-content;
    height: fit-content;
  }
  .testimony .testimonial-box {
    width: 100%;
    background-color: #92c5eb;
    background-color: #fff8ed;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .testimony .testimonial-box .testimonial-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .testimony .testimonial-box .testimonial-top .testimonial-portrait {
    position: relative;
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }
  .testimony .testimonial-box .testimonial-top .testimonial-portrait .testimonial-img {
    display: block;
    width: 100%;
    height: auto;
  }
  .testimony .testimonial-box .testimonial-top .testimonial-name {
    width: 60%;
  }
  .testimony .testimonial-box .testimonial-top .testimonial-name h3 {
    font-family: "Shin-Maru-GP-Bold";
    color: #5d3d2d;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .testimony .testimonial-box .testimonial-rank {
    position: relative;
    display: block;
    width: 50%;
    margin-top: auto;
  }
  .testimony .testimonial-box .testimony-rank-fill {
    fill: #e95651;
  }
  .testimony .testimonial-box p {
    color: #8f6f5f;
    padding-bottom: 4rem;
  }
  .swiper-container-testimony {
    overflow-x: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 98%);
            mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 98%);
  }
  .swiper-arrow-container {
    position: relative;
  }
  .swiper-arrow-container .swiper-button-testimony-prev {
    width: 4rem;
    position: absolute;
    transform: translate(calc(-50% + 2.5rem), -50%);
    left: 0.5rem;
    z-index: 1;
    left: 0%;
    top: 50%;
    overflow: none;
  }
  .swiper-arrow-container .swiper-button-testimony-next {
    width: 4rem;
    position: absolute;
    transform: translate(calc(-50% - 2.5rem), -50%);
    right: 0.5rem;
    z-index: 1;
    left: 100%;
    top: 50%;
    overflow: none;
  }
}
/* FOUR BENEFITS */
.four-benefits-wrapper {
  background-color: #f7e2d7;
  padding-bottom: 0.001rem;
}

.four-benefits-container {
  background-color: #e95651;
  border-color: #a64343;
  box-shadow: 0 1rem #a64343;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.25rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.four-benefits-container .four-benefits {
  width: 25%;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.four-benefits-container .four-benefits .benefit-icon-box {
  width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}
.four-benefits-container .four-benefits .benefit-icon-box .benefit-icon {
  width: 50%;
  display: block;
  margin: auto;
}
.four-benefits-container .four-benefits .benefit-icon-box .benefit-icon .benefit-icon-colour-1 {
  fill: #a64343;
}
.four-benefits-container .four-benefits .benefit-icon-box .benefit-icon .benefit-icon-colour-2 {
  fill: #fff8ed;
}
.four-benefits-container .four-benefits .benefit-text-box {
  width: 100%;
}
.four-benefits-container .four-benefits .benefit-text-box p {
  text-align: center;
  color: #fff8ed;
  font-family: "Shin-Maru-GP-Regular";
  font-size: 1rem;
}

@media (max-width: 1399px) {
  .four-benefits-container .four-benefits .benefit-text-box p {
    font-size: 0.9rem;
  }
}
@media (max-width: 1199px) {
  .four-benefits-container .four-benefits .benefit-text-box p {
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {
  .four-benefits-container .four-benefits {
    width: 50%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .four-benefits-container .four-benefits .benefit-icon-box {
    width: 40%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .four-benefits-container .four-benefits .benefit-icon-box .benefit-icon {
    width: 50%;
    display: block;
    margin: auto;
  }
  .four-benefits-container .four-benefits .benefit-icon-box .benefit-icon .benefit-icon-colour-1 {
    fill: #a64343;
  }
  .four-benefits-container .four-benefits .benefit-icon-box .benefit-icon .benefit-icon-colour-2 {
    fill: #fff8ed;
  }
  .four-benefits-container .four-benefits .benefit-text-box {
    width: 100%;
  }
  .four-benefits-container .four-benefits .benefit-text-box p {
    text-align: center;
    color: #fff8ed;
    font-family: "Shin-Maru-GP-Regular";
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .four-benefits-container {
    padding: 0.25rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.25rem;
    margin-bottom: 2rem;
  }
  .four-benefits-container .four-benefits {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .four-benefits-container .four-benefits .benefit-icon-box {
    width: 25%;
    height: auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .four-benefits-container .four-benefits .benefit-icon-box .benefit-icon {
    width: 95%;
    display: block;
    padding-left: 0.5rem;
  }
  .four-benefits-container .four-benefits .benefit-icon-box .benefit-icon .benefit-icon-colour-1 {
    fill: #a64343;
  }
  .four-benefits-container .four-benefits .benefit-icon-box .benefit-icon .benefit-icon-colour-2 {
    fill: #fff8ed;
  }
  .four-benefits-container .four-benefits .benefit-text-box {
    width: 75%;
  }
  .four-benefits-container .four-benefits .benefit-text-box p {
    font-family: "Shin-Maru-GP-Regular";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
/* CALL TO ACTION */
.call-to-action {
  background-color: #f7e2d7;
  padding-bottom: 2rem;
}
.call-to-action .cta-container {
  display: flex;
  gap: 0.5rem;
}
.call-to-action .cta-container .cta-image {
  width: 50%;
}
.call-to-action .cta-container .cta-image .img {
  display: block;
  width: 100%;
  padding: 1rem;
}
.call-to-action .cta-container .cta-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.call-to-action .cta-container .cta-text .cta-text-box {
  width: 100%;
}
.call-to-action .cta-container .cta-text .cta-text-box .text-wrapper {
  background-image: url(../includes/summer-school-images/call-to-action/splash-text-bg.svg);
  position: relative;
  aspect-ratio: 287/120;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.call-to-action .cta-container .cta-text .cta-text-box .text-wrapper h3 {
  position: relative;
  color: white;
  font-family: "Shin-Maru-GP-Bold";
  text-align: left;
  width: 80%;
  display: block;
  margin: auto;
  z-index: 1;
}
.call-to-action .cta-container .cta-text .cta-text-box .text-wrapper .arrow {
  position: absolute;
  transform: translate(-100%, 0%);
  left: 100%;
  top: 50%;
  height: 50%;
  width: auto;
}
.call-to-action .cta-container .cta-text .cta-text-box .cta-button {
  color: white;
  background-color: #e95651;
  border-style: unset;
  margin-bottom: 2rem;
  z-index: 3;
}
.call-to-action .cta-container .cta-text .cta-text-box .cta-button:hover {
  color: #e95651;
  background-color: white;
}

@media (max-width: 1399px) {
  .call-to-action .cta-container {
    display: flex;
    gap: 0.5rem;
  }
  .call-to-action .cta-container .cta-image {
    width: 45%;
  }
  .call-to-action .cta-container .cta-text {
    width: 55%;
  }
  .call-to-action .cta-container .cta-text h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  .call-to-action .cta-container .cta-text h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .call-to-action .cta-container .cta-text h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .call-to-action {
    background-color: #f7e2d7;
    padding-bottom: 2rem;
  }
  .call-to-action .cta-container {
    display: block;
    gap: unset;
  }
  .call-to-action .cta-container .cta-image {
    width: 100%;
  }
  .call-to-action .cta-container .cta-image .img {
    display: block;
    width: 100%;
    padding: 1rem;
  }
  .call-to-action .cta-container .cta-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .call-to-action .cta-container .cta-text .cta-text-box {
    width: 100%;
  }
  .call-to-action .cta-container .cta-text .cta-text-box .text-wrapper {
    background-image: url(../includes/summer-school-images/call-to-action/splash-text-bg.svg);
    position: relative;
    aspect-ratio: 287/120;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .call-to-action .cta-container .cta-text .cta-text-box .text-wrapper h3 {
    position: relative;
    color: white;
    font-family: "Shin-Maru-GP-Bold";
    text-align: left;
    width: 80%;
    display: block;
    margin: auto;
    z-index: 1;
  }
  .call-to-action .cta-container .cta-text .cta-text-box .text-wrapper .arrow {
    position: absolute;
    transform: translate(-100%, 0%);
    left: 100%;
    top: 50%;
    height: 50%;
    width: auto;
  }
  .call-to-action .cta-container .cta-text .cta-text-box .cta-button {
    color: white;
    background-color: #e95651;
    border-style: unset;
    margin-bottom: 2rem;
    z-index: 3;
  }
  .call-to-action .cta-container .cta-text .cta-text-box .cta-button:hover {
    color: #e95651;
    background-color: white;
  }
}
/* ACTIVITIES SLIDER */
.activities {
  background-color: #ffc759;
}
.activities .header {
  color: #5d3d2d;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.activities .swiper-button-wrapper {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.activities .swiper-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0) 98%);
          mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0) 98%);
}
.activities .activity-slide {
  position: relative;
  border-radius: 1rem;
  border-width: 0.25rem;
  border-style: solid;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
}
.activities .slide-date-box {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0rem 0rem 1rem 0rem;
  display: flex;
  align-items: center;
  border-width: 0.25rem;
  transform: translateX(-1px);
  z-index: 1;
}
.activities .slide-date-box h3 {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  font-family: "Shin-Maru-GP-Bold";
  line-height: 1rem;
  padding: 0.5rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.activities .slide-date-box h3 .slide-day {
  font-size: 1rem;
}
.activities .activity-slider-img {
  width: 100%;
  border-radius: 0rem 0rem 1rem 1rem;
}
.activities .slide-lower {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activities .slide-lower h2 {
  font-size: 1rem;
  font-family: "Shin-Maru-GP-Bold";
  text-align: center;
}
.activities .special-time {
  font-family: "Shin-Maru-GP-Bold";
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  padding-top: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 2rem 2rem 0rem 0rem;
}
.activities .activity-slide-1 {
  background-color: #c5df9d;
  border-color: #c5df9d;
  color: #7c994b;
}
.activities .activity-slide-1 .slide-date-box {
  background-color: #c5df9d;
}
.activities .activity-slide-1 .slide-date-box h3 {
  color: #7c994b;
}
.activities .activity-slide-1 h2 {
  color: #7c994b;
}
.activities .activity-slide-2 {
  background-color: #f3acac;
  border-color: #f3acac;
  color: #c16f6f;
}
.activities .activity-slide-2 .slide-date-box {
  background-color: #f3acac;
}
.activities .activity-slide-2 .slide-date-box h3 {
  color: #c16f6f;
}
.activities .activity-slide-2 h2 {
  color: #c16f6f;
}
.activities .activity-slide-3 {
  background-color: #ed7a7a;
  border-color: #ed7a7a;
  color: #a64343;
}
.activities .activity-slide-3 .slide-date-box {
  background-color: #ed7a7a;
}
.activities .activity-slide-3 .slide-date-box h3 {
  color: #a64343;
}
.activities .activity-slide-3 h2 {
  color: #a64343;
}
.activities .activity-slide-4 {
  background-color: #71cac4;
  border-color: #71cac4;
  color: #23877d;
}
.activities .activity-slide-4 .slide-date-box {
  background-color: #71cac4;
}
.activities .activity-slide-4 .slide-date-box h3 {
  color: #23877d;
}
.activities .activity-slide-4 h2 {
  color: #23877d;
}
.activities .activity-slide-special-1 {
  background-color: #ffd10f;
  border-color: #5d3d2c;
  color: #5d3d2c;
}
.activities .activity-slide-special-1 .slide-date-box {
  background-color: #5d3d2c;
}
.activities .activity-slide-special-1 .slide-date-box h3 {
  color: #ffd10f;
}
.activities .activity-slide-special-1 h2 {
  color: #5d3d2c;
}
.activities .activity-slide-special-1 .special-time {
  background-color: #5d3d2c;
  color: #ffd10f;
}
.activities .activity-slide-special-2 {
  background-color: #f390bc;
  border-color: #512846;
  color: #512846;
}
.activities .activity-slide-special-2 .slide-date-box {
  background-color: #512846;
}
.activities .activity-slide-special-2 .slide-date-box h3 {
  color: #f390bc;
}
.activities .activity-slide-special-2 h2 {
  color: #512846;
}
.activities .activity-slide-special-2 .special-time {
  background-color: #512846;
  color: #f390bc;
}
.activities .activity-slide-special-1, .activities .activity-slide-special-2 {
  background-image: linear-gradient(115deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 75%);
  background-size: 200% 100%;
  animation: shimmer-bg 3.5s infinite linear;
}
@keyframes shimmer-bg {
  0% {
    background-position: -300% 0;
  }
  100% {
    background-position: 300% 0;
  }
}
.activities .swiper-button-activity-prev {
  width: 3rem;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  overflow: none;
}
.activities .swiper-button-activity-next {
  width: 3rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100%;
  z-index: 1;
  top: 50%;
  overflow: none;
}
.activities .swiper-container-testimony {
  overflow-x: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 98%);
          mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 98%);
}

/* 4 DROPDOWN BUTTONS */
.info-dropdowns {
  background-color: #ffc759;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.dropdown-wrapper {
  background-color: #ffc759;
}

.dropdown-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.dropdown-row .btn-dropdown {
  width: 25%;
  position: relative;
}
.dropdown-row .btn-dropdown .dropdown {
  background-color: #5d3d2d;
  border: solid 0.2rem #5d3d2d;
  margin-top: 0.5rem;
  border-radius: 4rem;
  padding: 1rem;
  font-family: "Shin-Maru-GP-Bold";
  overflow-x: hidden;
  color: white;
  position: relative;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
}
.dropdown-row .btn-dropdown .dropdown-arrow {
  position: absolute;
  transform-origin: center;
  width: 2rem;
  right: 1rem;
  transition: transform 0.3s ease-in-out;
}
.dropdown-row .dropdown:hover,
.dropdown-row .dropdown:focus,
.dropdown-row .dropdown:not(.collapsed) {
  background-color: white;
  color: #5d3d2d;
}
.dropdown-row .dropdown:not(.collapsed) {
  transition-duration: 0.5s;
}
.dropdown-row .dropdown:not(.collapsed) .dropdown-arrow {
  transform: rotate(180deg);
  transition-duration: 0.2s;
}

@media (max-width: 991px) {
  .dropdown-row {
    display: flex;
  }
  .dropdown-row .btn-dropdown {
    width: 25%;
    position: relative;
    padding: 0rem;
  }
  .dropdown-row .btn-dropdown .dropdown {
    padding: 0.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 0.8rem;
  }
  .dropdown-row .btn-dropdown .dropdown-arrow {
    width: 1.5rem;
    right: 0.75rem;
  }
}
@media (max-width: 767px) {
  .dropdown-row {
    display: flex;
  }
  .dropdown-row .btn-dropdown {
    width: 25%;
    position: relative;
    padding: 0.5rem;
  }
  .dropdown-row .btn-dropdown .dropdown {
    font-size: 0.75rem;
  }
  .dropdown-row .btn-dropdown .dropdown-arrow {
    width: 1.2rem;
    right: 0.6rem;
  }
}
@media (max-width: 576px) {
  .dropdown-row {
    display: block;
    margin-bottom: 0rem;
  }
  .dropdown-row .btn-dropdown {
    width: 100%;
    position: relative;
    padding: unset;
  }
  .dropdown-row .btn-dropdown .dropdown {
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .dropdown-row .btn-dropdown .dropdown-arrow {
    width: 3rem;
    right: 0.75rem;
  }
}
@media (max-width: 375px) {
  .dropdown-row {
    display: block;
  }
  .dropdown-row .btn-dropdown {
    width: 100%;
    position: relative;
    padding: unset;
  }
  .dropdown-row .btn-dropdown .dropdown {
    border-radius: 4rem;
    height: auto;
    font-family: "Shin-Maru-GP-Bold";
    overflow-x: hidden;
    color: white;
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .dropdown-row .btn-dropdown .dropdown-arrow {
    width: 2.75rem;
    right: 0.5rem;
  }
}
/* DROPDOWN SECTION CONTENTS */
.dropdown-contents {
  background-color: #fff8ed;
  padding: 2rem;
  border-radius: 3rem;
}
.dropdown-contents .calendar-img {
  border-radius: 1rem;
}
.dropdown-contents .daily-Schedule-1, .dropdown-contents .daily-Schedule-2 {
  padding: 1rem;
}
.dropdown-contents .daily-Schedule-1 h5, .dropdown-contents .daily-Schedule-2 h5 {
  font-family: "Shin-Maru-GP-Bold";
  color: #5d3d2d;
}
.dropdown-contents .daily-Schedule-1 p, .dropdown-contents .daily-Schedule-2 p {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 0 !important;
  padding-bottom: 2rem;
}
.dropdown-contents .daily-Schedule-2 {
  background-color: white;
  border-radius: 1rem;
}
.dropdown-contents .schedule-lesson {
  display: flex;
  gap: 0.5rem;
}
.dropdown-contents .schedule-lesson .schedule-level {
  width: 50%;
}
.dropdown-contents .form-download-wrapper {
  position: relative;
  display: flex;
}
.dropdown-contents .form-download-wrapper a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: auto;
  background-color: #ffc759;
  border: 0.2rem solid #ffc759;
  border-radius: 3rem;
  font-family: "Shin-Maru-GP-Bold";
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  font-size: 1.5rem;
}
.dropdown-contents .form-download-wrapper a:hover {
  background-color: white;
  color: #ffc759;
  transition: ease-in-out 0.2s;
}
.dropdown-contents .event-details {
  margin-top: 2rem;
  border-radius: 1rem;
}

@media (max-width: 576px) {
  .dropdown-contents {
    background-color: #fff8ed;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  .dropdown-contents h5 {
    font-size: 1.25rem;
  }
  .dropdown-contents .schedule-lesson {
    display: block;
    gap: 0.5rem;
  }
  .dropdown-contents .schedule-lesson .schedule-level {
    width: 100%;
  }
  .dropdown-contents .form-download-wrapper {
    position: relative;
    display: block;
  }
  .dropdown-contents .form-download-wrapper a {
    width: 100%;
    justify-content: center;
    font-family: "Shin-Maru-GP-Bold";
    font-size: 1rem !important;
  }
}
/* GALLERY SLIDER */
.gallery {
  background-color: #f7e2d7;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.gallery h2 {
  color: #5d3d2d;
}
.gallery .gallery {
  background-color: none;
  position: relative;
}
.gallery .gallery .swiper {
  overflow-x: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 100%);
          mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 100%);
}
.gallery .gallery .swiper-img {
  display: block;
  width: 96%;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gallery .gallery .swiper-button-gallery-prev {
  width: 3rem;
  position: absolute;
  transform: translate(calc(-50% + 2.5rem), -50%);
  left: 0.5rem;
  z-index: 1;
  left: 0%;
  top: 50%;
  overflow: none;
}
.gallery .gallery .swiper-button-gallery-next {
  width: 3rem;
  position: absolute;
  transform: translate(calc(-50% - 2.5rem), -50%);
  right: 0.5rem;
  z-index: 1;
  left: 100%;
  top: 50%;
  overflow: none;
}

@media (max-width: 576px) {
  .swiper-img {
    display: block;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 1/1;
  }
  .swiper-custom-nav {
    padding: 7.5%;
  }
  .swiper-custom-nav-arrow {
    width: 3rem;
  }
}
/* FAQ */
.faq {
  background-color: #f7e2d7;
}
.faq h2 {
  color: #5d3d2d;
}

.bottom-section {
  background-color: #e8dccd;
  padding-bottom: -2rem;
}

.accordion {
  padding-bottom: 1rem;
}

.accordion-item {
  border: none !important;
  background-color: #fff8ed;
  border-radius: 3rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.accordion-btn-icon {
  transition: transform 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 3rem !important;
  transform: rotate(0deg);
}

.accordion-colors-1, .accordion-colors-2 {
  fill: none;
  stroke: #92c5eb;
  stroke-miterlimit: 10;
  stroke-width: 8px;
}

.accordion-button {
  color: #8f6f5f;
  background-color: #fff8ed;
  font-family: "Shin-Maru-GP-DeBold";
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3rem !important;
  filter: drop-shadow(none);
}

.accordion-text {
  font-family: "Shin-Maru-GP-Regular";
}

.accordion-button::after {
  display: none;
}

.accordion-button:focus,
.accordion-button:active {
  box-shadow: none !important;
  border-color: transparent !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  border: none !important;
  color: #63574a;
  box-shadow: none !important;
}

.accordion-body {
  font-family: "Noto Sans JP", sans-serif;
  color: #63574a;
  text-align: left;
  font-weight: 400;
  padding: 1rem;
  padding-top: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Sign Up and Pre Footer ------------------------------------------------------------------*/
.sign-up {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e95651;
}
.sign-up .sign-up-button {
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shin-Maru-GP-Bold";
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 6rem;
  transition: ease-in-out 0.2s;
  z-index: 1;
  width: 60%;
  margin: auto;
  color: white;
  background-color: #5d3d2d;
  border: solid;
  border-width: 0.25rem;
  border-color: #5d3d2d;
}
.sign-up .sign-up-button:hover {
  color: #5d3d2d;
  background-color: white;
}
.sign-up .sign-up-bg {
  fill: #fff;
}
.sign-up .sign-up-stroke {
  fill: #313133;
}
.sign-up .sign-up-main-colour {
  fill: #5d3d2d;
}
.sign-up .sign-up-instruction-header {
  font-size: 1.15rem;
  font-weight: bold;
}
.sign-up .bottom-button-right {
  float: left;
}
.sign-up .bottom-button-left {
  float: right;
}
.sign-up .sign-up-row {
  padding-bottom: 1rem;
}
.sign-up .sign-up-wrapper-left,
.sign-up .sign-up-wrapper-middle,
.sign-up .sign-up-wrapper-right {
  width: 97.5%;
  display: block;
}
.sign-up .sign-up-wrapper-left {
  margin-right: auto;
}
.sign-up .sign-up-wrapper-middle {
  margin-left: auto;
  margin-right: auto;
}
.sign-up .sign-up-wrapper-right {
  margin-left: auto;
}
.sign-up .sign-up-h2 {
  font-family: "Shin-Maru-GP-Bold";
  font-weight: bold;
  padding-bottom: 3rem;
  color: white;
}
.sign-up .sign-up-h3 {
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  color: white;
}
.sign-up .sign-up-p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  color: white;
}
@media (max-width: 576px) {
  .sign-up .sign-up-button {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.pre-footer {
  background-color: #e8dccd;
  margin-top: -3px;
}

.pre-footer-h2,
.pre-footer-p {
  color: #303135;
}/*# sourceMappingURL=summer-school.css.map */