html {
  background-color: #773819;
}

body {
  background-color: #773819;
}

nav {
  background-color: #773819;
}
nav .nav-links .button {
  background-color: unset;
  border-style: solid;
  border-width: 2px;
  border-color: #d2ac5f;
}
nav .nav-links .button-1 {
  background-color: #fcb550;
  background-image: url(../images/generic-images/stars-bg.svg);
  background-size: 30rem;
  background-position: top center;
}
nav .nav-links .button-1:hover {
  opacity: 1;
  background-color: rgb(251.1404494382, 159.797752809, 29.8595505618) !important;
}
nav .nav-links .button-1:active {
  opacity: 0.6;
}
nav .nav-links .button-2 {
  background-color: #d44534;
  background-image: url(../images/generic-images/polka-dots.svg);
  background-size: 30rem;
  background-position: top center;
}
nav .nav-links .button-2:hover {
  opacity: 1;
  background-color: rgb(175.7682926829, 51.9512195122, 37.2317073171) !important;
}
nav .nav-links .button-2:active {
  opacity: 0.6;
}
nav .nav-links .button-3 {
  background-color: #d286a3;
  background-image: url(../images/generic-images/diagonal-stripes-green.svg);
  background-size: 30rem;
  background-position: top center;
}
nav .nav-links .button-3:hover {
  opacity: 1;
  background-color: rgb(196.1746987952, 96.8253012048, 134.734939759) !important;
}
nav .nav-links .button-3:active {
  opacity: 0.6;
}
@media (max-width: 767.98px) {
  nav .nav-toggle {
    background-color: #d44534;
  }
  nav .nav-links {
    background-color: #d44534;
  }
  nav .sticky-cta {
    background-color: #d44534;
    background-image: url(../images/generic-images/diagonal-stripes-green.svg);
    background-size: 30rem;
    border-top: solid #d2ac5f 3px;
  }
  nav .sticky-cta .button-4 {
    font-family: "Shin-Maru-GP-Ultra";
    font-size: 1.5rem;
    background-color: #d286a3;
    background-image: url(../images/generic-images/polka-dots.svg);
    background-size: 30rem;
    background-position: top center;
    border-style: solid;
    border-width: 0.2rem;
    border-color: white;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 3rem;
  }
  nav .sticky-cta .button-4:hover {
    opacity: 1;
    background-color: rgb(196.1746987952, 96.8253012048, 134.734939759) !important;
  }
  nav .sticky-cta .button-4:active {
    opacity: 0.6;
  }
}

.swiper-nav .previous,
.swiper-nav .next {
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 50%;
  border-color: #d2ac5f;
}
.swiper-nav .previous .swiper-button-bg,
.swiper-nav .next .swiper-button-bg {
  fill: #d44534 !important;
}
.swiper-nav .previous .swiper-button-arrow,
.swiper-nav .next .swiper-button-arrow {
  fill: white !important;
}

.transition-top-mobile, .transition-bottom-mobile {
  display: none;
}

.transition-top-desktop {
  display: flex;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 101%;
}

.transition-bottom-desktop {
  display: flex;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 101%;
  bottom: -2px;
}

@media (max-width: 767.98px) {
  .transition-top-desktop, .transition-bottom-desktop {
    display: none;
  }
  .transition-top-mobile {
    display: flex;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 101%;
  }
  .transition-bottom-mobile {
    display: flex;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 101%;
    bottom: -1px;
  }
}
.hero {
  height: 105vh;
  max-height: 1026px;
  min-height: 920px;
  background-color: #fbf9f0;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.hero .mobile-transition, .hero .hero-details-mobile {
  display: none;
}
.hero .hero-side-left, .hero .hero-side-right {
  width: 27.5%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  display: flex;
}
.hero .hero-side-left .party-logo, .hero .hero-side-right .party-logo {
  width: 80%;
  max-width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
  z-index: 1;
}
.hero .hero-center {
  width: 45%;
  height: 100%;
  min-height: 700px;
  position: relative;
  margin-top: 5%;
  background-image: url(../images/hero/hero-desktop-center-image.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero .hero-center .cta-primary {
  border: solid 0.15rem white;
  background-color: #fcb550;
  background-image: url(../images/generic-images/polka-dots.svg);
  background-size: 30rem;
  background-position: top center;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 5rem;
  padding-right: 5rem;
  transition: 0.3s;
  justify-content: center;
}
.hero .hero-center .cta-primary:hover {
  opacity: 1;
  background-color: #d2ac5f;
  border-color: white;
}
.hero .hero-center .cta-primary:active {
  opacity: 0.6;
}
@media (max-width: 575.98px) {
  .hero .hero-center .cta-primary {
    width: 90%;
    padding-left: unset;
    padding-right: unset;
  }
}
.hero .hero-center .hero-center-inner {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.hero .hero-center .hero-center-inner .chocolate-party-logo {
  width: 70%;
  max-width: 500px;
  height: auto;
}
.hero .hero-center .hero-center-inner h1 {
  color: #773819;
  font-family: "Shin-Maru-GP-Ultra";
  max-width: 95%;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1rem;
}
.hero .hero-center .hero-center-inner h2 {
  color: #773819;
  font-family: "Shin-Maru-GP-Ultra";
  text-align: center;
  max-width: 75%;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.hero .hero-center .hero-center-inner .small {
  font-family: "Shin-Maru-GP-Regular";
  color: #773819;
  margin-bottom: 0.5rem;
}
.hero .hero-side-left {
  background-color: #d286a3;
  background-image: url(../images/hero/giftlab-bg.webp);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero .hero-side-left .parent-gift {
  position: absolute;
  width: 70%;
  max-width: 300px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
}
.hero .hero-side-left .hero-side-left-transition {
  position: absolute;
  transform: translate(calc(-100% + 1px), 0%);
  left: 100%;
  height: 400%;
  top: -10px;
}
.hero .hero-side-right {
  background-color: #ffcd58;
  background-image: url(../images/hero/fountain-bg.webp);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero .hero-side-right .chocolate-fountain {
  width: 77.5%;
  max-width: 375px;
  height: auto;
  position: absolute;
  z-index: 0;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 95%;
}
.hero .hero-side-right .hero-side-right-transition {
  position: absolute;
  left: 0%;
  height: 400%;
  top: -10px;
}
.hero .hero-bottom-people-left, .hero .hero-bottom-people-right {
  position: absolute;
  transform: translate(-50%, 0%);
  bottom: 5%;
  width: 350px;
}
.hero .hero-bottom-people-left {
  left: 25%;
}
.hero .hero-bottom-people-right {
  left: 75%;
}
.hero .hero-bottom {
  position: absolute;
  transform: translate(-50%, 0%);
  width: 101%;
  left: 50%;
  bottom: 0%;
}
@media (max-width: 1399.98px) {
  .hero {
    max-height: 780px;
    min-height: 760px;
  }
  .hero .hero-side-left, .hero .hero-side-right {
    width: 30%;
  }
  .hero .hero-side-left .party-logo, .hero .hero-side-right .party-logo {
    width: 80%;
    max-width: 300px;
  }
  .hero .hero-center {
    width: 40%;
    height: 100%;
    min-height: 850px;
    position: relative;
    margin-top: 2%;
  }
  .hero .hero-center .hero-center-inner h1 {
    font-size: 2rem;
  }
  .hero .hero-center .hero-center-inner h2 {
    font-size: 1.25rem;
  }
  .hero .hero-side-left .parent-gift {
    max-width: 275px;
  }
  .hero .hero-side-right .chocolate-fountain {
    max-width: 250px;
  }
  .hero .hero-bottom-people-left, .hero .hero-bottom-people-right {
    width: 225px;
  }
  .hero .hero-bottom-people-left {
    left: 27%;
  }
  .hero .hero-bottom-people-right {
    left: 73%;
  }
  .hero .hero-bottom {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 101%;
    left: 50%;
    bottom: 0%;
  }
}
@media (max-width: 1199.98px) {
  .hero {
    max-height: 760px;
    min-height: 700px;
  }
  .hero .hero-side-left, .hero .hero-side-right {
    width: 30%;
  }
  .hero .hero-side-left .party-logo, .hero .hero-side-right .party-logo {
    width: 80%;
    max-width: 300px;
  }
  .hero .hero-center {
    width: 40%;
    height: 100%;
    min-height: 850px;
    position: relative;
    margin-top: 2%;
  }
  .hero .hero-center .hero-center-inner h1 {
    font-size: 1.75rem;
    max-width: 100%;
  }
  .hero .hero-center .hero-center-inner h2 {
    font-size: 1.15rem;
    max-width: 95%;
  }
  .hero .hero-side-left .parent-gift {
    max-width: 275px;
  }
  .hero .hero-side-right .chocolate-fountain {
    max-width: 250px;
  }
  .hero .hero-bottom-people-left, .hero .hero-bottom-people-right {
    width: 210px;
  }
  .hero .hero-bottom-people-left {
    left: 25%;
  }
  .hero .hero-bottom-people-right {
    left: 75%;
  }
  .hero .hero-bottom {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 101%;
    left: 50%;
    bottom: 0%;
  }
}
@media (max-width: 991.98px) {
  .hero {
    max-height: 700px;
    min-height: 600px;
  }
  .hero .hero-side-left, .hero .hero-side-right {
    width: 27.5%;
  }
  .hero .hero-side-left .party-logo, .hero .hero-side-right .party-logo {
    width: 80%;
    max-width: 300px;
  }
  .hero .hero-center {
    width: 45%;
    height: 100%;
    min-height: 850px;
    position: relative;
    margin-top: 2%;
  }
  .hero .hero-center .hero-center-inner h1 {
    font-size: 1.5rem;
  }
  .hero .hero-center .hero-center-inner h2 {
    font-size: 1.1rem;
  }
  .hero .hero-center .hero-center-inner .cta-primary {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
  }
  .hero .hero-side-left .parent-gift {
    max-width: 275px;
  }
  .hero .hero-side-right .chocolate-fountain {
    max-width: 275px;
  }
  .hero .hero-bottom-people-left, .hero .hero-bottom-people-right {
    width: 180px;
  }
  .hero .hero-bottom-people-left {
    left: 25%;
  }
  .hero .hero-bottom-people-right {
    left: 75%;
  }
  .hero .hero-bottom {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 101%;
    left: 50%;
    bottom: 0%;
  }
}
@media (max-width: 767.98px) {
  .hero {
    max-height: unset;
    min-height: unset;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: -10px;
    flex-direction: column;
  }
  .hero .hero-side-left, .hero .hero-side-right, .hero .hero-bottom-people-left, .hero .hero-bottom-people-right, .hero .hero-bottom, .hero .mobile-break {
    display: none;
  }
  .hero .hero-center {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    position: relative;
    margin-top: 1rem;
  }
  .hero .hero-center .mobile-transition {
    display: flex;
    position: absolute;
    transform: translate(-50%, -100%);
    top: 100%;
    left: 50%;
    width: 101%;
    z-index: 0;
  }
  .hero .hero-center .hero-center-inner {
    width: 95%;
    z-index: 20;
    margin-bottom: 10%;
  }
  .hero .hero-center .hero-center-inner .chocolate-party-logo {
    width: 90%;
    max-width: 450px;
  }
  .hero .hero-center .hero-center-inner h1 {
    font-size: clamp(1.3rem, 1.3rem + 0.7rem * (100vw - 320px) / 447.98px, 2rem);
  }
  .hero .hero-center .hero-center-inner h2 {
    font-size: clamp(0.9rem, 0.9rem + 0.35rem * (100vw - 320px) / 447.98px, 1.25rem);
  }
  .hero .hero-center .hero-center-inner .cta-primary {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    z-index: 30;
    border: unset;
  }
  .hero .hero-details-mobile {
    display: block;
    background-image: url(../images/hero/hero-details-mobile-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 125vw;
    position: relative;
  }
  .hero .hero-details-mobile .giftlab-logo {
    position: absolute;
    width: 45%;
    left: 1rem;
    top: 20vw;
  }
  .hero .hero-details-mobile .parent-gift {
    position: absolute;
    width: 40%;
    height: auto;
    transform: translate(0%, -50%);
    top: 65vw;
    left: 1rem;
  }
  .hero .hero-details-mobile .fountain-logo {
    position: absolute;
    width: 42.5%;
    right: 1rem;
    top: 35vw;
  }
  .hero .hero-details-mobile .chocolate-fountain {
    position: absolute;
    transform: translate(0%, 0%);
    bottom: 0;
    right: 1rem;
    width: 45%;
  }
}

.party-event-about {
  background-color: #773819;
  padding-top: 0rem;
}
.party-event-about .about-images {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: auto;
}
.party-event-about .text h2 {
  font-family: "Shin-Maru-GP-Ultra";
  color: white;
}
.party-event-about .text p {
  padding: 1rem;
  color: white;
  font-weight: bold;
  padding-left: 0;
}
.party-event-about .text .cta-secondary {
  background-color: #fcb550;
  background-image: url(../images/generic-images/diagonal-stripes-green.svg);
  background-size: cover;
  border: solid 0.2rem #d2ac5f;
  transition: 0.3s;
}
.party-event-about .text .cta-secondary:hover {
  opacity: 1;
  background-color: rgb(251.1404494382, 159.797752809, 29.8595505618) !important;
  border-color: #d2ac5f;
}

.reason-box-1, .reason-box-2, .reason-box-3 {
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #d2ac5f;
  background-size: 300%;
}

.reason-box-1 {
  background-color: #fcb550;
  background-image: url(../images/generic-images/polka-dots.svg);
}

.reason-box-2 {
  background-color: #d44534;
  background-image: url(../images/generic-images/diagonal-stripes-green.svg);
}

.reason-box-3 {
  background-color: #d286a3;
  background-image: url(../images/generic-images/stars-bg.svg);
}

.three-reasons-swiper {
  background-color: #773819;
}

.schools-list {
  background-color: #773819;
  background-image: url(../images/about-event/about-event-bg-bottom.svg);
  background-size: 105%;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.schools-list .section-h2 {
  color: white;
  font-family: "Shin-Maru-GP-Ultra";
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.schools-list .prefecture-tokyo {
  background-color: #ef3e24 !important;
  border-width: 0.2rem;
  border-color: white;
  border: solid 0.2rem #d2ac5f;
}
.schools-list .prefecture-tokyo .prefecture-header {
  background-color: #ef3e24 !important;
  color: #ef3e24;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  border-style: solid;
}
.schools-list .prefecture-tokyo .prefecture-header h2 {
  color: white;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-tokyo .prefecture-header svg.location-pin .map-pin-3-bg-color {
  fill: white;
}
.schools-list .prefecture-tokyo .prefecture-header svg.location-pin .map-pin-3-main-color {
  fill: #ef3e24;
}
.schools-list .prefecture-tokyo .ward {
  background-color: white;
  border-style: none;
}
.schools-list .prefecture-tokyo .ward h3, .schools-list .prefecture-tokyo .ward h3 svg {
  color: #ef3e24;
  fill: #ef3e24;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-tokyo .ward ul li {
  color: #ef3e24;
}
@media screen and (max-width: 575.9px) {
  .schools-list .prefecture-tokyo {
    background-color: #ef3e24;
    border: solid 0.2rem #d2ac5f;
  }
  .schools-list .prefecture-tokyo .prefecture-header {
    background-color: #ef3e24;
    color: #ef3e24;
    padding-top: 1rem;
    padding-right: 1rem;
    border: unset;
  }
  .schools-list .prefecture-tokyo .wards-container {
    background-color: unset;
  }
  .schools-list .prefecture-tokyo .wards-container .ward {
    background-color: white;
  }
  .schools-list .prefecture-tokyo .wards-container .ward h3, .schools-list .prefecture-tokyo .wards-container .ward h3 svg {
    color: #ef3e24;
    fill: #ef3e24;
    font-family: "Shin-Maru-GP-Bold";
  }
  .schools-list .prefecture-tokyo .wards-container .ward ul li {
    color: #ef3e24;
  }
}
.schools-list .prefecture-kanagawa {
  background-color: #00b9c4 !important;
  border-width: 0.2rem;
  border-color: white;
  border: solid 0.2rem #d2ac5f;
}
.schools-list .prefecture-kanagawa .prefecture-header {
  background-color: #00b9c4 !important;
  color: #00b9c4;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  border-style: solid;
}
.schools-list .prefecture-kanagawa .prefecture-header h2 {
  color: white;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-kanagawa .prefecture-header svg.location-pin .map-pin-3-bg-color {
  fill: white;
}
.schools-list .prefecture-kanagawa .prefecture-header svg.location-pin .map-pin-3-main-color {
  fill: #00b9c4;
}
.schools-list .prefecture-kanagawa .ward {
  background-color: white;
  border-style: none;
}
.schools-list .prefecture-kanagawa .ward h3, .schools-list .prefecture-kanagawa .ward h3 svg {
  color: #00b9c4;
  fill: #00b9c4;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-kanagawa .ward ul li {
  color: #00b9c4;
}
@media screen and (max-width: 575.9px) {
  .schools-list .prefecture-kanagawa {
    background-color: #00b9c4;
    border: solid 0.2rem #d2ac5f;
  }
  .schools-list .prefecture-kanagawa .prefecture-header {
    background-color: #00b9c4;
    color: #00b9c4;
    padding-top: 1rem;
    padding-right: 1rem;
    border: unset;
  }
  .schools-list .prefecture-kanagawa .wards-container {
    background-color: unset;
  }
  .schools-list .prefecture-kanagawa .wards-container .ward {
    background-color: white;
  }
  .schools-list .prefecture-kanagawa .wards-container .ward h3, .schools-list .prefecture-kanagawa .wards-container .ward h3 svg {
    color: #00b9c4;
    fill: #00b9c4;
    font-family: "Shin-Maru-GP-Bold";
  }
  .schools-list .prefecture-kanagawa .wards-container .ward ul li {
    color: #00b9c4;
  }
}
.schools-list .prefecture-chiba {
  background-color: #58bf98 !important;
  border-width: 0.2rem;
  border-color: white;
  border: solid 0.2rem #d2ac5f;
}
.schools-list .prefecture-chiba .prefecture-header {
  background-color: #58bf98 !important;
  color: #58bf98;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  border-style: solid;
}
.schools-list .prefecture-chiba .prefecture-header h2 {
  color: white;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-chiba .prefecture-header svg.location-pin .map-pin-3-bg-color {
  fill: white;
}
.schools-list .prefecture-chiba .prefecture-header svg.location-pin .map-pin-3-main-color {
  fill: #58bf98;
}
.schools-list .prefecture-chiba .ward {
  background-color: white;
  border-style: none;
}
.schools-list .prefecture-chiba .ward h3, .schools-list .prefecture-chiba .ward h3 svg {
  color: #58bf98;
  fill: #58bf98;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-chiba .ward ul li {
  color: #58bf98;
}
@media screen and (max-width: 575.9px) {
  .schools-list .prefecture-chiba {
    background-color: #58bf98;
    border: solid 0.2rem #d2ac5f;
  }
  .schools-list .prefecture-chiba .prefecture-header {
    background-color: #58bf98;
    color: #58bf98;
    padding-top: 1rem;
    padding-right: 1rem;
    border: unset;
  }
  .schools-list .prefecture-chiba .wards-container {
    background-color: unset;
  }
  .schools-list .prefecture-chiba .wards-container .ward {
    background-color: white;
  }
  .schools-list .prefecture-chiba .wards-container .ward h3, .schools-list .prefecture-chiba .wards-container .ward h3 svg {
    color: #58bf98;
    fill: #58bf98;
    font-family: "Shin-Maru-GP-Bold";
  }
  .schools-list .prefecture-chiba .wards-container .ward ul li {
    color: #58bf98;
  }
}
.schools-list .prefecture-saitama {
  background-color: #f29320 !important;
  border-width: 0.2rem;
  border-color: white;
  border: solid 0.2rem #d2ac5f;
}
.schools-list .prefecture-saitama .prefecture-header {
  background-color: #f29320 !important;
  color: #f29320;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  border-style: solid;
}
.schools-list .prefecture-saitama .prefecture-header h2 {
  color: white;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-saitama .prefecture-header svg.location-pin .map-pin-3-bg-color {
  fill: white;
}
.schools-list .prefecture-saitama .prefecture-header svg.location-pin .map-pin-3-main-color {
  fill: #f29320;
}
.schools-list .prefecture-saitama .ward {
  background-color: white;
  border-style: none;
}
.schools-list .prefecture-saitama .ward h3, .schools-list .prefecture-saitama .ward h3 svg {
  color: #f29320;
  fill: #f29320;
  font-family: "Shin-Maru-GP-Bold";
}
.schools-list .prefecture-saitama .ward ul li {
  color: #f29320;
}
@media screen and (max-width: 575.9px) {
  .schools-list .prefecture-saitama {
    background-color: #f29320;
    border: solid 0.2rem #d2ac5f;
  }
  .schools-list .prefecture-saitama .prefecture-header {
    background-color: #f29320;
    color: #f29320;
    padding-top: 1rem;
    padding-right: 1rem;
    border: unset;
  }
  .schools-list .prefecture-saitama .wards-container {
    background-color: unset;
  }
  .schools-list .prefecture-saitama .wards-container .ward {
    background-color: white;
  }
  .schools-list .prefecture-saitama .wards-container .ward h3, .schools-list .prefecture-saitama .wards-container .ward h3 svg {
    color: #f29320;
    fill: #f29320;
    font-family: "Shin-Maru-GP-Bold";
  }
  .schools-list .prefecture-saitama .wards-container .ward ul li {
    color: #f29320;
  }
}

.logo-box {
  display: flex;
  flex-direction: column;
}

.party-logo-times-row {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 2rem;
}
.party-logo-times-row .logo-box {
  width: 55%;
  margin: auto;
}
@media screen and (max-width: 575.9px) {
  .party-logo-times-row .logo-box {
    width: 90%;
  }
}
.party-logo-times-row .time-disclaimer-wrapper {
  padding: 1rem;
  border-radius: 4rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.party-logo-times-row .time-disclaimer-wrapper .time-box {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.party-logo-times-row .time-disclaimer-wrapper .time-box h3 {
  font-family: "Shin-Maru-GP-Ultra";
}
@media screen and (max-width: 475.9px) {
  .party-logo-times-row .time-disclaimer-wrapper .time-box {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .party-logo-times-row .time-disclaimer-wrapper .time-box h3 {
    padding: unset;
    font-size: 1.5rem;
  }
}
.party-logo-times-row .time-disclaimer-wrapper .time-disclaimer {
  display: flex;
  margin: auto;
  font-size: 0.75rem;
}

.choco-lab {
  position: relative;
  background-color: #d286a3;
  padding-top: 0rem;
  z-index: 1;
  background-size: cover;
  background-image: url(../images/choco-lab/choco-lab-section-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.choco-lab .container {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  position: relative;
  z-index: 2;
}
.choco-lab .container .party-logo-times-row {
  margin-bottom: -4rem;
}
.choco-lab .container h3 {
  color: #fbf9f0;
  font-family: "Shin-Maru-GP-Ultra";
  font-size: 2rem;
}
.choco-lab .container p {
  color: #fbf9f0;
  font-size: 1.25rem;
}
.choco-lab .container .textbox {
  background-color: #773819;
  border: solid 0.5rem #fcb550;
  padding: 2rem;
  border-radius: 3rem;
}
.choco-lab .container .time-disclaimer-wrapper {
  background-color: #fbf9f0;
}
.choco-lab .container .time-disclaimer-wrapper h3, .choco-lab .container .time-disclaimer-wrapper .time-disclaimer {
  color: #773819;
}
.choco-lab .container .choco-lab-activity-1 {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-around;
}
.choco-lab .container .choco-lab-activity-1 .activity-text {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: center;
  align-items: center;
}
.choco-lab .container .choco-lab-activity-1 .activity-text .textbox {
  transform: rotate(-7deg);
}
.choco-lab .container .choco-lab-activity-1 .activity-img {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: left;
}
.choco-lab .container .choco-lab-activity-1 .activity-img img {
  width: 90%;
}
@media (max-width: 767.98px) {
  .choco-lab .container .choco-lab-activity-1 {
    margin-top: 2rem;
    flex-direction: column;
  }
  .choco-lab .container .choco-lab-activity-1 .activity-text {
    width: 100%;
    margin: auto;
  }
  .choco-lab .container .choco-lab-activity-1 .activity-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .choco-lab .container .choco-lab-activity-1 .activity-img img {
    margin: auto;
    width: 90%;
    z-index: 2;
    margin-top: -2rem;
  }
}
.choco-lab .container .choco-lab-activity-2-3-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2, .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 {
  background-color: #773819;
  border: solid 0.5rem #fcb550;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
  transform: rotate(-5deg);
  margin: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  max-width: calc(300px + 5rem);
}
.choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2 h3, .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 h3 {
  text-align: center;
}
.choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2 img, .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 img {
  width: 100%;
  height: auto;
  margin: auto;
}
.choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2 {
  transform: rotate(5deg);
}
.choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 {
  transform: rotate(-3deg);
}
@media (max-width: 991.98px) {
  .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2, .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 {
    width: 50%;
    padding: 1rem;
  }
}
@media (max-width: 767.98px) {
  .choco-lab .container .choco-lab-activity-2-3-wrapper {
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2, .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 {
    width: 90%;
    max-width: calc(300px + 5rem);
    margin: auto;
    padding: 1rem;
    margin: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2 h3, .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 h3 {
    text-align: center;
  }
  .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-2 img, .choco-lab .container .choco-lab-activity-2-3-wrapper .text-imagebox-3 img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
.choco-lab .container .transition-bottom-desktop, .choco-lab .container .transition-bottom-mobile {
  z-index: 1;
}

.cta-party-times-timeline {
  background: #fbf9f0;
  background-image: url(../images/generic-images/cta-bg.png);
  background-size: cover;
  background-position: center;
}
.cta-party-times-timeline .container {
  padding-top: 12vw;
  padding-bottom: 12vw;
}
.cta-party-times-timeline .container .party-arrow-text {
  fill: #773819;
}
.cta-party-times-timeline .container .party-arrow-shape {
  fill: #d2ac5f;
  stroke: #773819;
  stroke-width: 0.25rem;
}
.cta-party-times-timeline .container .party-times-box h2 {
  color: #773819;
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline {
  border-color: #773819;
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline h3 {
  font-family: "Shin-Maru-GP-Ultra";
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline h4 {
  font-family: "Shin-Maru-GP-Ultra";
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline .party-number,
.cta-party-times-timeline .container .party-times-box .party-times-timeline .party-time {
  color: #773819;
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline .party-1-3-box {
  background-color: #d286a3;
  color: #fbf9f0;
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline .party-2-4-box {
  background-color: #ffcd58;
  color: #773819;
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline .interlude {
  background-color: #773819;
  color: #fbf9f0;
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline .interlude p {
  color: #fbf9f0;
}
.cta-party-times-timeline .container .party-times-box .party-times-timeline .lunch-break {
  background-color: gainsboro;
  border-left-color: gray;
  border-right-color: gray;
}
.cta-party-times-timeline .container .party-times-box p,
.cta-party-times-timeline .container .party-times-box .party-times-link {
  color: #773819;
  font-family: "Shin-Maru-GP-Bold";
}
.cta-party-times-timeline .container .cta-primary {
  background-color: #d2ac5f;
  background-image: url(../images/generic-images/polka-dots.svg);
  color: #773819;
}
.cta-party-times-timeline .container .cta-primary:hover {
  background-color: rgb(198.243902439, 151.1609756098, 55.756097561) !important;
}
@media (max-width: 767.98px) {
  .cta-party-times-timeline .container {
    padding-top: 30vw;
    padding-bottom: 30vw;
  }
}

.choco-fountain {
  position: relative;
  background-color: #ffcd58;
  background-image: url(../images/fountain/fountain-bg.png);
  background-position: center;
  background-size: contain;
  overflow: hidden;
}
.choco-fountain .container {
  padding-top: 20vw;
  padding-bottom: 10vw;
}
.choco-fountain .container .time-box {
  background-color: #773819;
}
.choco-fountain .container .time-box h3 {
  color: #fbf9f0;
}
.choco-fountain .container .time-disclaimer-wrapper {
  background-color: #773819;
}
.choco-fountain .container .time-disclaimer-wrapper h3, .choco-fountain .container .time-disclaimer-wrapper .time-disclaimer {
  color: #fbf9f0;
}
.choco-fountain .container .textbox-1, .choco-fountain .container .textbox-2, .choco-fountain .container .textbox-3 {
  background-color: #773819;
  padding: 2rem;
  border-radius: 3rem;
  filter: drop-shadow(0 0.3rem 0 #dfab4a);
}
.choco-fountain .container .textbox-1 h3, .choco-fountain .container .textbox-2 h3, .choco-fountain .container .textbox-3 h3 {
  color: #fbf9f0;
  font-family: "Shin-Maru-GP-Ultra";
  font-size: 2rem;
}
.choco-fountain .container .textbox-1 p, .choco-fountain .container .textbox-2 p, .choco-fountain .container .textbox-3 p {
  color: #fbf9f0;
  font-size: 1.25rem;
}
.choco-fountain .container .textbox-1 p .small, .choco-fountain .container .textbox-2 p .small, .choco-fountain .container .textbox-3 p .small {
  font-size: 0.9rem;
}
.choco-fountain .container .textbox-3 {
  border: solid 0.5rem #f28394;
}
.choco-fountain .container .activities {
  display: flex;
  flex-direction: row;
  gap: 2;
  justify-content: space-around;
}
.choco-fountain .container .activities .activity-block-1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.choco-fountain .container .activities .activity-block-1 .textbox-1 {
  margin-top: -12rem;
  border: solid 0.5rem #cae1a7;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  transform: rotate(-3deg);
}
.choco-fountain .container .activities .activity-block-1 img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-left: auto;
}
.choco-fountain .container .activities .activity-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;
  z-index: 5;
}
.choco-fountain .container .activities .activity-block-2 .textbox-2-wrapper {
  transform: rotate(2deg);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 4/3.2;
  position: relative;
  margin-bottom: 5rem;
}
.choco-fountain .container .activities .activity-block-2 .textbox-2-wrapper .textbox-2 {
  border: solid 0.5rem #92d4d7;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.choco-fountain .container .activities .activity-block-2 .textbox-2-wrapper .textbox-2 .donut-activity {
  position: absolute;
  transform: translate(0%, -100%);
  width: 90%;
  left: 0%;
  top: 125%;
}
.choco-fountain .container .activities .activity-block-2 .textbox-2-wrapper .donut-activity-outer {
  position: absolute;
  transform: translate(0%, -100%);
  width: calc(90% - 1rem);
  left: 0.5rem;
  top: calc(120% + 0.5rem);
}
@media (max-width: 1199.98px) {
  .choco-fountain .container .activities .activity-block-2 .textbox-2-wrapper {
    aspect-ratio: 1/1;
  }
}
@media (max-width: 991.98px) {
  .choco-fountain .container .activities .activity-block-2 .textbox-2-wrapper {
    aspect-ratio: 1/1.25;
  }
}
.choco-fountain .container .activities .textbox-3 {
  width: 100%;
  transform: rotate(2deg);
}
.choco-fountain .container .activities .textbox-3 img {
  width: 50%;
  min-width: 200px;
  height: auto;
  padding-top: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}
@media (max-width: 767.98px) {
  .choco-fountain .container .activities {
    flex-direction: column;
  }
  .choco-fountain .container .activities .activity-block-1, .choco-fountain .container .activities .activity-block-2 {
    width: 100%;
  }
  .choco-fountain .container .activities .activity-block-1 {
    padding-bottom: 10vw;
  }
  .choco-fountain .container .activities .activity-block-2 .textbox-2-wrapper {
    aspect-ratio: unset;
    height: 95vw;
    max-height: 410px;
    min-height: 350px;
  }
}

.all-parties {
  background-color: #773819;
  overflow-x: hidden;
}
.all-parties .container p {
  font-size: 1.25rem;
}
.all-parties .container .top-h2 {
  background-color: #d2ac5f;
  color: #773819;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  border-radius: 3rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: "Shin-Maru-GP-Ultra";
}
.all-parties .container .top-p {
  background-color: #d2ac5f;
  color: #773819;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.all-parties .container .photobooth-row {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  margin-top: 2rem;
}
.all-parties .container .photobooth-row .photobooth-image {
  width: 45%;
}
.all-parties .container .photobooth-row .photobooth-text {
  width: 45%;
  background-color: #fbf9f0;
  color: #773819;
  padding: 2rem;
  transform: rotate(8deg); /* use transform for better compatibility */
  border: solid 0.3rem #773819;
  border-radius: 2rem;
  position: relative; /* so .camera absolute positions relative to this box */
}
.all-parties .container .photobooth-row p {
  font-weight: bold;
}
.all-parties .container .photobooth-row .camera {
  position: absolute;
  width: 7rem;
  left: calc(100% - 4rem);
  top: calc(100% - 4rem);
  transform: rotate(-3deg);
}
@media (max-width: 767.98px) {
  .all-parties .container .photobooth-row {
    flex-direction: column;
  }
  .all-parties .container .photobooth-row .photobooth-image {
    width: 90%;
  }
  .all-parties .container .photobooth-row .photobooth-text {
    width: 100%;
    margin-top: 2rem;
  }
}

.trading-card-row {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  margin-top: 2rem;
}
.trading-card-row .trading-card {
  max-width: 350px;
}
.trading-card-row .trading-card-text {
  text-align: center;
  width: 40%;
}
.trading-card-row .trading-card-text h3 {
  color: #fbf9f0;
  font-family: "Shin-Maru-GP-Ultra";
}
.trading-card-row .trading-card-text p {
  color: #fbf9f0;
  font-weight: bold;
}
@media (max-width: 767.98px) {
  .trading-card-row {
    flex-direction: column-reverse;
  }
  .trading-card-row .trading-card {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .trading-card-row .trading-card-text {
    width: 100%;
  }
}

.badge-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.badge-row .badge-image {
  width: 45%;
  max-width: 768px;
}
.badge-row .badge-text {
  width: 45%;
}
.badge-row h3 {
  color: #fbf9f0;
  font-family: "Shin-Maru-GP-Ultra";
}
.badge-row p {
  color: #fbf9f0;
  font-weight: bold;
}
@media (max-width: 767.98px) {
  .badge-row {
    flex-direction: column;
  }
  .badge-row .badge-image {
    width: 90%;
  }
  .badge-row .badge-text {
    width: 90%;
    text-align: center;
  }
}

.lower-cta {
  background-color: #fbf9f0;
  position: relative;
  padding-top: 0 !important;
  background-image: url(../images/generic-images/cta-bg.png);
  background-size: cover;
  background-position: center;
}
.lower-cta .lower-cta-contents {
  padding-top: 25vw;
  padding-bottom: 25vw;
}
.lower-cta .lower-cta-contents .image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-cta .lower-cta-contents .image img {
  width: 75%;
  z-index: 4;
}
.lower-cta .lower-cta-contents .text h2 {
  font-family: "Shin-Maru-GP-Ultra";
  color: #773819;
}
.lower-cta .lower-cta-contents .text .cta-button {
  border: solid 0.15rem white;
  background-color: #d2ac5f;
  background-image: url(../images/generic-images/diagonal-stripes-green.svg);
  background-size: 30rem;
  background-position: top center;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s;
  justify-content: center;
}
.lower-cta .lower-cta-contents .text .cta-button:hover {
  opacity: 1;
  background-color: rgb(198.243902439, 151.1609756098, 55.756097561) !important;
  border-color: white;
}
.lower-cta .lower-cta-contents .text .cta-button:active {
  opacity: 0.6;
}
@media (max-width: 575.98px) {
  .lower-cta .lower-cta-contents .text .cta-button {
    width: 90%;
    padding-left: unset;
    padding-right: unset;
  }
}
@media (max-width: 575.98px) {
  .lower-cta .lower-cta-contents .image {
    width: 80%;
  }
}

.gallery {
  background-color: #773819;
}
.gallery h2 {
  padding-bottom: 2rem;
  font-family: "Shin-Maru-GP-Ultra";
  color: white;
}
.gallery .close-modal {
  background-color: #fcb550;
}

.sign-up {
  background-color: #773819;
}
.sign-up h2 {
  padding-top: 2rem;
}
.sign-up .sign-up-bg {
  fill: white;
}
.sign-up .sign-up-main-colour {
  fill: #d2ac5f !important;
}
.sign-up .sign-up-stroke {
  fill: #773819 !important;
}
.sign-up .button-1, .sign-up .button-2 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 425px;
  transition: ease-in-out 0.2s;
  border: solid 0.15rem white;
}
.sign-up .button-1 {
  background-color: #fcb550;
  background-image: url(../images/generic-images/stars-bg.svg);
  background-size: 30rem;
  background-position: top center;
}
.sign-up .button-1:hover {
  opacity: 1;
  background-color: rgb(251.1404494382, 159.797752809, 29.8595505618) !important;
}
.sign-up .button-2 {
  background-color: #d44534;
  background-image: url(../images/generic-images/diagonal-stripes-green.svg);
  background-size: 30rem;
  background-position: top center;
}
.sign-up .button-2:hover {
  opacity: 1;
  background-color: rgb(175.7682926829, 51.9512195122, 37.2317073171) !important;
}

.sign-up {
  padding-top: 2rem;
}
.sign-up h2 {
  color: white;
  font-family: "Shin-Maru-GP-Ultra";
}
.sign-up h3 {
  font-family: "Shin-Maru-GP-Ultra";
  color: white;
  text-align: center;
}
.sign-up p {
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 767.98px), screen and (max-aspect-ratio: 1/1) {
  .sign-up {
    padding-top: 0rem;
  }
}

.form-body {
  background-color: #fbf9f0;
  background-image: url(../images/generic-images/cta-bg.png);
  background-size: cover;
}
.form-body .form-page {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 7rem;
}
.form-body .form-page .logo-wrapper {
  width: 35%;
  padding: 2rem;
}
.form-body .form-page .logo-wrapper .logo {
  width: 100%;
  height: auto;
}
.form-body .form-page .logo-wrapper p {
  text-align: center;
  color: #773819;
  font-size: 0.8rem;
}
.form-body .form-page .mid-wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.form-body .form-page .mid-wrapper h1 {
  font-family: "Shin-Maru-GP-Ultra";
  color: #773819;
  font-size: 2rem;
  text-align: center;
}
.form-body .form-page .mid-wrapper .button-box {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  padding-top: 2rem;
  flex-direction: column;
}
.form-body .form-page .mid-wrapper .button-box .cta-button {
  border: solid white 0.15rem;
  text-align: center;
  justify-content: center;
}
.form-body .form-page .mid-wrapper .button-box .btn-1, .form-body .form-page .mid-wrapper .button-box .btn-2 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 425px;
  transition: ease-in-out 0.2s;
}
.form-body .form-page .mid-wrapper .button-box .btn-1 {
  background-color: #fcb550;
  background-image: url(../images/generic-images/stars-bg.svg);
  background-size: 30rem;
  background-position: top center;
}
.form-body .form-page .mid-wrapper .button-box .btn-1:hover {
  opacity: 1;
  background-color: rgb(251.1404494382, 159.797752809, 29.8595505618) !important;
}
.form-body .form-page .mid-wrapper .button-box .btn-2 {
  background-color: #d286a3;
  background-image: url(../images/generic-images/diagonal-stripes-green.svg);
  background-size: 30rem;
  background-position: top center;
}
.form-body .form-page .mid-wrapper .button-box .btn-2:hover {
  opacity: 1;
  background-color: rgb(196.1746987952, 96.8253012048, 134.734939759) !important;
}
.form-body .form-page .mid-wrapper .button-box .btn-2:active {
  opacity: 0.6;
}
.form-body .form-page .mid-wrapper p {
  color: #773819;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.form-body .form-page .jot {
  width: 30%;
}
@media screen and (max-width: 576.98px), screen and (max-aspect-ratio: 1/1) {
  .form-body .form-page {
    padding-top: 5rem;
    flex-direction: column;
  }
  .form-body .form-page .logo-wrapper {
    width: 100%;
    padding-top: 0;
  }
  .form-body .form-page .logo-wrapper .logo {
    display: flex;
    width: 75%;
    margin: auto;
    padding-top: 0 !important;
  }
  .form-body .form-page .mid-wrapper {
    width: 100%;
  }
  .form-body .form-page .mid-wrapper h1 {
    text-align: center;
  }
  .form-body .form-page .mid-wrapper .button-box {
    width: 100%;
    display: flex;
    margin: auto;
  }
  .form-body .form-page .mid-wrapper .button-box .cta-button {
    display: flex;
    margin: auto;
  }
  .form-body .form-page .mid-wrapper .button-box p {
    width: 80%;
  }
  .form-body .form-page .jot {
    margin: auto;
    width: 50%;
  }
}

.bottom {
  background-color: #fbf9f0;
  background-image: url(../images/generic-images/bottom-transition-top.svg), url(../images/generic-images/diagonal-stripes-green.svg);
  background-size: 105%, 300%;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 5rem;
}
.bottom h3, .bottom p {
  color: #773819;
}

.tutorial {
  color: #773819;
  transition: ease-in-out 0.2s;
}
.tutorial:hover {
  opacity: 0.6;
}/*# sourceMappingURL=chocolate-2026.css.map */