

$chocolate-offwhite: #fbf9f0;
$chocolate-brown: #773819;

$chocolate-flat-gold: #fcb550;
$chocolate-flat-gold-dark: #d2ac5f;
$chocolate-red: #d44534;
$chocolate-pink: #d286a3;
$chocolate-gold-gradient: linear-gradient(
  90deg,
  rgba(245, 169, 100, 1) 0%,
  rgba(250, 179, 80, 1) 60%,
  rgba(247, 241, 155, 1) 100%
);



$giftlab-pink: #d286a3;
$fountain-yellow: #ffcd58;





@use "sass:map";

$prefecture-themes: (
  tokyo:    ( color: #ef3e24 ),
  kanagawa: ( color: #00b9c4),
  chiba:    ( color: #58bf98 ),
  saitama:  ( color: #f29320 )
);


html{
    background-color: $chocolate-brown;
}

body{
  background-color: $chocolate-brown;
}

// NAVBAR

nav{
    background-color: $chocolate-brown;



.nav-links{

    .button{
        background-color: unset;
        border-style: solid;
        border-width: 2px;
        border-color: $chocolate-flat-gold-dark;
    }

.button-1 {
    background-color: $chocolate-flat-gold ;
    background-image: url(../images/generic-images/stars-bg.svg);
    background-size: 30rem;
    background-position: top center;
    &:hover {
        opacity: 1;
        background-color: darken($chocolate-flat-gold, 10%) !important;
    }

    &:active{
        opacity: .6;
    }
}


.button-2 {
    background-color: $chocolate-red;
    background-image: url(../images/generic-images/polka-dots.svg);
    background-size: 30rem;
    background-position: top center;
    &:hover {
        opacity: 1;
        background-color: darken($chocolate-red, 10%) !important;
    }

    &:active{
        opacity: .6;
    }
}

.button-3 {
    background-color: $chocolate-pink;
    background-image: url(../images/generic-images/diagonal-stripes-green.svg);
    background-size: 30rem;
    background-position: top center;
    &:hover {
        opacity: 1;
        background-color: darken( $chocolate-pink, 10%) !important;
    }
    &:active{
        opacity: .6;
    }
}
}

@media (max-width: 767.98px) {
    .nav-toggle{
        background-color: $chocolate-red;
    }


    .nav-links{
        background-color: $chocolate-red;

    }

    .sticky-cta{
        background-color: $chocolate-red;
        background-image: url(../images/generic-images/diagonal-stripes-green.svg);
        background-size: 30rem;
        border-top: solid $chocolate-flat-gold-dark 3px ;

    .button-4{
        font-family: "Shin-Maru-GP-Ultra";
        font-size: 1.5rem;
        background-color: $chocolate-pink;
        background-image: url(../images/generic-images/polka-dots.svg);
        background-size: 30rem;
        background-position: top center;
        border-style: solid;
        border-width: .2rem;
        border-color: white;
        height: fit-content;
        border-radius: 3rem;

            &:hover {
        opacity: 1;
        background-color: darken($chocolate-pink, 10%) !important;
    }

    &:active{
        opacity: .6;
    }
        }

    }
}
}

// SWIPER NAV COMMON


.swiper-nav{
    .previous,
.next{

        border-style: solid;
        border-width: .2rem;
        border-radius: 50%;
        border-color: $chocolate-flat-gold-dark;

      .swiper-button-bg{
      fill: $chocolate-red !important;

    }
    .swiper-button-arrow{
      fill: white !important;
    }
}
}



// TRANSITION CONTROLS

.transition-top-mobile, .transition-bottom-mobile{
  display: none;
}


.transition-top-desktop{
  display: flex;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 101%;
}

.transition-bottom-desktop{
    display: flex;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 101%;
  bottom: -2px;
}



@media (max-width: 767.98px) { 

.transition-top-desktop, .transition-bottom-desktop{
  display: none;
}

.transition-top-mobile{
  display: flex;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 101%;
}

.transition-bottom-mobile{
    display: flex;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 101%;
  bottom: -1px;
}

}

// -----------------------------
// HERO
// -----------------------------

.hero{

  height: 105vh;
  max-height: 1026px;
  min-height: 920px;
  background-color: $chocolate-offwhite;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
.mobile-transition, .hero-details-mobile{
  display: none;
}

.hero-side-left, .hero-side-right{
  width: 27.5%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  display: flex;
  
  .party-logo{
    width: 80%;
    max-width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    z-index: 1;
  }
}

.hero-center{
  width: 45%;
  height: 100%;
  min-height: 700px;
  position: relative;    
  margin-top: 5%;
  background-image: url(../images/hero/hero-desktop-center-image.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;

.cta-primary{
  border: solid .15rem white;
  background-color: $chocolate-flat-gold;
  background-image: url(../images/generic-images/polka-dots.svg);
  background-size: 30rem;
  background-position: top center;
  width: fit-content;
  padding-left: 5rem;
  padding-right: 5rem;
  transition: .3s;

    justify-content: center;
    &:hover {
        opacity: 1;
        background-color: $chocolate-flat-gold-dark;

        border-color: white;

    }

    &:active{
        opacity: .6;
    }

        @media (max-width: 575.98px) {
          width: 90%;
          padding-left: unset;
          padding-right: unset;
}

}


  .hero-center-inner{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;

    .chocolate-party-logo{
      width: 70%;
      max-width: 500px;
      height: auto;
    }


    h1{
      color: $chocolate-brown;
      font-family: "Shin-Maru-GP-Ultra";
      max-width: 95%;
      text-align: center;
      font-size: 2.5rem;
      padding-top: 1rem;
    }

    h2{
      color: $chocolate-brown;
             font-family: "Shin-Maru-GP-Ultra";
             text-align: center;
             max-width: 75%;
             font-size: 1.5rem;
             padding-top: .5rem;
             padding-bottom: 1rem;
    }

  }
}

.hero-side-left{
  background-color: $giftlab-pink;
  background-image: url(../images/hero/giftlab-bg.webp);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;

  .parent-gift{
    position: absolute;
    width: 70%;
    max-width: 300px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
  }

  .hero-side-left-transition{
    position: absolute;
    transform: translate(calc(-100% + 1px ), 0%);
    left: 100%;
    height: 400%;
    top: -10px
  }



}

.hero-side-right{
  background-color: $fountain-yellow;
  background-image: url(../images/hero/fountain-bg.webp);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;

  .chocolate-fountain{
    width: 77.5%;
    max-width: 375px;
    height: auto;
    position: absolute;
    z-index: 0;
    transform: translate(-50%, -100%);
    left: 50%;
    top: 95%;
  }

  .hero-side-right-transition{
    position: absolute;
    left: 0%;
    height: 400%;
        top: -10px
}
}


.hero-bottom-people-left, .hero-bottom-people-right{
  position: absolute;
  transform: translate(-50%, -0%);
  bottom: 5%;
  width: 350px;

}

.hero-bottom-people-left{
  left: 25%;

}

.hero-bottom-people-right{
  left: 75%;
}


.hero-bottom{
  position: absolute;
  transform: translate(-50%, 0%);
  width: 101%;
  left: 50%;
  bottom: 0%;
}

@media (max-width: 1399.98px){

  max-height: 780px;
  min-height: 760px;

.hero-side-left, .hero-side-right {
  width: 30%;

    .party-logo{
    width: 80%;
    max-width: 300px;
  }
}

.hero-center {
  width: 40%;
  height: 100%;
  min-height: 850px;
  position: relative;
  margin-top: 2%;


  .hero-center-inner {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }
}

.hero-side-left {
  .parent-gift {
    max-width: 275px;
  }
}

.hero-side-right {
  .chocolate-fountain {
    max-width: 250px;
  }
}

.hero-bottom-people-left, .hero-bottom-people-right {
  width: 225px;
}

.hero-bottom-people-left {
  left: 27%;
}

.hero-bottom-people-right {
  left: 73%;
}

.hero-bottom {
  position: absolute;
  transform: translate(-50%, 0%);
  width: 101%;
  left: 50%;
  bottom: 0%;
}
}

@media (max-width: 1199.98px) { 
  max-height: 760px;
  min-height: 700px;

.hero-side-left, .hero-side-right {
  width: 30%;

    .party-logo{
    width: 80%;
    max-width: 300px;
  }
}

.hero-center {
  width: 40%;
  height: 100%;
  min-height: 850px;
  position: relative;
  margin-top: 2%;


  .hero-center-inner {
    h1 {
      font-size: 1.75rem;
      max-width: 100%;
    }

    h2 {
      font-size: 1.15rem;
      max-width: 95%;
    }
  }
}

.hero-side-left {
  .parent-gift {
    max-width: 275px;
  }
}

.hero-side-right {
  .chocolate-fountain {
    max-width: 250px;
  }
}

.hero-bottom-people-left, .hero-bottom-people-right {
  width: 210px;
}

.hero-bottom-people-left {
  left: 25%;
}

.hero-bottom-people-right {
  left: 75%;
}

.hero-bottom {
  position: absolute;
  transform: translate(-50%, 0%);
  width: 101%;
  left: 50%;
  bottom: 0%;
}
}

@media (max-width: 991.98px) { 

  max-height: 700px;
  min-height: 600px;

.hero-side-left, .hero-side-right {
  width: 27.5%;

.party-logo{
    width: 80%;
    max-width: 300px;
  }
}

.hero-center {
  width: 45%;
  height: 100%;
  min-height: 850px;
  position: relative;
  margin-top: 2%;


  .hero-center-inner {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.1rem;
    }

    .cta-primary{
      text-align: center;
       width: fit-content;
       padding-left: 2rem;
       padding-right: 2rem;
      font-size: 1.25rem;
    }
  }
}

.hero-side-left {
  .parent-gift {
    max-width: 275px;
  }
}

.hero-side-right {
  .chocolate-fountain {
    max-width: 275px;
  }
}

.hero-bottom-people-left, .hero-bottom-people-right {
  width: 180px;
}

.hero-bottom-people-left {
  left: 25%;
}

.hero-bottom-people-right {
  left: 75%;
}

.hero-bottom {
  position: absolute;
  transform: translate(-50%, 0%);
  width: 101%;
  left: 50%;
  bottom: 0%;
}


 }

@media (max-width: 767.98px) { 

max-height: unset;
min-height: unset;
height: fit-content;
margin-bottom: -10px;
flex-direction: column;



  .hero-side-left, .hero-side-right, .hero-bottom-people-left, .hero-bottom-people-right, .hero-bottom, .mobile-break {
  display: none;
}

.hero-center {
  width: 100%;
  height: fit-content;
  min-height: unset;
  position: relative;
  margin-top: 1rem;


  .mobile-transition{
    display: flex;
    position: absolute;
    transform: translate(-50%, -100%);
    top: 100%;
    left: 50%;
    width: 101%;
    z-index: 0;
  }



  .hero-center-inner {
    width: 95%;
    z-index: 20;
    margin-bottom: 10%;

  .chocolate-party-logo{
    width: 90%;
    max-width: 450px;
    
  }



    h1 {
     font-size: clamp(
  1.3rem,
  calc(1.3rem + (2rem - 1.3rem) * ((100vw - 320px) / (767.98px - 320px))),
  2rem
);
    }

h2 {
  font-size: clamp(
    0.9rem,
    calc(0.9rem + (1.25rem - 0.9rem) * ((100vw - 320px) / (767.98px - 320px))),
    1.25rem
  );
}


    .cta-primary{
      text-align: center;
       width: fit-content;
       padding-left: 3rem;
       padding-right: 3rem;
      font-size: 1.5rem;
      z-index: 30;
      border: unset;
    }
  }

 }


 .hero-details-mobile{
  display: block;
  background-image: url(../images/hero/hero-details-mobile-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 125vw;
  position: relative;

  .giftlab-logo{
    position: absolute;
    width: 45%;
    left: 1rem;
    top: 20vw;
  }

  .parent-gift{
    position: absolute;
    width: 40%;
    height: auto;
    transform: translate(0%, -50%);
    top: 65vw;
    left: 1rem;
  }

    .fountain-logo{
    position: absolute;
    width: 42.5%;
    right: 1rem;
    top: 35vw;
  }

  .chocolate-fountain{
    position: absolute;
    transform: translate(0%, 0%);
    bottom: 0;
    right: 1rem;
        width: 45%; 

  }
 }

}
 }

 



// -----------------------------
// PARTY EVENT ABOUT
// -----------------------------

.party-event-about{
  background-color: $chocolate-brown;
  padding-top: 0rem;


.about-images{
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: auto;

}

.text{
  h2{
    font-family: "Shin-Maru-GP-Ultra";
    color: white;
  }

  p{
    padding: 1rem;
    color: white;
    font-weight: bold;
    padding-left: 0
    ;
  }


.cta-secondary{
    background-color: $chocolate-flat-gold ;
    background-image: url(../images/generic-images/diagonal-stripes-green.svg);
    background-size: cover;
    border: solid .2rem $chocolate-flat-gold-dark;
    transition: .3s;
    
      &:hover {
      opacity: 1;
      background-color: darken($chocolate-flat-gold , 10%) !important;
      border-color: $chocolate-flat-gold-dark;
    }
}
}
}

.reason-box-1, .reason-box-2, .reason-box-3{
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: $chocolate-flat-gold-dark;
  background-size: 300%;
}




.reason-box-1{
  background-color: $chocolate-flat-gold;
  background-image: url(../images/generic-images/polka-dots.svg);

}

.reason-box-2{
  background-color: $chocolate-red;
  background-image: url(../images/generic-images/diagonal-stripes-green.svg);
}

.reason-box-3{
  background-color: $chocolate-pink;
  background-image: url(../images/generic-images/stars-bg.svg);
}

.three-reasons-swiper{
  background-color: $chocolate-brown;
}

// -----------------------------
// SCHOOL LIST STYLING
// -----------------------------

.schools-list{
  background-color: $chocolate-brown;
  background-image: url(../images/about-event/about-event-bg-bottom.svg);
  background-size: 105%;
  background-position: bottom center;
  background-repeat: no-repeat;

  .section-h2{
    color: white;
    font-family: "Shin-Maru-GP-Ultra";
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  // ===== THEME GENERATOR =====
// This loop creates the CSS for every theme defined in the map.
@each $name, $theme in $prefecture-themes {
  // Use the modern map.get() function
  $primary-color: map.get($theme, color);

  .prefecture-#{$name} {
      background-color: $primary-color !important;
      border-width: 0.2rem;
      border-color: white;
  border: solid .2rem $chocolate-flat-gold-dark;

    // --- Desktop Styles ---
    .prefecture-header {
        background-color: $primary-color !important;
        color: $primary-color;
        padding-top: .75rem;
        padding-right: 1.5rem;
        border-style: solid;

        
      h2 {
        color: white;
                font-family: "Shin-Maru-GP-Bold";
      }
      svg.location-pin {
        .map-pin-3-bg-color {
          fill: white;
        }
        .map-pin-3-main-color {
          fill: $primary-color;
        }
      }
    }

    // --- Ward Title & Icon Styles ---
   .ward {

        background-color: white;
        border-style: none;

      h3, h3 svg {
        color: $primary-color ;
        fill: $primary-color ;
        font-family: "Shin-Maru-GP-Bold";

  
      }

      // Target the list items (li) inside the ul
      ul li {
        color: $primary-color ;
      }
    }

    // --- Mobile/Accordion Styles ---
    @media screen and (max-width: 575.9px) {
      background-color: $primary-color;
      border: solid .2rem $chocolate-flat-gold-dark;;

      .prefecture-header {
        background-color: $primary-color;
        color: $primary-color;
        padding-top: 1rem;
        padding-right: 1rem;
        border: unset;
  
      }
      .wards-container {
        background-color: unset;

        .ward{
          background-color: white;
           h3, h3 svg {
        color: $primary-color;
        fill: $primary-color;
        font-family: "Shin-Maru-GP-Bold";
      }

      // Target the list items (li) inside the ul
      ul li {
        color: $primary-color;
      }
        }
      }
    }
  }
}
  
}


// -----------------------------
// PARTY COMMON
// -----------------------------

.logo-box{
  display: flex;
  flex-direction: column;
}


.party-logo-times-row{
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 2rem;

  .logo-box{
    width: 55%;
    margin: auto;
   @media screen and (max-width: 575.9px) {
 
    width: 90%;
     }
}
  .time-box{
    margin: auto;
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    flex-direction: row;
         gap: 1rem;

    h3{
      font-family: "Shin-Maru-GP-Ultra";
    }

        @media screen and (max-width: 475.9px) {
          flex-direction: column;
          gap: 1rem;
          padding: 2rem;

          h3{
            padding: unset;
            font-size: 1.5rem;
          }

        }
  }


    .time-disclaimer{
      display: flex;
      margin: auto;
      padding: .5rem;
      border-radius: 2rem;
      font-size: .75rem
      ;
    }
}


// -----------------------------
// CHOCO LAB
// -----------------------------

.choco-lab{
  position: relative;
  background-color: $giftlab-pink;
  padding-top: 0rem;
  z-index: 1;
  background-size: contain;
  background-image: url(../images/choco-lab/choco-lab-section-bg.png);
  background-position: center;

  .container{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    position: relative;
    z-index: 2;

    .party-logo-times-row{
      margin-bottom: -4rem;
    }


    h3{
      color: $chocolate-offwhite;
      font-family: "Shin-Maru-GP-Ultra";
      font-size: 2rem;
    }
    p{
      color: $chocolate-offwhite;
      font-size: 1.25rem;
    }

  .textbox{
    background-color: $chocolate-brown;
    border: solid .5rem $chocolate-flat-gold;
    padding: 2rem;
    border-radius: 3rem;
  }


  .time-box{
    background-color: $chocolate-offwhite;

    h3{
      color: $chocolate-brown;
    }
  }

  .time-disclaimer{
    background-color: $chocolate-offwhite;
    color: $chocolate-brown;
  }


  .choco-lab-activity-1{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-around;

    .activity-text{
      display: flex;
      flex-direction: row;
      width: 55%;
      justify-content: center;
      align-items: center;

        .textbox{
          transform: rotate(-7deg);
        }

      }

    .activity-img{
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: left;

      img{
        width: 90%;
      }
    }

    @media (max-width: 767.98px) { 
      margin-top: 2rem;
      flex-direction: column;

      .activity-text{
        width: 100%;
        margin: auto;
      }

      .activity-img{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        margin: auto;
        width: 90%;
        z-index: 2;
        margin-top: -2rem;
      }
    }
      

    }

}

.choco-lab-activity-2-3-wrapper{
  display: flex;
  flex-direction: row;

  justify-content: space-around;





    .text-imagebox-2, .text-imagebox-3{
    background-color: $chocolate-brown;
    border: solid .5rem $chocolate-flat-gold;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem;
    transform: rotate(-5deg);
    margin: 1rem;
    width: fit-content;

    max-width: calc(300px + 5rem);
  
    h3{
      text-align: center;
    }

    img{
      width: 100%;
      height: auto;
      margin: auto;
    } 
  }

  .text-imagebox-2{
    transform: rotate(5deg);
  }

    .text-imagebox-3{
    transform: rotate(-3deg);
  }


    @media (max-width: 991.98px) { 
               .text-imagebox-2,  .text-imagebox-3{
                width: 50%;
                padding: 1rem;
               }
    }

    @media (max-width: 767.98px) { 
      flex-direction: column;
      justify-content: center;
      flex-direction: column-reverse;
      gap: 3rem;


         .text-imagebox-2,  .text-imagebox-3{
    width: 90%;
        max-width: calc(300px + 5rem);
    margin: auto;
    padding: 1rem;
    margin: unset;
    margin-left: auto;
    margin-right: auto;

    h3{
      text-align: center;
    }

    img{
      width: 100%;
      height: auto;
      margin: auto;
    }
    


} 
    }

  }

  .transition-bottom-desktop, .transition-bottom-mobile{
    z-index: 1;
  }

}

  }


// -----------------------------
// PARTY TIMES CTA
// -----------------------------


.cta-party-times-timeline {
  background: $chocolate-offwhite;
  background-image: url(../images/generic-images/cta-bg.png);
  background-size: cover;
  background-position: center;

.container{
  padding-top: 12vw;
  padding-bottom: 12vw;

  .party-arrow-text {
    fill: $chocolate-brown;
  }

  .party-arrow-shape {
    fill: $chocolate-flat-gold-dark;
    stroke: $chocolate-brown;
    stroke-width: .25rem;
  }

  .party-times-box {
    h2 {
      color: $chocolate-brown;


    }

    .party-times-timeline {

      border-color: $chocolate-brown;
      h3{
        font-family: "Shin-Maru-GP-Ultra";
      }

      h4{
              font-family: "Shin-Maru-GP-Ultra";
      }


      .party-number,
      .party-time {
        color: $chocolate-brown;
      }

      .party-1-3-box {
        background-color: $giftlab-pink;
        color: $chocolate-offwhite;
      }

      .party-2-4-box {
        background-color: $fountain-yellow;
        color: $chocolate-brown;
      }

      .interlude {
        background-color: $chocolate-brown;
        color: $chocolate-offwhite;

        p {
          color: $chocolate-offwhite;
        }
      }

      .lunch-break {
        background-color: gainsboro;
        border-left-color: gray;
        border-right-color: gray;
      }
    }



    p,
    .party-times-link {
      color: $chocolate-brown;
      font-family: "Shin-Maru-GP-Bold";
    }
  }

  .cta-primary {
    background-color: $chocolate-flat-gold-dark;
    background-image: url(../images/generic-images/polka-dots.svg);
    color: $chocolate-brown;

    &:hover {
      background-color: darken($chocolate-flat-gold-dark, 10%) !important;
    }
  }
  }
   @media (max-width: 767.98px) {
    .container{
      padding-top: 30vw;
      padding-bottom: 30vw;
    }
   }

}


// -----------------------------
// CHOCO FOUNTAIN
// -----------------------------

.choco-fountain{
  position: relative;
  background-color: $fountain-yellow;
  background-image: url(../images/fountain/fountain-bg.png);
  background-position: center;
  background-size: contain;
  overflow: hidden;

  .container{
    padding-top: 20vw;
    padding-bottom: 10vw;

      .time-box{
    background-color: $chocolate-brown;

    h3{
      color: $chocolate-offwhite;
    }
  }

  .time-disclaimer{
    background-color: $chocolate-brown;
    color: $chocolate-offwhite;
  }


  .textbox-1, .textbox-2, .textbox-3{
    background-color: $chocolate-brown;
    padding: 2rem;
    border-radius: 3rem;
    filter: drop-shadow(0 0.3rem 0 #dfab4a);
  
  h3{
      color: $chocolate-offwhite;
      font-family: "Shin-Maru-GP-Ultra";
      font-size: 2rem;
    }
    p{
      color: $chocolate-offwhite;
      font-size: 1.25rem;
    }
  }



    .textbox-3{
        border: solid .5rem #f28394;
  }

.activities{
  display: flex;
  flex-direction: row;
  gap: 2;
  justify-content: space-around;

  .activity-block-1{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .textbox-1{
        margin-top: -12rem;
        border: solid .5rem #cae1a7;
        width: 100%;
        height: fit-content;
        transform: rotate(-3deg);
    }

    img{
      display: block;
      width: 80%;
      margin-left: auto;
      margin-left: auto;
      
    }

  }


  
    .activity-block-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    z-index: 5;


    .textbox-2-wrapper{
          transform: rotate(2deg);
          width: 100%;
          height: fit-content;
          aspect-ratio: 4 / 3.2;
          position: relative;
          margin-bottom: 5rem;


    .textbox-2{
        border: solid .5rem #92d4d7;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;


    

        .donut-activity{
          position: absolute;
          transform: translate( 0%, -100%);
          width: 90%;
          left: 0%;
          top: 125%;

        }

        
    }


        .donut-activity-outer{
          position: absolute;
          transform: translate( 0%, -100%);
          width: calc(90% - 1rem);
          left: 0.5rem;
          top: calc(120% + 0.5rem )
        }

            @media (max-width: 1199.98px) { 
              aspect-ratio: 1/1;
            }

            @media (max-width: 991.98px) { 
              aspect-ratio: 1/1.25;
            }
    }

    

  }

  .textbox-3{
    width: 100%;
    transform: rotate(2deg);

    img{
      width: 50%;
      min-width: 200px;
      height: auto;
      padding-top: 0.5rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 1rem;
    }
  }


  @media (max-width: 767.98px) { 
    flex-direction: column;


      .activity-block-1, .activity-block-2{
        width: 100%;
      }

      .activity-block-1{
        padding-bottom: 10vw;
      }

      .activity-block-2{
           .textbox-2-wrapper{
 
          aspect-ratio: unset;
          height: 95vw;
          max-height: 410px;
          min-height: 350px;
    }
      }

  }
  }
}

}

// -----------------------------
// ALL PARTIES
// -----------------------------

.all-parties{
  background-color: $chocolate-brown;
  overflow-x: hidden;

.container{


      p{

      font-size: 1.25rem;
    }

  .top-h2{
    background-color: $chocolate-flat-gold-dark;
    color: $chocolate-brown;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    border-radius: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "Shin-Maru-GP-Ultra";
  }

  .top-p{
    background-color: $chocolate-flat-gold-dark;
    color: $chocolate-brown;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }

.photobooth-row {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  margin-top: 2rem;

.photobooth-image{
  width: 45%;
}

  .photobooth-text{

    width: 45%;
    background-color: $chocolate-offwhite;
    color: $chocolate-brown;
    padding: 2rem;
    transform: rotate(8deg); /* use transform for better compatibility */
    border: solid 0.3rem $chocolate-brown;
    border-radius: 2rem;
    position: relative;      /* so .camera absolute positions relative to this box */
  }

  p{
          font-weight: bold;
  }

  .camera{
    position: absolute;
    width: 7rem;
    left: calc(100% - 4rem);
    top: calc(100% - 4rem);
    transform: rotate(-3deg);
  }

  @media (max-width: 767.98px) { 
    flex-direction: column;

    .photobooth-image{
  width: 90%;
}

.photobooth-text{
  width: 100%;
  margin-top: 2rem;
}

  }
}
}}

.trading-card-row{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  margin-top: 2rem;


  .trading-card{
    max-width: 350px;
  }

  .trading-card-text{
    text-align: center;
    width: 40%;

    h3{
      color: $chocolate-offwhite;
          font-family: "Shin-Maru-GP-Ultra";
    }

    p{
      color: $chocolate-offwhite;
            font-weight: bold;
    }
  }


      @media (max-width: 767.98px) { 
    flex-direction: column-reverse;


    .trading-card{
      width: 90%;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }

    .trading-card-text{
      width: 100%;
    }
      }
  }

  .badge-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .badge-image{
      width: 45%;
      max-width: 768px;
    }

    .badge-text{
      width: 45%;
    }

    h3{
      color: $chocolate-offwhite;
          font-family: "Shin-Maru-GP-Ultra";
    }

    p{
      color: $chocolate-offwhite;
      font-weight: bold;
    }

      @media (max-width: 767.98px) { 
    flex-direction: column;
  
        .badge-image{
      width: 90%;
  
    }

    .badge-text{
      width: 90%;
      text-align: center;
    }
  }
  }

// -----------------------------
// LOWER CTA
// -----------------------------

.lower-cta{
  background-color: $chocolate-offwhite;
  position: relative;
  padding-top: 0 !important; 
  background-image: url(../images/generic-images/cta-bg.png);
  background-size: cover;
  background-position: center;



    .lower-cta-contents{
      padding-top: 25vw;
      padding-bottom: 25vw;


    .image{
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;


      img{
        width: 75%;
        z-index: 4;
      }
    }

    .text{
      h2{
      font-family: "Shin-Maru-GP-Ultra";
      color: $chocolate-brown;
      }

      .cta-button{
          border: solid .15rem white;
          background-color: $chocolate-flat-gold-dark ;
          background-image: url(../images/generic-images/diagonal-stripes-green.svg);
          background-size: 30rem;
          background-position: top center;
        width: fit-content;
        transition: .3s;

          justify-content: center;
          &:hover {
              opacity: 1;
              background-color: darken($chocolate-flat-gold-dark,  10%) !important;

              border-color: white;

          }

          &:active{
              opacity: .6;
          }

              @media (max-width: 575.98px) {
                width: 90%;
                padding-left: unset;
                padding-right: unset;
      }

      }

  }

       @media (max-width: 575.98px) {
        .image{
          width: 80%;
        }
       }
    }
}




// -----------------------------
// GALLERY
// -----------------------------



.gallery{
background-color: $chocolate-brown;
h2{
  padding-bottom: 2rem;
  font-family: "Shin-Maru-GP-Ultra";
  color: white;
}

.close-modal{
      background-color: $chocolate-flat-gold;
}

}

// -----------------------------
// SIGN UP STEPS SECTION
// -----------------------------


.sign-up{
background-color: $chocolate-brown;

h2{
  padding-top: 2rem;
}

.sign-up-bg{
  fill: white;
}

.sign-up-main-colour{
  fill: $chocolate-flat-gold-dark !important;
}

.sign-up-stroke{
    fill: $chocolate-brown !important;

}

      .button-1, .button-2{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        max-width: 425px;
        transition: ease-in-out .2s;
        border:solid .15rem white;

            
      
      }

  .button-1{
        background-color: $chocolate-flat-gold;
    background-image: url(../images/generic-images/stars-bg.svg);
    background-size: 30rem;
    background-position: top center;






    &:hover {
        opacity: 1;
        background-color: darken($chocolate-flat-gold, 10%) !important;
    }

  }

  .button-2{
    background-color: $chocolate-red ;
    background-image: url(../images/generic-images/diagonal-stripes-green.svg);
    background-size: 30rem;
    background-position: top center;




    &:hover {
        opacity: 1;
        background-color: darken($chocolate-red, 10%) !important;
    }

  }

}

// -----------------------------
// FORM SELECT PAGE
// -----------------------------

.sign-up{
  padding-top: 2rem;
  h2{
    color: white;
    font-family: "Shin-Maru-GP-Ultra";
  }

  h3{
      font-family: "Shin-Maru-GP-Ultra";
      color: white;
      text-align: center;
  }

  p{
    color: white;
    font-weight: bold;
  }


  @media  screen and (max-width: 767.98px), 
        screen and (max-aspect-ratio: 1/1) {
          padding-top: 0rem;

}
}

.form-body{
background-color: $chocolate-offwhite;
background-image: url(../images/generic-images/cta-bg.png);
background-size: cover;


.form-page{

  height: 100vh;
  display: flex;

  align-items: center;
  flex-direction: row;
  padding-top: 7rem;
  

  .logo-wrapper{
       width: 35%;
       padding: 2rem;
   .logo{
    width: 100%;
    height: auto;
  }
  }

  .mid-wrapper{
    display: flex;
    flex-direction: column;
    width: 35%;

  h1{
    font-family: "Shin-Maru-GP-Ultra";
    color: $chocolate-brown;
    font-size: 2rem;
    text-align: center;
  }

  .button-box{
    display: flex;
    flex-direction: row;
    gap: 0rem;
    padding-top: 2rem;



      flex-direction: column;

      .cta-button{
            border: solid white .15rem;
            text-align: center;
            justify-content: center;
      }

      .btn-1, .btn-2{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        max-width: 425px;
        transition: ease-in-out .2s;
      
      }
     

    .btn-1{
    background-color: $chocolate-flat-gold;
    background-image: url(../images/generic-images/stars-bg.svg);
    background-size: 30rem;
    background-position: top center;



    &:hover {
        opacity: 1;
        background-color: darken($chocolate-flat-gold, 10%) !important;
    }

          }

          .btn-2{
                background-color: $chocolate-pink;
    background-image: url(../images/generic-images/diagonal-stripes-green.svg);
    background-size: 30rem;
    background-position: top center;
    &:hover {
        opacity: 1;
        background-color: darken($chocolate-pink, 10%) !important;
    }

    &:active{
        opacity: .6;
    }
          }
  }

  p{
    color: $chocolate-brown;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-size: .8rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.jot{
  width: 30%;
}
@media  screen and (max-width: 576.98px), 
        screen and (max-aspect-ratio: 1/1) {
      

          padding-top: 5rem;

flex-direction: column;

  .logo-wrapper{
    width: 100%;
    padding-top: 0;

    .logo{
      display: flex;
      width: 75%;
      margin: auto;
      padding-top: 0 !important;
    }
  }

  .mid-wrapper{

    width: 100%;
    
    h1{
      text-align: center;
    }

      .button-box{
          width: 100%;
          display: flex;
          margin: auto;

          .cta-button{
            display: flex;
            margin: auto;
  
          }

          p{
            width: 80%;
          }
 
     
      }

      }

      .jot{


        margin: auto;
  width: 50%;
}
     }
}
}


.bottom{
  background-color: $chocolate-offwhite;
  background-image: 
  url(../images/generic-images/bottom-transition-top.svg),
  url(../images/generic-images/diagonal-stripes-green.svg);

  background-size: 105%, 300%;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 5rem;

  h3, p{
    color: $chocolate-brown;}
}



.tutorial{
  color: $chocolate-brown;
  transition: ease-in-out .2s;

  &:hover{
    opacity: .6;
  }
}