// --------------------------------------------------
// Variables
// --------------------------------------------------
$breakpoint-xxl: 1399.98px;
$breakpoint-xl: 1199.98px;
$breakpoint-lg: 991.98px;
$breakpoint-md: 767.98px;
$breakpoint-sm: 575.98px;
$breakpoint-xs: 374.97px;


$kids-up-orange: #f3801f;
$kids-up-orange-muted: #fef1d1;
$hero-offwhite: #f7f5ef;
$intense-yellow: #fde500;

$drop-shadow: drop-shadow(0 0.5rem 0 $kids-up-orange);
$drop-shadow-muted: drop-shadow(0 1rem 0 $kids-up-orange-muted);

.top-wrapper{

    background-color: $kids-up-orange;
}

// --------------------------------------------------
// Hero Section
// --------------------------------------------------
.hero {
    min-height: 830px;
    max-height: 960px;
    height: 100vh;
  display: flex;
  flex-direction: row;
  background: center / cover no-repeat
    url("/new-schools/new-school-images-2025/harumi-hero-bg.png");
  background-color: $hero-offwhite;
  border-radius: 0 0 3rem 3rem;
  overflow: hidden;




  // ----------------------------
  // Image Column
  // ----------------------------
  .img-col {
    width: 45%;
    position: relative;

    .mobile {
      display: none;
    }

    .desktop {
      position: absolute;
      left: 100%;
      top: 55%;
      height: 100%;
      transform: translate(-100%, -50%);
    }
  }

  // ----------------------------
  // Text Column
  // ----------------------------
  .text-col {
    width: 55%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    // Title
    .h1-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50%;

      h1 {
        color: $kids-up-orange;
        font-family: "Shin-Maru-GP-Ultra";
        font-size: 6rem;
        text-align: center;
        line-height: 1.25;
        padding-top: 1rem;
        margin: auto;
        paint-order: stroke fill;
        -webkit-text-stroke: 1rem $kids-up-orange-muted;

        .drop-shadow {
          filter: $drop-shadow-muted;
        }

        .h1-sub {
          display: block;
          font-size: 3rem;
          color: $kids-up-orange-muted;
          font-family: "Shin-Maru-GP-Bold";
          -webkit-text-stroke: 0;
          filter: unset !important;
        }
      }
    }

    // Lower Text Section
    .text-lower {
      width: 100%;
      aspect-ratio: 1653 / 878;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0;
      background: bottom center / contain no-repeat
        url("/new-schools/new-school-images-2025/text-lower-bg.svg");

      .top-tagline {
        padding-top: 2rem;
        color: $kids-up-orange;
        font-family: "Shin-Maru-GP-Bold";
        font-size: 1.75rem;
      }

      .signup-discount {
        font-family: "Shin-Maru-GP-Bold";
        font-size: 2.25rem;
        color: $intense-yellow;
        filter: $drop-shadow;
        -webkit-text-stroke: 0.5rem $kids-up-orange;
        paint-order: stroke fill;
      }

      .features {
        font-family: "Shin-Maru-GP-Bold";
        font-size: 1.25rem;
        color: $kids-up-orange;
      }

      .free-bus {
        font-family: "Shin-Maru-GP-Bold";
        font-size: 3.25rem;
        color: $intense-yellow;
        filter: $drop-shadow;
        -webkit-text-stroke: 0.5rem $kids-up-orange;
        paint-order: stroke fill;
        padding-bottom: 1rem;
      }

      .special-offer-button {
        display: inline-block;
        padding: 0.5rem 4rem;
        background-color: $intense-yellow;
        border: solid 0.25rem $kids-up-orange;
        border-radius: 4rem;
        font-family: "Shin-Maru-GP-Bold";
        color: $kids-up-orange;
        font-size: 1.25rem;
        box-shadow: 0 0.75rem 0 $kids-up-orange;
        transition: all 0.2s ease-in-out;
        z-index: 1;

        &:hover {
          background-color: white;
          box-shadow: 0 1rem 0 $kids-up-orange;
          transform: translateY(-0.25rem);
        }

        &:active {
          transform: translateY(0.95rem);
          box-shadow: 0 0.05rem 0 $kids-up-orange;
        }
      }
    }
  }

  // --------------------------------------------------
  // Responsive Adjustments
  // --------------------------------------------------
  @media (max-width: $breakpoint-xxl) {

    min-height: 660px;
  height: 100vh;
  max-height: 900px;
    .img-col {
      width: 45%;
    }

    .text-col {
      width: 55%; 

          .h1-wrapper {
      h1 {
        font-size: 5rem;
        .drop-shadow {
          filter: $drop-shadow-muted;
        }

        .h1-sub {
            padding-top: .5rem;
          font-size: 2.5rem;
        }
      }
    }

       .text-lower {
      .top-tagline {
        padding-top: 2.5rem;
        font-size: 1.5rem;
      }

      .signup-discount {
        font-size: 2rem;
      }

      .features {
        font-size: 1rem;
      }

      .free-bus {
        font-size: 3rem;
      }

      .special-offer-button {
        padding: 0.5rem 4rem;
        font-size: 1rem;

      }
    }
    }
  }

    @media (max-width: $breakpoint-xl) {
  height: 100vh;
  max-height: 800px;
  min-height: 630px;

    .img-col {
      width: 45%;
    }

    .text-col {
      width: 55%; 

          .h1-wrapper {
      h1 {
        font-size: 4.74rem;
        .drop-shadow {
          filter: $drop-shadow-muted;
        }

        .h1-sub {
          font-size: 2.25rem;
          padding-top: 1rem;
        }
      }
    }

       .text-lower {
        gap: 0.5rem;
      .top-tagline {
        padding-top: 2.5rem;
        font-size: 1.25rem;
      }

      .signup-discount {
        font-size: 1.75rem;
      }

      .features {
        font-size: 1rem;
      }

      .free-bus {
        font-size: 2.5rem;
      }

      .special-offer-button {
        padding: 0.25rem 2rem;
        font-size: 1rem;


      }
    }
    }
  }


      @media (max-width: $breakpoint-lg) {
        min-height: 520px;
    height: 100vh;
    max-height: 600px;
    .img-col {
      width: 40%;
    }

    .text-col {
      width: 60%; 

          .h1-wrapper {
      h1 {
        font-size: 4.25rem;
        .drop-shadow {
          filter: $drop-shadow-muted;
        }

        .h1-sub {
          font-size: 2rem;
          padding-top: 1rem;
        }
      }
    }

       .text-lower {
        gap: 0.25rem;
      .top-tagline {
        padding-top: 1.5rem;
        font-size: 1.25rem;
      }

      .signup-discount {
        font-size: 1.25rem;
      }

      .features {
        font-size: 1rem;
        padding-top: .5rem;
      }

      .free-bus {
        font-size: 2rem;
      }

      .special-offer-button {
        padding: 0.15rem 2rem;
        font-size: 1rem;


      }
    }
    }
  }


  @media (max-width: $breakpoint-md) {
    height: fit-content;
    min-height: unset;
    max-height: unset;
    flex-direction: column;

    .img-col {
      width: 100%;
      margin-top: 68px;
      object-fit: contain;

      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    .text-col {
      width: 100%;

          .h1-wrapper {
            padding-top: 2rem;
            padding-bottom: 2rem;
      h1 {
        font-size: 3.5rem;
        .drop-shadow {
          filter: $drop-shadow-muted;
        }

        .h1-sub {
          font-size: 1.5rem;
          padding-top: 1rem;
        }
      }
    }
      

    .text-lower {
        background-size: 150%;
        background-position: top center;
        padding-bottom: 2rem;
        gap: 0.5rem;

      .top-tagline {
        padding-top: 2.5rem;
        font-size: 1.5rem;
      }

      .signup-discount {
        font-size: 2rem;
      }

      .features {
        font-size: 1rem;
      }

      .free-bus {
        font-size: 3rem;
      }

      .special-offer-button {
        padding: 0.5rem 4rem;
        font-size: 1rem;
        

      }
    }
    }
  }
@media (max-width: $breakpoint-sm) {

        .img-col {
      width: 100%;
      margin-top: 68px;
      object-fit: contain;

      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    .text-col {
      width: 100%;

          .h1-wrapper {
            padding-top: 2rem;
            padding-bottom: 2rem;
      h1 {
        font-size: 3rem;
        .drop-shadow {
          filter: $drop-shadow-muted;
        }

        .h1-sub {
          font-size: 1.5rem;
          padding-top: 1rem;
        }
      }
    }
      

    .text-lower {
        background-size: 175%;
        background-position: top center;
        padding-bottom: 2rem;
        gap: 0.5rem;
        
   
      .top-tagline {
        padding-top: 2.5rem;
        font-size: 1.25rem;
      }

      .signup-discount {
        font-size: 1.5rem;
      }

      .features {
        font-size: 1rem;
      }

      .free-bus {
        font-size: 2rem;
      }

      .special-offer-button {
        padding: 0.5rem 4rem;
        font-size: 1rem;
        

      }
    }
    }
}

@media (max-width: $breakpoint-xs) {

        .img-col {
      width: 100%;
      margin-top: 68px;
      object-fit: contain;

      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    .text-col {
      width: 100%;

          .h1-wrapper {
            padding-top: 2rem;
            padding-bottom: 2rem;
      h1 {
        font-size: 2.75rem;
        .drop-shadow {
          filter: $drop-shadow-muted;
        }

        .h1-sub {
          font-size: 1.325rem;
          padding-top: 1rem;
        }
      }
    }
      

    .text-lower {
        background-size: 175%;
        background-position: top center;
        padding-bottom: 2rem;
        gap: 0.5rem;
        
   
      .top-tagline {
        padding-top: 2.5rem;
        font-size: 1.25rem;
      }

      .signup-discount {
        font-size: 1.5rem;
      }

      .features {
        font-size: 1rem;
      }

      .free-bus {
        font-size: 2rem;
      }

      .special-offer-button {
        padding: 0.5rem 4rem;
        font-size: 1rem;
        

      }
    }
    }
}
  
}

.top-cta{
    padding-top: 2rem;
}