body {
  background-color: #6e61a8;
}

nav {
  background-color: #603186;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #29235c;
}

.navbar-nav {
  background-color: #603186;
}

.nav-btn {
  background: white;
  color: #603186;
}

.nav-btn:hover {
  background: #29235c;
  color: #fff;
}

.hero-row {
  background-color: #6e61a8;
  padding-bottom: 3rem;
  height: fit-content;
}

.hero-left-col {
  background-image: url(../science-images/hero-bg-back.webp);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.hero-left-col-inner {
  width: 110%;
  padding: none;
  margin: none;
  background-image: url(../science-images/hero-bg-mask.webp);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-left-img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-right-col-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1rem;
}

.hero-h1 {
  font-size: 2.7rem;
  font-family: "Shin-Maru-GP-Ultra";
  color: #faf5f0;
  text-align: center;
  padding-bottom: 1rem;
}

.hero-h2 {
  font-size: 1.8rem;
  font-family: "Noto Sans JP";
  color: #faf5f0;
  text-align: center;
  padding-bottom: 1rem;
}

.cta-button {
  position: relative;
  font-family: "Shin-Maru-GP-DeBold";
  text-decoration: none;
  color: white;
  background-color: #6e61a8;
  border: solid 0.2rem white;
  font-size: 1.5rem;
  padding: 1rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  border-radius: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.3s;
}

.cta-button:hover {
  background-color: #29235c;
}

.cta-decoration-left {
  width: 3rem;
  position: absolute;
  transform: translate(-15rem, -25%);
}

.cta-decoration-right {
  width: 3rem;
  position: absolute;
  transform: translate(12rem, -25%);
}

.hero-left-col {
  position: relative;
}

.hero-saturn-decoration {
  width: 15rem;
  position: absolute;
  left: 60%;
  top: 80%;
  transform: translate(-50%, -100%);
}

.three-points-container {
  padding-bottom: 2rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-h1 {
    font-size: 2rem;
  }

  .hero-h2 {
    font-size: 1.25rem;
  }

  .cta-button {
    font-size: 1.25rem;
    padding: 0.8rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 2rem;
  }

  .cta-decoration-left {
    width: 3rem;
    position: absolute;
    transform: translate(-10rem, -25%);
  }

  .cta-decoration-right {
    width: 3rem;
    position: absolute;
    transform: translate(7rem, -25%);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-h1 {
    font-size: 1.8rem;
  }

  .hero-h2 {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1.25rem;
    padding: 0.8rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 2rem;
  }

  .cta-decoration-left {
    width: 3rem;
    position: absolute;
    transform: translate(-10rem, -25%);
  }

  .cta-decoration-right {
    width: 3rem;
    position: absolute;
    transform: translate(7rem, -25%);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-h1 {
    font-size: 1.5rem;
  }

  .hero-h2 {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.8rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 2rem;
  }
  .cta-decoration-left {
    width: 3rem;
    position: absolute;
    transform: translate(-10rem, -25%);
  }

  .cta-decoration-right {
    width: 3rem;
    position: absolute;
    transform: translate(7rem, -25%);
  }
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .hero-h1 {
    font-size: 2rem;
  }

  .hero-h2 {
    font-size: 1.5rem;
  }
}
.main-body-event-info {
  background-color: #6e61a8;
  position: relative;
}

.main-body-decoration-1 {
  position: absolute;
  width: 20rem;
  left: 100%;
  transform: translate(-17rem, 0%);
  top: 0;
}

.main-body-event-info-container {
  position: relative;
  padding-top: 5rem;
}

.main-event-info-img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cta-main {
  position: absolute;
  top: 0%;
  transform: translate(-50%, -100%);
  left: 33%;
  top: 95%;
}

.event-container-details {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-h2,
.main-h2-lower {
  font-size: 2rem;
  font-family: "Shin-Maru-GP-Ultra";
  color: #faf5f0;
  text-align: center;
  padding-bottom: 1rem;
}

.main-h2-lower {
  font-size: 2.5rem;
  text-align: left;
  font-family: "Shin-Maru-GP-DeBold";
}

.main-h3 {
  font-size: 1.5rem;
  font-family: "Noto Sans JP";
  color: #faf5f0;
  text-align: center;
  padding-bottom: 1rem;
}

.three-points {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(100% / 3);
  background-position: top center;
}

.three-points-inner {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.three-points-h4 {
  font-family: "Shin-Maru-GP-Bold";
  font-size: 1rem;
  text-align: left;
  color: white;
}

.three-points-p {
  color: white;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  padding-bottom: 3rem;
}

.three-points-1 {
  background-image: url(../science-images/three-points-bg-1.webp);
}
.three-points-2 {
  background-image: url(../science-images/three-points-bg-2.webp);
}
.three-points-3 {
  background-image: url(../science-images/three-points-bg-3.webp);
}
.icon-bubble {
  width: 8rem;
  padding-bottom: 0rem;
  transform: translateY(-1rem);
}

.event-info-col {
  position: relative;
}

.h2-event-date {
  font-size: 3rem;
  font-family: "Shin-Maru-GP-Bold";
  color: white;
  padding-top: 2rem;
}

.h2-event-date-top {
  color: #dcc9e4;
}

.h2-event-date-sub {
  font-size: 0.9rem;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event-info-decoration-1 {
  width: 25%;
  position: absolute;
  transform: translate(-100%, 0%);
  left: 90%;
}

.event-info-decoration-2 {
  width: 10%;
  position: absolute;
  transform: translate(-100%, -50%);
  left: 100%;
  top: 50%;
}

.event-info-decoration-3 {
  width: 25%;
  position: absolute;
  transform: translate(0%, -100%);
  top: 100%;
}

.school-date-container {
  position: relative;
}

.event-info-decoration-container {
  position: relative;
}

.rocket-decoration {
  position: absolute;
  transform: translate(-50%, -100%);
  top: 100%;
  width: 20%;
  left: 80%;
}

.event-info-top-start-decoration {
  position: relative;
  width: 100%;
  height: auto;
}

.activity-wrapper {
  background-color: #ac94c6;
}

.activity-title-h3-v1 {
  text-align: left;
  font-size: 1.5rem;
  font-family: "Shin-Maru-GP-Bold";
  color: #6e61a8;
}

.activity-title-h3-v2 {
  text-align: left;
  font-size: 1.5rem;
  font-family: "Shin-Maru-GP-Bold";
  color: #ac94c6;
}

.activity-info {
  font-size: 1.25rem;
  font-family: "Noto Sans JP";
  font-weight: bold;
  color: #faf5f0;
  padding-top: 0.75rem;
}

.activity-img {
  width: 90%;
  margin: auto;
  display: block;
}

.activity-info-wrapper {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event-info-decoration-band {
  width: 100%;
  display: block;
}

/* Image Carousel ------------------------------------------------------------------*/

.gallery-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%
  );
}

.carousel-div {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%
  );
}

.swiper-img {
  display: block;
  width: 96%;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 25%;
  justify-content: space-between;
}

.swiper-custom-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-custom-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

.swiper-activities-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
}

.swiper-activities-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-activities-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

@media (max-width: 576px) {
  .swiper-img {
    display: block;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .swiper-custom-nav {
    padding: 7.5%;
  }
  .swiper-custom-nav-arrow {
    width: 3rem;
  }
}

.sign-up-instruction-header {
  font-size: 1.15rem;
  font-weight: bold;
}

.bottom-button-right {
  float: left;
}

.bottom-button-left {
  float: right;
}

@media (max-width: 576px) {
  .bottom-button-left,
  .bottom-button-right {
    float: none;
    align-items: center;
  }
}

.sign-up {
  background-color: white;
  padding-top: 3rem;
}

.sign-up-wrapper-left,
.sign-up-wrapper-middle,
.sign-up-wrapper-right {
  width: 97.5%;
  display: block;
}

.sign-up-wrapper-left {
  margin-right: auto;
}

.sign-up-wrapper-middle {
  margin-left: auto;
  margin-right: auto;
}

.sign-up-wrapper-right {
  margin-left: auto;
}

@media (max-width: 576px) {
  .sign-up-wrapper-left,
  .sign-up-wrapper-middle,
  .sign-up-wrapper-right {
    width: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.sign-up-h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-bottom: 3rem;
}

.sign-up-h3 {
  font-size: 1.75rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.sign-up-p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
}

.sign-up-button {
  position: relative;
  font-family: "Shin-Maru-GP-DeBold";
  text-decoration: none;
  color: white;
  background-color: #6e61a8;
  border: solid 0.2rem #6e61a8;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: left;
  padding-left: 2rem;
  border-radius: 3rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.3s;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sign-up-button::after {
  content: url(../science-images/btn-arrow.svg);
  height: 1rem;
  float: right;
  top: 70%;
  padding-right: 2rem;
  padding-top: 0.1rem;
}

.sign-up-button:hover {
  color: #29235c;
  border-color: #29235c;
  background-color: white;
}

.pre-footer {
  background-color: #9381bb;
}

.pre-footer-h2,
.pre-footer-p {
  color: #fffdeb;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .hero-h1 {
    font-size: 1.8rem;
  }

  .hero-h2 {
    font-size: 1.5rem;
  }

  .cta-button {
    width: 90%;
    position: relative;
    font-family: "Shin-Maru-GP-DeBold";
    text-decoration: none;
    color: white;
    background-color: #6e61a8;
    border: solid 0.2rem white;
    font-size: 1.25rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.3s;
  }

  .three-points {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .school-date-container {
    padding-bottom: 5rem;
  }
  .main-h2-lower {
    font-size: 1.9rem;
  }
  .h2-event-date-sub {
    font-size: 0.75rem;
  }

  .activity-img {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .activity-info-wrapper {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .sign-up-button {
    font-size: 1.25rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
  }
  .sign-up-button::after {
    float: right;
    top: 70%;
    padding-right: 1rem;
    padding-top: 0.2rem;
  }

  .main-h3 {
    font-size: 1.25rem;
    font-family: "Noto Sans JP";
    color: #faf5f0;
    text-align: center;
    padding-bottom: 1rem;
  }

  .three-points-inner {
    width: 90%;
  }

  .cta-main-2 {
    position: relative !important;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
