@font-face {
  font-family: "A-OTF Shin Maru Go Pro Heavy";
  src: url("/wp-content/themes/kidsup/fonts/A-OTF Shin Maru Go Pro H.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "A-OTF Shin Maru Go Pro Ultra";
  src: url("/wp-content/themes/kidsup/fonts/A-OTF Shin Maru Go Pro U.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "A-OTF Shin Maru Go Pro Bold";
  src: url("/wp-content/themes/kidsup/fonts/A-OTF-ShinMGoPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "A-OTF Shin Maru Go Pro De Bold";
  src: url("/wp-content/themes/kidsup/fonts/A-OTF-ShinMGoPro-DeBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "A-OTF Shin Maru Go Pro De Regular";
  src: url("/wp-content/themes/kidsup/fonts/A-OTF-ShinMGoPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/wp-content/themes/kidsup/fonts/NotoSansJP-VariableFont_wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}



// 2. Variable Definitions
$font-biz: "BIZ UDGothic";


   
$font-shinmaru-heavy: "A-OTF Shin Maru Go Pro Heavy", sans-serif;
$font-shinmaru-ultra: "A-OTF Shin Maru Go Pro Ultra", sans-serif;
$font-shinmaru-bold: "A-OTF Shin Maru Go Pro Bold", sans-serif;
$font-shinmaru-debold: "A-OTF Shin Maru Go Pro De Bold", sans-serif;
$font-shinmaru-deregular: "A-OTF Shin Maru Go Pro De Regular", sans-serif;   
   
$kidsup-orange-light: #f0e5d7;
$kidsup-orange-primary: #f0810d;
$kidsup-orange-darker: #ee6300;
$kidsup-orange-darkest: #521c01;

$kidsup-blue-light: #D4E4EB;
$kidsup-blue-primary: #77b5d7;
$kidsup-blue-darker: #4088BA;
$kidsup-blue-darkest: #05425c;

$kidsup-off-black: #212529;
$kidsup-dark-gray: #504e48;
$kidsup-light-gray: #63574a;





$new-year-red: #d61619;

$new-year-gold-light: #efdd90;
$new-year-gold-dark: #d1984a;
   
   
@mixin text-stroke($size, $color) {
  -webkit-text-stroke: $size $color;
  paint-order: stroke fill;
}

   
   h2{
        margin-top: 1rem;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

p{
    line-height: 1.75;
    font-size: 1rem;
}

.header-fullwidth{
    max-width: 100%;
    height: auto;
}



.hero{
    background-color: white;
    background-image: url(./images/hero/newsletter-10-hero-desktop.webp);
    background-position: top center;
    background-size: 100%, auto;
    background-repeat: no-repeat;
    aspect-ratio: 192 / 85;
    max-height: 850px;
  

    .container{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;

        .hero-datebox{
            position: relative;
            height: fit-content;
            margin-right: 0;
            margin-left: auto;
        }


    h1{
        font-size: 4.25rem;
        text-align: left;
        font-weight: bolder;
        font-family: $font-shinmaru-ultra;;
        position: absolute;
        bottom: 2rem;

        background-image: linear-gradient(to right, 
        $new-year-gold-dark 0%, 
        $new-year-gold-light 33%,
        $new-year-gold-dark 70%,
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        @media screen and (max-width: 767.98px) {
            font-size: 3.5rem;
        }

        @media screen and (max-width: 424.98px) {
            font-size: 2rem !important;
        }
    }

    .tenth-badge{
        position: absolute;
        transform: translate(-100%, -100%);
        width: 15rem;
        max-width: 25%;
        left: calc(75% + 6.25rem);
        top: calc(100% - 3rem);
        z-index: 1;
        background-image: url(./images/hero/10th-background.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (max-width: 767.98px) {
                  left: calc(95%);
        }


     .spin {
    width: 100%;
    height: auto;
    z-index: 2;
    /* Animation properties */
    animation: rotation 30s infinite linear;
}

.ten-years-img{
    position: absolute;
    z-index: 2;
    width: 90%;
    height: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    

}

/* Define the rotation behavior */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
    }

    
}
    @media screen and (max-width: 991.98px) {
aspect-ratio: 5/3;
    }

    @media screen and (max-width: 576.98px) {
    

    background-image: url(./images/hero/newsletter-10-hero-mobile.webp);
    aspect-ratio: 1 / 1;
    width: 100%;
    height: unset;
    .container{

    h1{
        font-size: 2.75rem;
    }
}
    }
}




.section-1{


    padding-bottom: 2rem;

    .header-fullwidth{
      border-bottom: 0.2rem solid ;
      display: flex;
      justify-content: center;
      
      img{
    width: 100%;
    height: auto;
    max-width: 3840px;
      }
      
    }


    .container{
        padding-bottom: 1rem;

      h4{
        font-size: 1.3rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }

      .speaker{
        font-weight: bold;
        font-size: 1.15rem;
        padding-right: 0.5rem;
      }
    }

}

.section-2{
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid ;

    .header-fullwidth{
      border-bottom: 0.2rem solid ;
      border-top: 0.2rem solid ;
      background-image: url(./images/section-2/header-2-bg.jpg);
      background-size: 100%;
      background-position: top center;


      .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img{
          width: 20%;
          height: auto;
        }
      }



    }


    .contents{
        padding-bottom: 1rem;



      h4{
        font-size: 1.3rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }

.speakers-row {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 0.25rem;

  .wrapper {
    flex: 1 1 calc(20% - 0.5rem);
    max-width: calc(20% - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .small-person {
      width: 100%;
      max-width: 4.5rem;
      border: solid 0.15rem $kidsup-off-black;
      border-radius: 0.5rem;
      margin: 0 auto;
    }

    .speaker {
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      margin: 0;

      .break {
        display: none;
      }

      @media (max-width: 767.98px) {
        font-size: 0.75rem;

        .break {
          display: block;
        }
      }
    }
  }

  /* STACK BELOW 576px */
  @media (max-width: 575.98px) {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    .wrapper {
      flex: none;
      max-width: unset;
      width: 100%;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-left: 1rem;
      margin-right: auto; 
      

      .small-person {
        width: 5rem;
        height: auto;
        max-width: none;
        margin: 0;
      }

      .speaker {
        width: auto;
        text-align: left;
        font-size: 1rem;
      }
    }
  }
}


      .speaker{
        font-weight: bold;
        font-size: 1.15rem;
        padding-right: 0.5rem;
      }
    }

}

.section-3 {
position: relative;

.section-title{
      position: absolute;
      width: fit-content;
      transform: translate(-50%, 0%);
      left: 50%;
      z-index: 10;
      
      h2{
      font-family: $font-shinmaru-ultra;
      color: $kidsup-orange-primary;
      @include text-stroke(0.3rem, $kidsup-orange-light);
      font-size: 3.5rem;
      text-align: center;

              @media screen and (max-width: 576.98px) {
                font-size: 2.15rem;
              }
      }
}

  .parallax-slider-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;

    .swiper {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      background: #000;
      padding-top: 8rem;

                    @media screen and (max-width: 576.98px) {
                    padding-top: 3rem;
}
    }

    .parallax-bg {
      position: absolute;
      inset: 0;
      width: calc(100% * 11);
      height: 100%;
      background-size: cover;
      background-position: center;
      will-change: transform;
    }

    .swiper-wrapper {
      position: relative;
      z-index: 2;
    }

    .swiper-slide {
      box-sizing: border-box;

      color: #fff;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
   


      .container{
        margin-top: 0;
        height: fit-content;
        padding-bottom: calc(6vw + 2rem);
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .text-content{
          width: 50%;


        .content{
          height: fit-content;
          width: fit-content;
          margin-left: 0;
          

          p{
            font-family: $font-shinmaru-bold;
            color: $kidsup-off-black;
            font-size: 1.25rem;
          }
        }
      }

      .image-content{
        width: 50%;
        padding-bottom: 2rem;

        img{
          display: block;
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;

        }
      }

        @media screen and (max-width: 576.98px) {
            flex-direction: column;
         

          .text-content{
          width: 100%;
          padding-bottom: unset;
          }

                .image-content{
        width: 100%;
      }

          }
      }
      
    }

.parallax-slide-1, .parallax-slide-2, .parallax-slide-3, .parallax-slide-4, .parallax-slide-5, .parallax-slide-6, .parallax-slide-7, .parallax-slide-8, .parallax-slide-9, .parallax-slide-10, .parallax-slide-11{
  background-image: url(/newsletters/2026-vol-10/assets/images/section-3/timeline-bg.svg);
  background-size: 100%;
  background-position: 0 90%;
  background-repeat: no-repeat;
}




    h3{
      color: $kidsup-orange-primary;
      @include text-stroke(0.15rem, $kidsup-orange-light);
    }


    .swiper-pagination{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      height: 3rem;




    .swiper-pagination-bullet {
      margin-top: auto;
      margin-bottom: auto;
      background: $kidsup-light-gray;
      opacity: 1;
      width: .75rem;
      height: .75rem;
      border: solid 1px $kidsup-light-gray;
      &-active {
       background:  white;

            border: solid 1px $kidsup-orange-primary;
      }
    }
  }
      }

  h3{
    font-family: $font-shinmaru-ultra;
    color: black;
    font-size: 4rem;
  }
}






.section-4{

position: relative;
background-color: #fcf3e5;
background-image: url(./images/section-4/section-4-bg.svg);
background-size: cover;
background-repeat: repeat-y;
background-position: top center;
padding-bottom: 2rem;

.header{
    width: 100%;
    height: auto;
    background: #FCB44A;
background: linear-gradient(90deg,rgba(252, 180, 74, 1) 50%, rgba(232, 128, 37, 1) 50%);
}

h2{
  justify-content: center;
}

.kid-profile{
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 2rem;
  gap: 1rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $kidsup-orange-primary;
      padding: 1rem;

  .portrait{
    width: 25%;
    height: auto;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    max-width: 400px;
  }

  .profile-info{
    width: 75%;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem
    ;


    p{
          font-weight: bolder;
          font-size: 1rem;
          width: fit-content;
          max-width: 55%;
    }
  }
    @media (max-width: 575.98px) {

      flex-direction: column;

        .portrait{
          display: block;
          margin: auto;
          width: 100%;
        }

         .profile-info{
          width: 100%;
         }
    }

}



      h4{
        font-size: 1.3rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }

            .speaker{
        font-weight: bold;
        font-size: 1.15rem;
        padding-right: 0.5rem;
      }

      .img-box{
        width: fit-content;
        display: block;
        margin: auto;
        padding: 1rem;

      .img-fluid{
        width: 100%;
        max-width: 600px;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
      }

      h6{
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
}

.page-break{
  height: 1rem;
  background-color: $kidsup-orange-darker;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

}

.section-5{
    padding-bottom: 2rem;
    .event-row{
        display: flex;
        gap: 1rem;
    }

    .event-column{
        width: calc(100%/3);
        margin-left: auto;
        margin-right: auto;
    }

    h3{
        font-size: 1.5rem;
        text-align: left;
        padding-bottom: 1rem;
    }


    
    .link{
        background-color: #ee8422;
        color: white;
        padding: .5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: fit-content;
        border-radius: .25rem;
        border-style: solid;
        border-color: #ee8422;
        border-width: 2px;
text-align: left;
  
  
  &:hover {
    background-color: white;
    color: #ee8422;
  }
  }
  

      @media (max-width: 575.98px) {
    .event-row{
    flex-direction: column;

    .event-column{
        width: 100%;
    }
    }

      }
  }



