/* COMMON ----------------------------------------------------------------- */
html {
  background-color: #F7E2D7; 
  padding-top: 60px;
}

:root {

  /* ------------------------NAVBAR COLOURS------------------------ */

  --navbar-color: #F16883;
  --navlink-color: #ffffff;
  --navlink-hover-color: #ffffff;


  /* COMMUNICATION BUTTON COLOURS */
  --navbar-btn-bg-color: #ffffff;
  --navbar-btn-txt-color: #F594A4;

  --navbar-btn-bg-hover-color: #79CBBA;
  --navbar-btn-txt-hover-color: #ffffff;

  /* DROPDOWN COLOURS */
  --navbar-dropdown-color: #F594A4;
  

  /* ------------------------LOCATIONS COLOURS------------------------ */

  --tokyo-color: #F79752;
  --kanagawa-color: #F16883;
  --chiba-color: #7AC263;
  --saitama-color: #5BBCB3;  

  /* ------------------------BUTTON ICON COLOURS------------------------ */

  /* ACCORDION ICON */
  --accordion-icon-color: #7AC263;

  /* SWIPER NAV ARROWS */
  --swiper-button-bg: #F16883;
  --swiper-button-arrow: #ffffff;

}

.section-h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Shin-Maru-GP-Bold";
  color: white;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}


.swiper-button-bg {
  fill: var(--swiper-button-bg);
  isolation: isolate;
  opacity: .8;
  transition: 0.2s ease-in-out;
}

.swiper-button-arrow {
  fill: var(--swiper-button-arrow);
  
}

.swiper-button-activity-prev:hover,.swiper-button-activity-next:hover{
  opacity: .5;
  transition: 0.5s ease-in-out;
}


.gallery-h2{
  color: #5D3D2D;
}

.faq-h2{
  color: #5D3D2D;
}



.about-cta-button, .main-cta-button, .sign-up-button {
  position: relative;
  padding: 0.5rem 6rem 0.5rem 2rem;
  font-size: 1.5rem;
  font-family: "Shin-Maru-GP-Bold";
  border-radius: 6rem;
  transition: ease-in-out 0.2s;
  z-index: 1;
  text-align: left;

}

.about-cta-button{
  color: #7BC263;
  background-color: #fff;
  border: solid 0.2rem #fff;  
  width: 75%;
}

.main-cta-button{
  color: #fff;
  background-color: #5D3D2D;
  border: solid 0.2rem #5D3D2D;
  width: 80%;
  max-width: 600px;
}


.about-cta-button:hover {
  color: #FFF;
  background-color: #7BC263;
}

.main-cta-button:hover {
  color: #5D3D2D;
  background-color: #fff;
}

.about-cta-button::after, .main-cta-button::after, .sign-up-button::after {
  width: 1rem;
  position: absolute;
  right: 2rem;
  top: 23%;
  transform: translateY(0%);
  transition: ease-in-out 0.2s;
}

.about-cta-button::after{
  content: url(../spring-school-images/btn-arrow-green.svg);
}

.main-cta-button::after{
  content: url(../spring-school-images/btn-arrow-white.svg);
}

.about-cta-button:hover::after {
  content: url(../spring-school-images/btn-arrow-white.svg);
  transition: ease-in-out 0.2s;
}

.main-cta-button:hover::after {
  content: url(../spring-school-images/btn-arrow-brown.svg);
  transition: ease-in-out 0.2s;
}




.sign-up-button {
  color: #fff;
  background-color: #5D3D2D;
  border: solid 0.2rem #5D3D2D;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.3s;
  margin-bottom: 1rem;
}

.sign-up-button::after {
  content: url(../spring-school-images/btn-arrow-white.svg);
}

.sign-up-button:hover {
  color: #5D3D2D;
  background-color: #fff;
  border: solid 0.2rem #5D3D2D;
}

.sign-up-button:hover::after {
  content: url(../spring-school-images/btn-arrow-brown.svg);
}






@media (max-width: 576px) {
  .about-cta-button, .main-cta-button, .sign-up-button{
    font-size: 1.5rem;
    padding: 0.25rem 3rem 0.3rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 100%;
  }
  .about-cta-button::after, .main-cta-button::after {
    width: .9rem;
    position: absolute;
    right: 1rem;
    top: 15%;
    transform: translateY(0%);
    transition: ease-in-out 0.2s;
  }
}





/* NAVBAR ----------------------------------------------------------------- */
.navbar {
  box-shadow: none;
  background-color:var(--navbar-color) !important;
}


nav {
  background-color: var(--navbar-color) !important;
}

.nav-link {
  color: var(--navlink-color);

}

.nav-link:hover {
  color: var(--navlink-hover-color);
  opacity: .5;
}

.navbar-nav {
  background-color: #ffffff00;
}

.nav-btn {
  background: var(--navbar-btn-bg-color);
  color: var(--navbar-btn-txt-color);
}

.nav-btn:hover {
  background: var(--navbar-btn-bg-hover-color);
  color: var(--navbar-btn-txt-hover-color);
}

@media (max-width: 991px) {
  .navbar {
    top: 0;
    width: 100%;
    height: 3.65rem;
    box-shadow: none;
    background-color: #ffffff00;
    transition: 0.3s ease-in-out;
    margin-left: none;
    margin-right: none;
  }

  .navbar-nav {
    background-color: #ffffff00;
  }

  .navbar-collapse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--navbar-dropdown-color);
    position: absolute;
    width: 100%;
    top: 3.65rem;
    padding-top: 0rem !important;
  }

  .nav-btn {
   width: fit-content;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-left: 2.5rem;
   padding-right: 2.5rem;
   font-size: 1rem;
   line-height: 1;
  }

.nav-link{
  font-size: 1rem;
}

}

/* HERO ----------------------------------------------------------------- */

.hero {
  background-color: #F7E2D7; 
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 8.5;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden; /* Ensure petals don't overflow outside the container */

}


.hero-col{    
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hero-decoration-balloons{
  position: absolute;
  width: 10%;
  transform: translate(-5%, -100%);
  top: 50%;
  z-index: 0;
  left: 1%;
}

.hero-decoration-girl{
  position: absolute;
  width: 25%;
  bottom:7.5%;
  left: -4%;
  z-index: 1;
}

.hero-decoration-bunny{
  position: absolute;
  width: 20%;
  bottom: 15%;
  left: 45%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.hero-decoration-flowers{
  position: absolute;
  width: 12%;
  right: 3%;
  bottom: 20%;
  z-index: 1;
}

.hero-decoration-boy{
  position: absolute;
  width: 25%;
  right: -5rem;
  top: -3rem;
  z-index: 1;
}


.hero-image{
  width: 85%;
  display: flex;
  margin-left: 15%;
  z-index: 2;

}

.hero-text-wrapper{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

.hero-h1{
  color: #F16883;
  font-family: "Shin-Maru-GP-Bold";
  -webkit-text-stroke: 10px #F7E2D7; 
  text-stroke: 10px #F7E2D7; 
  paint-order:  stroke fill;
  z-index: 1;
}

.hero-text{
  font-size: 1rem;
  font-family: "Shin-Maru-GP-Regular";
  color: #4f4538;
  z-index: 1;
  text-stroke: 5px #F7E2D7; 
  paint-order:  stroke fill;
}

.hero-text-small{
  font-size: 1rem;
  z-index: 1;
}

.hero-cta-button {
  position: relative;
  width: fit-content;
  padding: 0.5rem 6rem 0.5rem 2rem;
  font-size: 1.75rem;
  color: white;
  font-family: "Shin-Maru-GP-Bold";
  background-color: #F16883;
  border-radius: 6rem;
  border: solid 0.2rem #F16883;
  transition: ease-in-out 0.2s;
  z-index: 1;
}

.hero-cta-button:hover {
  color: #F16883;
  background-color: #ffffff;
}

.hero-cta-button::after {
  content: url(../spring-school-images/btn-arrow-white.svg);
  width: 1.25rem;
  position: absolute;
  right: 2rem; /* Adjust the distance from the right edge */
  top: 20%;
  transform: translateY(0%);
  transition: ease-in-out 0.2s;
}

.hero-cta-button:hover::after {
  content: url(../spring-school-images/btn-arrow-pink.svg#f16883);
  transition: ease-in-out 0.2s;
}


.hero-decoration-bottom{
  width: 102%;
  position: absolute;
  top: 3px;
  z-index: 3;
  left: -1%;
  transform: translateY(-100%);
}

petal {
  display: inline-block;
  width: 150px; 
  height: 150px;
  transform: rotate(72deg);
  background-image: url(../spring-school-images/petal-animation.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}
@media (max-width: 1400px) {
.hero{
  aspect-ratio: 16 / 9.5;
}
}


@media (max-width: 1200px) {
  petal {
    width: 120px; 
    height: 120px;

  }
}



@media (max-width: 992px) {
  petal {
    width: 120px; 
    height: 120px;

  }

  .hero{
    aspect-ratio: 16 / 10.5;
  }

  .hero-image{
    width: 100%;
    display: flex;
    margin-left: 15%;
    z-index: 2;
  
  }
}



@media (max-width: 768px) {
  petal {
    width: 100px; 
    height: 100px;

  }

  .hero{
    aspect-ratio: 16 / 11.5;
  }

  
}



@media (max-width: 576px) {

  .hero {
    background-color: #F7E2D7; 
    position: relative;
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden; /* Ensure petals don't overflow outside the container */
    aspect-ratio: unset;
  }
  

.hero-col{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

  .hero-h1{
    font-size: 1.75rem;
    text-align: center;
  }
  .hero-text-wrapper{
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  
  }


  .hero-text{
    text-align: center;
    font-size: 1rem;
    text-stroke: 5px #F7E2D7; 
    paint-order:  stroke fill;

  }

  .hero-cta-button {
    font-size: 1.5rem;
    padding: 0.25rem 3rem 0.52rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .hero-cta-button::after {
    width: .9rem;
    position: absolute;
    right: 1rem; /* Adjust the distance from the right edge */
    top: 15%;
    transform: translateY(0%);
    transition: ease-in-out 0.2s;
  
  }
  .hero-image{
    padding: 0rem;
    padding-top: 1rem;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  petal {
    width: 90px; 
    height: 90px;
  }

  .hero-decoration-balloons{
    position: absolute;
    width: 30%;
    transform: translate(-30%, -100%);
    top: 50%;
    z-index: 1;
    left: 1%;
  }
  
  .hero-decoration-girl{
    position: relative;
    width: 50%;
    bottom: 0%;
    left: -4%;
    z-index: 1;
  }
  
  .hero-decoration-bunny{
  display: none;
  }
  
  .hero-decoration-flowers{
    position: absolute;
    width: 25%;
    right: 3%;
    bottom: 5%;
    z-index: 1;
  }
  
  .hero-decoration-boy{
display: none;
  }
  
  .hero-decoration-bottom{
    width: 102%;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    left: -1%;
  }
}





/* ABOUT ----------------------------------------------------------------- */

.about-decoration-top{
  width: 100%;
  transform: translate(0, -1px);
}

.event-about {
  background-color: #7BC263;
  margin-bottom: 0rem;
  position: relative;
  z-index: 3;
}
.explainer-top-left {

  padding-bottom: 2rem;
}

.about-h2 {
  color: #ffffff;
}

.about-p {
  font-family: "Shin-Maru-GP-Regular";
  color: #fff;
}

.explainer-img{
  display: flex;
  align-items: center;      
  justify-content: center;  
  vertical-align: middle;    
}

.about-event-img {
width: 80%;
}

.about-decoration-bottom{
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}


/* BENEFITS ----------------------------------------------------------------- */
.benefits-decoration-top{
  width: 100%;
  transform: translate(0, -1px);
}



.main-body {
  background-color: #F7E2D7;
  position: relative;
  margin-top: 0;
}

.benefits-testimony{
  padding-bottom: 7rem;
}

.section-break-decorarion {
  width: 110%;
  transform: translate(-5%, 0%);
}

.three-benefits-row {
  padding-top: 2rem;
  padding-bottom: 1rem;
  position: relative;
}

.three-benefits-img {
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border-style: solid;
  border-width: .2rem;
  border-color: #5D3D2D;;
}

.three-benefits-textbox {
  padding-left: 1rem;
  padding-right: 1rem;
}

.three-benefits-text {
  color: #5D3D2D;
  font-family: "Shin-Maru-GP-Regular";
}


/* LOCATIONS ----------------------------------------------------------------- */


/* Common Styling Settings */



.prefecture-title, .location-outer{
filter: drop-shadow(0px 5px 0px #87B666);
}

.location-name-1, .location-name-2, .location-name-3, .location-name-4{
  font-family: "Shin-Maru-GP-Bold";
  background-color: white;
}

.location-school{
  color: white;
}

.map-pin-1-bg-color, .map-pin-2-bg-color, .map-pin-3-bg-color, .map-pin-4-bg-color{
  fill: white;
}

/* Location 1 Styles */

.location-name-1{
  color: var(--tokyo-color);
}

.map-pin-1-main-color{
  fill: var(--tokyo-color);
}

.prefecture-tokyo-bg{
  fill: var(--tokyo-color); 
}

.prefecture-tokyo-text{
  fill: #fff;
  stroke-width: 0px;
}

/* Location 2 Styles */

.location-name-2{
  color: var(--kanagawa-color); 
}

.map-pin-2-main-color{
  fill: var(--kanagawa-color); 
}

.prefecture-kanagawa-bg{
  fill: var(--kanagawa-color); 
}

.prefecture-kanagawa-text{
  fill: #fff;
  stroke-width: 0px;
}


/* Location 3 Styles */

.location-name-3{
  color: var(--chiba-color); 
}

.map-pin-3-main-color{
  fill: var(--chiba-color); 
}

.prefecture-chiba-bg{
  fill: var(--chiba-color); 
}

.prefecture-chiba-text{
  fill: #fff;
  stroke-width: 0px;
}

/* Location 4 Styles */

.location-name-4{
  color: var(--saitama-color); 
}

.map-pin-4-main-color{
  fill: var(--saitama-color); 
}

.prefecture-saitama-bg{
  fill: var(--saitama-color); 
}

.prefecture-saitama-text{
  fill: #fff;
  stroke-width: 0px;
}








/* CUSTOMER TESTIMONY ----------------------------------------------------------------- */
.customer-testimony-row {
  padding-bottom: 1rem;
}

.testimonial-box {
  background-color: #FFF8ED;
  height: 38rem;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 32.33333333333333333333333333333333333333333333333333333333333333%;
  border-radius: 1rem;
}

.testimonial-inner {
  padding: 0.75rem;
  padding-top: 2rem;
  position: relative;
  height: 90%;
}

.testimonial-img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-header {
  font-size: 1.75rem;
  font-family: "Shin-Maru-GP-DeBold";
  color: #5D3D2D;
  font-weight: bold;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.testimonial-top-row {
  padding-bottom: 2rem;
}

.testimonial-text {
  color: #5D3D2D;
  font-family: "Shin-Maru-GP-Regular";
  font-size: 0.95rem;
}

.testimonial-rank {
  position: absolute;
  top: 90%;
  vertical-align: bottom;
  width: 45%;
}

.testimony-rank-fill {
  fill: #5CBBB2;
}

@media (max-width: 576px) {
  .swiper-wrapper {
    height: fit-content;
  }

  .testimony-slide {
    height: 100%;
    width: 100%;
  }

  .testimonial-box {
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    
  }

  .testimonial-inner {
    padding: 1rem;
    padding-top: 1rem;
    position: relative;
    height: 40rem;
  }

  .testimonial-top-row {
    padding-bottom: 1rem;
  }

  .testimonial-text {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
  }
}

/* Four-Benefits ----------------------------------------------------------------- */
.four-benefits-wrapper {
  background-color: #e8dccd;
  padding-top: 5rem;


}
.four-benefits-container {
  background-color: #79CABA;
  padding: 0.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.benefit-icon-parent-row {
  position: relative;
}
.benefit-icon-child-col-img {
  padding-left: none;
  padding-right: none;
  margin-left: none;
  margin-right: none;
}

.benefit-icon {
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 6rem;
}

.benefit-icon-colour-1 {
  fill: #5CBBB2;
}

.benefit-icon-colour-2 {
  fill: #FFF8ED;
}

.four-benefits-text {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
}

.main-parent-row {
  height: 100%;
}


@media (max-width: 576px) {
  .four-benefits-container {
    border-radius: 1rem;
  }

  .four-benefits-text {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
  }
}

/* CALL TO ACTION ----------------------------------------------------------------- */
.call-to-action {
  background-color: #faeaaa;
  position: relative;
}

.call-to-action-bg {
  position: absolute;
  top: 66%;
  transform: translate(0%, -100%);
}

.cta-kid {
  position: relative;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.cta-button {
  width: 80%;
  left: 0%;
  max-width: 600px;
  font-family: "Shin-Maru-GP-DeBold";
  text-decoration: none;
  color: #fff;
  background-color: #5D3D2D;
  border: solid 0.2rem #5D3D2D;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: left;
  padding-left: 2rem;
  border-radius: 3rem;
  display: block;
  margin-left: 2rem;
  margin-right: auto;
  transition-duration: 0.3s;
  margin-bottom: 3rem;
  -webkit-box-shadow:0px 0px 11px 5px rgba(64,39,20,0.2);
-moz-box-shadow: 0px 0px 11px 5px rgba(64,39,20,0.2);
box-shadow: 0px 0px 11px 5px rgba(64,39,20,0.2);
}

.cta-button::after {
  content: url(../winter-school-images/btn-arrow-white.svg);
  height: 1rem;
  float: right;
  top: 65%;
  padding-right: 2rem;
  padding-top: 0.1rem;
}

.cta-button:hover {
  color: #5f5ca8;

  background-color: #fff;
}

.cta-button:hover::after {
  content: url(../winter-school-images/btn-arrow-pink.svg);
}

.cta-container{
  display: flex;
  align-items: center;      
  justify-content: center;  
  vertical-align: middle;    
}

.cta-wrapper{
  position: relative;
  width: 100%;
}



@media (max-width: 576px) {

  .cta-prompt-desktop{
   display: none;
  }
  .cta-prompt-mobile{
    display: contents;
  }
  

  .cta-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: auto;
    width: 100%;
    left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cta-button::after {
    height: 1rem;
    float: right;
    top: 65%;
    padding-right: 0;
    padding-top: 0.1rem;
  }
}


.hyperlink-h2{
  text-decoration: underline white;
  text-align: center;

}


/* Swiper-Slider ----------------------------------------------------------------- */

.activity-info-div {
  background-color: #F594A4;
  padding-top: 1rem;
  }
  

.swiper-arrow-container {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.swiper-container {
  overflow-x: hidden;
  position: relative;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 2%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 98%
  );
}

.activity-slide {
  position: relative;
  background-color: #f3f5f8;
  border-radius: 1rem;
  border-width: 4px;
  border-style: solid;
  border-color: #37593d;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide-date-box {
  position: absolute;
  background-color: #58b980;
  width: fit-content;
  border-radius: 0rem 0rem 1rem 0rem;
  display: flex;
  align-items: center;
  background-color: #5d3d2d;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #37593d;
  border-width: 4px;
  transform: translateX(-1px);
}

.slide-special-box {
  position: absolute;
  width: fit-content;
  border-radius: 1rem 0rem 0rem 0rem;
  display: flex;
  align-items: center;
  background-color: #5d3d2d;
  border-style: solid;
  border-color: #eeb01f;
  border-right: none;
  border-bottom: none;
  right: 50%;
  bottom: 0rem;
  border-width: 4px;
  text-align: center;
  transform: translateX(50%);
}

.activity-slide-1 {
  background-color: #F16883;
  border-color: #F16883;
}

.activity-slide-2 {
  background-color: #5BBCB3;
  border-color: #5BBCB3;
}

.activity-slide-3 {
  background-color: #7BC263;
  border-color: #7BC263;
}

.activity-slide-4 {
  background-color: #F79752;
  border-color: #F79752;
}

.activity-slide-special {
  background-color: #e5b244;
  border-color: #f7d249;
}

.slide-date-box-special{
  background-color: #f7d249;
  border-color: #f7d249;
  border-width: 4px;
}

.slide-date, .slide-day {
  font-family: "Shin-Maru-GP-Bold";
  font-size: 1.25rem;
  line-height: 1rem;
  color: white;
  padding: .5rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.slide-day {
  font-size: .9rem;
  padding-left: 0rem;
}

.slide-date-special{
  color: #5d3d2d;
}

.slide-lower {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-h2 {
  font-size: 1rem;
  font-family: "Shin-Maru-GP-Bold";
  text-align: center;
  color: white;
}

.slide-h2-special {

  color: #5d3d2d;;

}

.activity-slider-img {
  width: 100%;
  border-radius: 0rem 0rem 1rem 1rem;

}

.swiper-button-activity-prev {
  width: 3rem;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  overflow: none;
}
.swiper-button-activity-next {
  width: 3rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100%;
  z-index: 1;
  top: 50%;
  overflow: none;
}
.swiper-container-testimony {
  overflow-x: hidden;
  position: relative;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 2%,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 1) 95%,
    rgba(255, 255, 255, 0) 98%
  );
}

.swiper-button-testimony-prev {
  width: 4rem;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  overflow: none;
}
.swiper-button-testimony-next {
  width: 4rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100%;
  z-index: 1;
  top: 50%;
  overflow: none;
}

.slide-time-box{
  background-color:#f7d249;
  border: none;
  border-radius: 4rem 4rem 0 0;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0%;
margin-bottom: -4px;
}

.slide-time-special{
  font-size: .75rem;
  color:  #5d3d2d;
  padding-bottom: 0;
  line-height: 1;
}


/* ----------------------------------------Dropdown--------------------------------------- */

.btn-dropdown-left,
.btn-dropdown-middle,
.btn-dropdown-right {
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

.dropdown-row{
  padding-bottom: 1rem;
}

.btn-dropdown-left {
  text-align: left;
  
}

.btn-dropdown-middle {
  text-align: center; /* Added to center the buttons */
}

.btn-dropdown-right {
  text-align: right; /* Added to center the buttons */
}
.btn-dropdown-small {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #5D3D2D;
  border: solid 0.2rem #5D3D2D;
  border-radius: 2rem;
  width: 90%;
  max-width: 600px;
  text-align: left;
  color: #ffffff;
  font-size: 1rem;
  position: relative;
  display: inline-flex;
  padding: 15px;
  padding-left: 1rem;
  transition-duration: 0.2s;
  margin: 0 auto;
  font-weight: bold;
  -webkit-box-shadow:0px 0px 11px 5px rgba(64,39,20,0.2);
  -moz-box-shadow: 0px 0px 11px 5px rgba(64,39,20,0.2);
  box-shadow: 0px 0px 11px 5px rgba(64,39,20,0.2);
}

.dropdown-img-small {
  position: absolute;
  right: 1rem; /* Adjust the padding from the right as needed */
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 35px;
  transform-origin: center;
}

.btn-dropdown-small:hover,
.btn-dropdown-small:focus,
.btn-dropdown-small:not(.collapsed) {
  background-color: #fff;
  color: #5D3D2D;
  border: solid 0.2rem #5D3D2D;
}

.btn-dropdown-small:not(.collapsed) {
  transition-duration: 0.5s;
}

.btn-dropdown-small:not(.collapsed) .dropdown-img-small {
  transform: translateY(-50%) rotate(180deg);
  transition-duration: 0.2s;
  fill: #fff; /* Default fill color */
  transition: fill 0.3s ease; /* Smooth transition */
}


@media screen and (max-width: 1400px) {
  .btn-dropdown-small {
    font-size: 14px;
    width: 95%;
  }

  .dropdown-img-small {
    height: 28px;
    width: 28px;
    right: 7px;

  }
}


@media screen and (max-width: 1025px) {
  .btn-dropdown-small {
    font-size: 12px;
    width: 95%;
  }

  .dropdown-img-small {
    height: 24px;
    width: 24px;
    right: 6px;
  }
}

@media screen and (max-width: 769px) {
  .btn-dropdown-small {
    font-size: 10px;
    padding: 7.5px;
  }

  .dropdown-img-small {
    height: 25px;
    width: 25px;
  }
  .btn-dropdown-left,
  .btn-dropdown-middle,
  .btn-dropdown-right {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .btn-dropdown-small {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 3rem;
    font-size: 1rem;
    padding-left: 2rem;
  }

  .dropdown-img-small {
    height: 2rem;
    width: 2rem;
    right: 1rem;
  }
}

.collapse-boxes {
  padding-bottom: 1rem;
  overflow-x: hidden;
  width: 100%;
}

.daily-schedule-header {
  color: #F594A4;
  font-weight: bold;
  font-size: 1.25rem;
}

.schedule-level {
  font-weight: bold;
  font-size: 1rem;
}

.daily-Schedule-1 {
  background-color: #f4f6f9;
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.daily-Schedule-2 {
  background-color: #fff;
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 1rem;
}

.form-download-wrapper {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-download {
  padding-top: 1rem;
  text-align: center;
  color: #8E5620;
  font-weight: bold;
  font-size: 1.25rem;
}

.form-download:hover {
  opacity: 60%;
}
.calendar-img {
  margin-top: 1rem;
  border-radius: 1rem;
}

.dropdown-container {
  background-color: #f4f6f9;
  border-radius: 1rem;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 1rem;
}

.dropdown-decoration-bottom{
  width: 100%;
  position: relative;
  bottom: 0;
  z-index: 0;
}

.dropdown-wrapper{
  padding-bottom: 2rem;
}

/* Image Carousel ------------------------------------------------------------------*/

.decoration-gallery-top{
  width: 100%;
  transform: translate(0, -1px);
  padding-bottom: -4rem;
}

.carousel-div {
  background-color: none
  ;
}

.swiper-img {
  display: block;
  width: 96%;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 25%;
  justify-content: space-between;
}

.swiper-custom-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
  width: 4rem;
}

.swiper-custom-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.swiper-activities-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
}

.swiper-activities-nav-arrow {
  cursor: pointer;
  opacity: 1;
  width: 4rem;
}

.swiper-activities-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .swiper-img {
    display: block;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .swiper-custom-nav {
    padding: 7.5%;
  }
  .swiper-custom-nav-arrow {
    width: 3rem;
  }
}

/* Sign Up and Pre Footer ------------------------------------------------------------------*/


.sign-up-bg {
  fill: #fff;
}

.sign-up-stroke {
  fill: #313133;
}


.sign-up-main-colour {
  fill: #5C2C27;
}


.sign-up-instruction-header {
  font-size: 1.15rem;
  font-weight: bold;
}

.bottom-button-right {
  float: left;
}

.bottom-button-left {
  float: right;
}

@media (max-width: 576px) {
  .bottom-button-left,
  .bottom-button-right {
    float: none;
    align-items: center;
  }
}

.sign-up {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #7BC263;
}
.sign-up-row {
  padding-bottom: 1rem;
}

.sign-up-wrapper-left,
.sign-up-wrapper-middle,
.sign-up-wrapper-right {
  width: 97.5%;
  display: block;
}

.sign-up-wrapper-left {
  margin-right: auto;
}

.sign-up-wrapper-middle {
  margin-left: auto;
  margin-right: auto;
}

.sign-up-wrapper-right {
  margin-left: auto;
}

@media (max-width: 576px) {
  .sign-up-wrapper-left,
  .sign-up-wrapper-middle,
  .sign-up-wrapper-right {
    width: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.sign-up-h2 {
  font-family: "Shin-Maru-GP-Bold";
  font-weight: bold;
  padding-bottom: 3rem;
  color: white;

}

.sign-up-h3 {
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  color: white;
}

.sign-up-p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  color: white;
}


.pre-footer {
  background-color: #e8dccd;
 margin-top: -3px;
}

.pre-footer-h2,
.pre-footer-p {
  color: #303135;
}

/* --------------------FAQ ACCORDION--------------------------*/

.bottom-section {
  background-color: #e8dccd;
  padding-bottom: -2rem;
}

.accordion {
  padding-bottom: 1rem;
}

.accordion-item {
  border: none !important;
  background-color: #fff8ed;
  border-radius: 3rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.accordion-btn-icon {
  transition: transform 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 3rem !important;
  transform: rotate(0deg);
}

.accordion-colors-1, .accordion-colors-2 {
  fill: none;
  stroke: var(--accordion-icon-color); ;
  stroke-miterlimit: 10;
  stroke-width: 8px;
}
.accordion-button {
  color: #63574a;
  background-color: #fff8ed;
  font-family: "Shin-Maru-GP-DeBold";
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3rem !important;
  filter: drop-shadow(none);
}

.accordion-text{
  font-family: "Shin-Maru-GP-Regular";
}

.accordion-button::after {
  display: none;
}

.accordion-button:focus,
.accordion-button:active {
  box-shadow: none !important;
  border-color: transparent !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  border: none !important;
  color: #63574a;
  box-shadow: none !important;
}

.accordion-body {
  font-family: "Noto Sans JP", sans-serif;
  color: #63574a;
  text-align: left;
  font-weight: 400;
  padding: 1rem;
  padding-top: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
