/* COMMON ----------------------------------------------------------------- */
html {
  background-color: #681410;
}

.section-h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Shin-Maru-GP-Bold";
  color: white;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

/* NAVBAR ----------------------------------------------------------------- */
.navbar {
  top: 0;
  width: 100%;
  height: 3.65rem;
  box-shadow: none;
  background-color: #ffffff00;
  transition: 0.3s ease-in-out;
}

.navbar.scrolled {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #237c59;
  transition: 0.3s ease-in-out;
}

nav {
  background-color: #ffffff00;
}

.nav-link {
  color: #f3f4df;
  -webkit-text-stroke: 3px #237c59;
  text-stroke: 2px #237c59;
  paint-order: stroke fill;
}

.nav-link:hover {
  color:  #892c3c;
  -webkit-text-stroke: 3px #ffffff;
  text-stroke: 2px #ffffff;
}

.navbar-nav {
  background-color: #ffffff00;
}

.nav-btn {
  background: white;
  color: #892c3c;
}

.nav-btn:hover {
  background: #892c3c;
  color: #fff;
}

@media (max-width: 991px) {
  .navbar {
    top: 0;
    width: 100%;
    height: 3.65rem;
    box-shadow: none;
    background-color: #ffffff00;
    transition: 0.3s ease-in-out;
    margin-left: none;
    margin-right: none;
  }

  .navbar-nav {
    background-color: #ffffff00;
  }

  .navbar-collapse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #0f3932;
    position: absolute;
    width: 100%;
    top: 3.65rem;
    padding-top: 0rem !important;
  }

  .nav-btn {
   width: fit-content;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-left: 2.5rem;
   padding-right: 2.5rem;
   font-size: 1rem;
   line-height: 1;
  }

.nav-link{
  font-size: 1rem;
}

}

.bg-snow-decoration{
  background-image: url(../winter-school-images/snow-decoration.webp);
  background-position: top center;
  background-size: 120% auto;
  background-repeat: no-repeat;

}

/* HERO ----------------------------------------------------------------- */

.hero {
  background-color: #691610; /* New background color */
  background-repeat: no-repeat;
  background-size: cover; /* Ensure cover scaling */
  position: relative;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
height: fit-content;
padding-top: 3rem;
padding-bottom: 3rem;

}

.image-col{
  position: relative;
}


.hero-col{    
  display: flex;
  justify-content: center;
  align-items: center;}


.hero-image{
  width: 100%;
  display: flex;
  padding: 1rem;
}

.earlybird{
  position: absolute;
  display: block;
  transform: translate(-50%, -100%);
  width: 85%;
  left: 50%;
  top: 85%;
  z-index: 3;
}

.hero-h1{
  background: -moz-linear-gradient(180deg, rgba(28,71,63,1) 0%, rgba(39,125,90,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(28,71,63,1) 0%, rgba(39,125,90,1) 100%);
  background: linear-gradient(180deg, rgba(28,71,63,1) 0%, rgba(39,125,90,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Shin-Maru-GP-Bold";
  -webkit-text-stroke: 2px #fbc868;
  text-stroke: 2px #fbc868;
  paint-order: stroke fill;
  filter: drop-shadow(0px .25rem 0px #0f3931);
}

.hero-text{
  font-size: 1rem;
  font-family: "Shin-Maru-GP-Regular";
  color: #ffffff;
}

.hero-text-small{
  font-size: 1rem;
}

.hero-cta-button {
  position: relative;
  width: fit-content;
  padding: 0.5rem 6rem 0.5rem 2rem;
  font-size: 2rem;
  color: #0f3931;
  font-family: "Shin-Maru-GP-Bold";
  background: rgb(177,106,24);
  background: -moz-linear-gradient(90deg, rgba(177,106,24,1) 0%, rgba(251,200,104,1) 62%, rgba(255,249,207,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(177,106,24,1) 0%, rgba(251,200,104,1) 62%, rgba(255,249,207,1) 100%);
  background: linear-gradient(90deg, rgba(177,106,24,1) 0%, rgba(251,200,104,1) 62%, rgba(255,249,207,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b16a18",endColorstr="#fff9cf",GradientType=1);
  border-radius: 6rem;
  border: solid 0.2rem #0f3931;
  transition: ease-in-out 0.2s;
  z-index: 1;
  filter: drop-shadow(0px .25rem 0px #0f3931);
}

.hero-cta-button:hover {
  color: #fff;
  border: solid 0.2rem #fbc868;
  transition: ease-in-out 0.2s;
  z-index: 1;
  filter: drop-shadow(0px .25rem 0px #fbc868);
  background: rgb(35,124,89);
  background: -moz-linear-gradient(90deg, rgba(35,124,89,1) 0%, rgba(35,124,89,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(35,124,89,1) 0%, rgba(35,124,89,1) 100%);
  background: linear-gradient(90deg, rgba(35,124,89,1) 0%, rgba(35,124,89,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#237c59",endColorstr="#237c59",GradientType=1);

}

.hero-cta-button::after {
  content: url(../christmas-2024-images/btn-arrow.svg);
  position: absolute;
  right: 2rem; /* Adjust the distance from the right edge */
  top: 45%;
  transform: translateY(-50%);
  transition: ease-in-out 0.2s;
}

.hero-cta-button:hover::after {
  content: url(../christmas-2024-images/btn-arrow-hover.svg);
  transition: ease-in-out 0.2s;
}


.hero-decoration-bottom{
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.hero-teachers-kids{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
}

.hero-text-wrapper{
  position: relative;
}

.hero-decoration-1{
position: absolute;
top: 0;
right: 0;
width: 25%;
transform: translate(20%, -50%);
}

.hero-decoration-2{
  position: absolute;
  top: 90%;
  left: 0rem;
  width: 30%;
  transform: translate(-75%, -50%);
  }

@media (max-width: 576px) {

.hero-col{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: none;
}

.hero-image{
  display: block;
  padding-top: 0 !important;
}

  .hero-h1{
    font-size: 1.75rem;
    text-align: center;
  }

  .hero-text{
    text-align: center;

  }

  .hero-cta-button {
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
  }
  .hero-cta-button::after {

    top: 55%;
  
  }
  .hero-image{
    padding: 0rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }



  .hero-col{
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .hero-image-mobile-wrapper{
    display: block;
    height: fit-content;
  }

  .earlybird{
    position: absolute;
    transform: translate(-50%, -200%);
    width: 75%;
    left: 50%;
   bottom: 0%;
    z-index: 3;
  }

  .hero-text-small{
    line-height: 1;
    margin-bottom: 2rem;
    font-size: .9rem;
  }
  
}



/* ABOUT ----------------------------------------------------------------- */

.about-decoration-top{
  width: 102%;
  transform: translate(-1%, .5rem);
  margin-bottom: -3rem;
}

.event-about {
  background-color: #237c59;
  margin-bottom: 0rem;
  position: relative;
  padding-bottom: 2rem;
}

.explainer-container{
  display: flex;
  align-items: center;
}
.about-h2 {
  color: #fff;
  display: block;
  z-index: 1;
}

.about-p {
  font-family: "Shin-Maru-GP-Regular";
  color: #fff;
}

.about-event-img {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: fit-content;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-decoration-bottom{
  width: 100%;
  position: absolute;
  bottom: ;
  z-index: 0;

}

.cta-button-about{
  width: fit-content;
  font-family: "Shin-Maru-GP-DeBold";
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: left;
  padding-left: 2rem;
  padding-right: 8rem;
  border-radius: 3rem;
  transition-duration: 0.3s;
  margin-top: 1rem;

  color: #0f3931;
  background-color: #fff;
  border: solid 0.2rem #fff;
  border: solid 0.2rem #0f3931;
  transition: ease-in-out 0.2s;
  filter: drop-shadow(0px .25rem 0px #0f3931);
}

.cta-button-about:hover{
  color: white;
  background-color: #892c3c;
  border: solid 0.2rem #fff;
  transition: ease-in-out 0.2s;
  filter: drop-shadow(0px .25rem 0px #fff);
}


.cta-button-about::after {
  content: url(../christmas-2024-images/btn-arrow.svg);
  position: absolute;
  right: 2rem; /* Adjust the distance from the right edge */
  top: 55%;
  transform: translateY(-50%);
  transition: ease-in-out 0.2s;
}

.cta-button-about:hover::after {
  content: url(../christmas-2024-images/btn-arrow-hover.svg);
  transition: ease-in-out 0.2s;
}

.about-event-row{
  width: 100%;
}


.about-event-column{
  background-color: #1b5f4a;
  aspect-ratio: 1/1;
  margin: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  width: calc(33.3% - 2rem);
  position: relative;
}

.about-benefit-icon{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

.about-event-h3{
  font-size: 1rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
  font-family: "Shin-Maru-GP-Bold";
  line-height: 1;
  padding: none !important;
  margin: none !important;
  padding-bottom: none !important;
  margin-bottom: none !important;
}

.about-event-p{
  font-size: .9rem;
  color: white;
  padding: none !important;
  margin: none !important;
  padding-bottom: none !important;
  margin-bottom: none !important;
}

.about-event-decoration-1 {
position: absolute;
top: 0rem;
left: 0rem;
width: 40%;
transform: translate(-25%, -25%);
}

.about-event-decoration-2 {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  width: 40%;
  transform: translate(25%, 25%);

}


@media (max-width: 576px) {

  .about-decoration-top{
    width: 102%;
    transform: translate(-1%, .5rem);
    margin-bottom: -3rem;
    margin-top: 1rem;
  }
  

  .about-event-column{
    background-color: #1b5f4a;
    aspect-ratio: auto;
    margin: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    width:100%;
    
  }

  
.about-event-h3{
  font-size: 1rem;

}



.about-event-p{
  font-size: 1rem;
  color: white;
}

.cta-button-about{
  width: 100%;
  padding-right:0rem;
}

.about-event-decoration-1{
  width: 33%;
  left: 0%;
  top: 7.5%;
}

.about-event-decoration-2{
  width: 33%;
  top: 60%;
  z-index: 0;
}
  
  
}



/* LOCATIONS ----------------------------------------------------------------- */

.prefecture-title{
height: 4rem;
margin: 1rem;
margin-left: 0;
filter: drop-shadow(0px 5px 0px #1b5f4a);
}


.location-row{
  margin-bottom: 2rem;
}


.location-area-wrapper{
  padding-bottom: 1rem;
}


.location-outer{
  position: relative;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;    
  filter: drop-shadow(0px 5px 0px #1b5f4a);
}


.location-pin{
  position: absolute;
  width: 3rem;
  transform: translate(0%, -50%);
  margin-top: 1.5rem;
  
}
.location-name-1, .location-name-2, .location-name-3, .location-name-4{

  font-family: "Shin-Maru-GP-Bold";
  background-color: white;

}

.map-pin-1-bg-color, .map-pin-2-bg-color, .map-pin-3-bg-color, .map-pin-4-bg-color{
  fill: white;
}


/* Location 1 Styles */

.location-name-1{
  color: #c09866;
}

.map-pin-1-main-color{
  fill: #c09866;
}

.prefecture-tokyo-bg{
  fill: #c09866; 
}

.prefecture-tokyo-text{
  fill: #fff;
  stroke-width: 0px;
}


/* Location 2 Styles */


.location-name-2{
  color: #99414b;
}

.map-pin-2-main-color{
  fill: #99414b;
}

.prefecture-kanagawa-bg{
  fill: #99414b;
}

.prefecture-kanagawa-text{
  fill: #fff;
  stroke-width: 0px;
}


/* Location 3 Styles */


.location-name-3{
  color: #374f6d;
}

.map-pin-3-main-color{
  fill: #374f6d;
}

.prefecture-chiba-bg{
  fill: #374f6d;
}

.prefecture-chiba-text{
  fill: #fff;
  stroke-width: 0px;
}


/* Location 4 Styles */


.location-name-4{
  color: #5e8f6d;
}


.location-name-4{
  color: #5e8f6d;
}

.map-pin-4-main-color{
  fill: #5e8f6d;
}

.prefecture-saitama-bg{
  fill: #5e8f6d;
}

.prefecture-saitama-text{
  fill: #fff;
  stroke-width: 0px;
}



.location-school{
  font-family: "Shin-Maru-GP-DeBold";
  margin-left: 2rem;
  font-size: 1rem;
  padding-top: 0.25rem;
  color: white;
}

@media (max-width: 576px) {
  .prefecture-title{
    height: 4rem;
    margin: 0.1rem;
    margin-left: 0;
    filter: drop-shadow(0px 5px 0px #e5cca8);
    }
    
}
.mobile-accordion-item{
background-color: #ffffff00;
}


.mobile-accordion-body{
  width: 100%;
  padding: 0rem;
  margin: 0rem;
}

.mobile-accordion-button{
width: 100%;
 padding-top: .25rem;
 padding-bottom: .25rem
 ;
}

.accordion-button::after {
  display: none !important;
}

/* ACTIVITY INFO ------------------------------------------------------------------*/
.event-activities {
  background-color: #690e16;
  padding-bottom: -2rem;
  z-index: -2;
}

.event-date{
  text-align: center;
  color: #fff;
}

.event-date-sub{
  font-size: 1rem;
}


.activity-box-1{
 
  width: fit-content;
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  transform: rotate(-5deg) ;
  margin-top: 6rem;
  margin-bottom: 4rem;
  border-radius: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.event-header{
  color: #fcb55d;
  font-family: "Shin-Maru-GP-Bold";
  font-size: 1.5rem;
}

.event-text{
  color: #fff;
  font-size: 1.15rem;
}

.event-text-sub{
  font-size: .75rem;
}

.activity-box-1-inner{
padding: 4rem;
padding-left: 1rem;
padding-right: 1rem;
}

.event-header-1{
  text-align: center;
}

.event-1-text-wrapper{
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.activity-box-1-wrapper{
  position: relative;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  background-image: url(/events/christmas-2024/christmas-2024-images/activity-1-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;



}


.activity-decoration-1{
  position: absolute;
  transform: translate(-50%, -60%);
  height: 20rem;
  left: 10%;
  top: 3rem;
  z-index: 1;
}


.activity-image-1{
  position: absolute;
  transform: translate(0%, -75%);
  height: 20rem;
  left: 10%;
  top: 3rem;
  z-index: 1;
}

.activity-decoration-3{
  position: absolute;
  transform: translate(-50%, -50%);
  height: 12.5rem;
  left: 90%;
  top: 70%;
  z-index: 1;
}



.activity-box-2-wrapper{
  width: 90%;
  height: fit-content;
  background-image: url(/events/christmas-2024/christmas-2024-images/activity-2-bg.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  transform: translate(-5%);
  margin-bottom: 3rem;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.activity-box-2-inner{
  padding: 4rem;
  transform: translate(5%);
}

.activity-box-2-text-wrapper{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.event-header-2{
  padding-left: 5rem;
}

.event-text-2{
  padding-left: 5rem;
}

.event-header-3{
  
  padding-left: 3rem;
}

.event-text-3{
  padding-left: 3rem;
}

.activity-image-2{
  position: absolute;
  width: 45%;
  transform: translate(0%, -50%);
  left: 60%;
  top: 25%;
}
.activity-image-3{
  position: absolute;
  width: 40%;
  transform: translate(0%, -50%);
  left: 65%;
  top: 50%;
}

.activity-decoration-2{
  position: absolute;
  transform: translate(0%, -50%);
  width: 25%;
  left: 70%;
  top: 80%;
}

.event-header-4{
  text-align: left;

}

.event-text-1{
  text-align: left;
}








.activity-box-3-outer{
  position: relative;
  width: 90%;
  background-image: url(/events/christmas-2024/christmas-2024-images/activity-3-bg.svg);
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  padding-top: 5rem;
padding-bottom: 5rem;

}


.activity-box-3-image-col{
 
display: flex;
align-items: flex-start;
justify-content: flex-end;

}


.activity-image-4{
  width: 115%;
  transform: translateY(-7.5rem);
  margin-bottom: -8rem;
  position: relative;

}



.e-sports-badge{
  width: 40%;
  position: absolute;
  top: 20rem;
  transform: rotate(-5deg);
}

.activity-box-3-inner-wrapper-1{

transform: rotate(-2deg);

}

.activity-box-3-inner-wrapper-2{
transform: rotate(-2deg);
}




.activity-decoration-4{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100%;
  top: 95%;
  margin: 0 !important;
  padding: 0 !important;
  width: 45%;
}



@media (max-width: 991px) {
  .activity-image-4{
    width: 200%;
    transform: translateY(-3rem);
    margin-bottom: -2rem;
  }
  
  .event-text{
    color: #fff;
    font-size: 1rem;
  }
  
  .event-text-sub{
    font-size: .7rem;
  }
  
.event-header{
  font-size: 1.25rem;
}
  
}



@media (max-width: 1024px) {

  .activity-box-2-wrapper{
    transform: translate(-2%);
  }
.activity-box-2-inner{
  transform: translate(2%);
}
}

@media (max-width: 768px) {

  .activity-box-2-wrapper{
    transform: translate(0%);
  }
.activity-box-2-inner{
  transform: translate(0%);
}

.event-header-2{
  padding-left: 1rem;
}

.event-text-2{
  padding-left: 1rem;
}

.event-header-3{
  
  padding-left: 2rem;
}

.event-text-3{
  padding-left: 2rem;
}
}


@media (max-width: 576px) {
.gallery-h2{
  padding-top: 2rem;
}


.mobile-infobox-decoration-top{
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 2px;
  width: 101%;
  display: block;
  z-index: -1;
}

.mobile-infobox-decoration-bottom{
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  top: 100%;
  width: 101%;
  display: block;
  z-index: -1;
}



.activity-box-1-wrapper, .activity-box-2-wrapper, .activity-box-3-outer{
  background-image: none;
  display: block;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #892c3c;
  margin-top: 3rem;
  margin-bottom: 3rem;
  z-index: 0;
}

.activity-box-1, .activity-box-1-inner .activity-box-2-inner, .activity-box-2-text-wrapper, .activity-box-3-inner{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.event-section{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}

  .event-header-1, .event-header-2, .event-header-3, .event-header-4
  {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .event-header{
    padding-top: 2rem;
  }

.event-header{
  font-size: 1.5rem;
}

  .event-text-1, .event-text-2, .event-text-3 {
    text-align: center;
    font-size: 1.2rem;
  }




  .activity-box-1{
    margin-top: 10rem;
    padding: 2rem;
    margin-bottom: 10rem;
  }
  .activity-box-1-inner{
   margin: 0rem;
   padding-left: 0rem;
   padding-right: 0rem;
   width: 100%;
}

.activity-image-1{
  width: 90%;
  height: auto;
  transform: translate(-50%, -100%);
  left: 60%;
  top: 7.5rem;
  z-index: 1;
}
.activity-decoration-1{
  width: 70%;
  height: auto;
}

.activity-decoration-3{
  transform: translate(-50%, -50%);
  top: 100%;
  left: 80%;
}




.activity-image-2, .activity-image-3, .activity-decoration-2{
 
  z-index: -1;

}

.activity-image-2{
  top: 7rem;
  left: 33%;
  width: 90%;
  transform: translate(-50%, -100%);
}

.activity-image-3{
  top: 100%;
  left: 60%;
  width: 90%;
  transform: translate(-50%, -40%);
}

.activity-decoration-2{
  top: 65%;
  left: 66%;
  width: 40%;
  transform: translate(0%, -50%);
}

.activity-box-2-inner{
  padding-left: .75rem;
  padding-right: .75rem;
  margin-bottom: 10rem;
}



.activity-box-3-outer{
  padding: 1rem;
  margin-top: 15rem;
}

.activity-image-4{
  position: relative;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-7rem);
  margin-bottom: -7rem;
}

.activity-box-3-inner-wrapper-1{
  padding-left: 1rem;
  padding-right: 1rem;
}

.activity-decoration-4{
  transform: translate(-50%, -50%);
  left: 80%;
  top: 100%;
  width: 60%;
}

}


/* Image Carousel ------------------------------------------------------------------*/

.decoration-gallery-top{
  width: 100%;
  transform: translate(0, -10px);
  padding-bottom: 0rem;
}

.carousel-div {
  background-color: none
  ;
}

.swiper-img {
  display: block;
  width: 96%;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(
        circle, 
        rgba(255, 255, 255, 0.4) 0%, /* Adjust color and opacity */
        rgba(0, 0, 0, 0) 70%
    );
    filter: blur(20px); /* Adjust the blur to control the spread of the light */
    transition: opacity 0.3s ease;
}


.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 25%;
  justify-content: space-between;
}

.swiper-custom-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-custom-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

.swiper-activities-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
}

.swiper-activities-nav-arrow {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  width: 4rem;
}

.swiper-activities-nav-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3 ease-in-out;
}

.transition-gallery-signup{
  width: 102%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;
}


@media (max-width: 576px) {
  .swiper-img {
    display: block;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .swiper-custom-nav {
    padding: 7.5%;
  }
  .swiper-custom-nav-arrow {
    width: 3rem;
  }
}



/* Sign Up and Pre Footer ------------------------------------------------------------------*/

.sign-up-instruction-header {
  font-size: 1.15rem;
  font-weight: bold;
}

.bottom-button-right {
  float: left;
}

.bottom-button-left {
  float: right;
}

@media (max-width: 576px) {
  .bottom-button-left,
  .bottom-button-right {
    float: none;
    align-items: center;
  }
}

.sign-up {
  background-color: #267c59;
  padding-bottom: 2rem;
}
.sign-up-row {
  padding-bottom: 1rem;
}

.sign-up-wrapper-left,
.sign-up-wrapper-middle,
.sign-up-wrapper-right {
  width: 97.5%;
  display: block;
}

.sign-up-wrapper-left {
  margin-right: auto;
}

.sign-up-wrapper-middle {
  margin-left: auto;
  margin-right: auto;
}

.sign-up-wrapper-right {
  margin-left: auto;
}

@media (max-width: 576px) {
  .sign-up-wrapper-left,
  .sign-up-wrapper-middle,
  .sign-up-wrapper-right {
    width: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.sign-up-h2 {
  font-family: "Shin-Maru-GP-Bold";
  font-weight: bold;
  padding-bottom: 3rem;
  color: white;
  padding-top: 2rem;
}

.sign-up-h3 {
  font-size: 1.45rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  color: white;
}

.sign-up-p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  color: white;
}

.sign-up-button {
  position: relative;
  font-family: "Shin-Maru-GP-DeBold";
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: left;
  padding-left: 2rem;
  border-radius: 3rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.3s;
  margin-bottom: 1rem;

  color: #0f3931;
  background-color: #fff;
  border: solid 0.2rem #fff;
  border: solid 0.2rem #0f3931;
  transition: ease-in-out 0.2s;
  filter: drop-shadow(0px .25rem 0px #0f3931);


}

.sign-up-button::after {
  content: url(../christmas-2024-images/btn-arrow.svg);
  height: 1rem;
  float: right;
  top: 70%;
  padding-right: 2rem;
  padding-top: 0.1rem;
}

.sign-up-button:hover {
  color: white;
  background-color: #892c3c;
  border: solid 0.2rem #fff;
  transition: ease-in-out 0.2s;
  filter: drop-shadow(0px .25rem 0px #fff);
}

.sign-up-button:hover::after {
  content: url(../christmas-2024-images/btn-arrow-hover.svg);
}

.pre-footer {
  background-color: #892c3c;
 margin-top: -3px;
}

.pre-footer-h2,
.pre-footer-p {
  color: #ffffff;
}


.hidden-after-cutoff {
  display: none !important;
}
