h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.75;
  font-size: 1rem;
}

.header-fullwidth {
  max-width: 100%;
  height: auto;
}

.hero {
  background-color: #305587;
  background-image: url(./images/hero/newsletter-hero-desktop.webp);
  background-position: bottom;
  background-size: cover;
  height: calc(100vh - 80px);
}
.hero .container {
  position: relative;
  height: 100%;
}
.hero .container .hero-datebox {
  margin-left: auto;
  margin-right: 0;
  right: 0%;
}
.hero .container h1 {
  font-size: 5rem;
  color: white;
  text-align: left;
  padding-top: 10rem;
  font-weight: bolder;
  -webkit-text-stroke: 10px #10467d;
  paint-order: stroke fill;
  font-family: "Shin-Maru-GP-Ultra";
}
@media (max-aspect-ratio: 1/1) {
  .hero {
    max-height: 188.8888888889vw;
    background-image: url(./images/hero/newsletter-hero-mobile.webp);
  }
  .hero .container h1 {
    padding-top: 9rem;
  }
}
@media (max-width: 767.98px) {
  .hero {
    margin-top: 68px;
    height: calc(100vh - 68px);
  }
}
@media (max-width: 575.98px) {
  .hero {
    background-image: url(./images/hero/newsletter-hero-mobile.webp);
  }
  .hero .container h1 {
    font-size: 2.75rem;
  }
}

.section-1 {
  padding-bottom: 2rem;
}
.section-1 .container {
  padding-bottom: 1rem;
}
.section-1 .container .bottom-img {
  padding-top: 2rem;
  width: 75%;
  display: block;
  margin: auto;
  min-width: 320px;
}

.section-2 {
  padding-bottom: 2rem;
  background-color: #f0e5d7;
  font-weight: 400 !important;
}
.section-2 figure {
  display: inline-block;
  max-width: 35%;
  text-align: left;
  font-size: 0.8rem;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 300px;
}
.section-2 figure .arrow {
  color: #ee8422;
}
.section-2 figure img {
  width: 100%;
  height: auto;
  display: block;
}
.section-2 .float-left {
  float: left;
  margin: 0 1rem 1rem 0;
}
.section-2 .float-right {
  float: right;
  margin: 0 0 1rem 1rem;
}
.section-2 .author-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 575.98px) {
  .section-2 figure {
    display: block;
    width: 100%;
    max-width: 575.8%;
  }
}

.section-3 {
  background-color: #469769;
  padding-bottom: 2rem;
}
.section-3 .columns {
  display: flex;
}
.section-3 .columns .text-col {
  width: 80%;
  background-color: #dbdbc3;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-style: solid;
}
.section-3 .columns .text-col h2 {
  font-family: "Shin-Maru-GP-Ultra";
  color: #f9af24;
  -webkit-text-stroke: 10px white;
  paint-order: stroke fill;
}
.section-3 .columns .text-col p {
  color: #142a41;
  font-weight: 500;
}
.section-3 .columns .text-col .mascot-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section-3 .columns .text-col .mascot-row .card-col {
  width: 25%;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}
.section-3 .columns .text-col .mascot-row .card-col .card {
  width: 100%;
  height: auto;
  background-color: unset;
  border: unset;
}
.section-3 .columns .text-col .mascot-row .card-col h3 {
  font-size: 1rem;
  font-family: "Shin-Maru-GP-Ultra";
  -webkit-text-stroke: 5px white;
  paint-order: stroke fill;
  margin-top: 1rem;
  text-align: center;
}
.section-3 .columns .text-col .mascot-row .card-col .jot {
  color: #f47431;
}
.section-3 .columns .text-col .mascot-row .card-col .boom {
  color: #9ed7ea;
}
.section-3 .columns .text-col .mascot-row .card-col .echo {
  color: #f3b8c6;
}
.section-3 .columns .text-col .mascot-row .card-col .tale {
  color: #7cab6e;
}
.section-3 .columns .img-col {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-3 .columns .img-col .footprint {
  width: 90%;
  height: auto;
  margin: auto;
}
@media (max-aspect-ratio: 1/1) {
  .section-3 .columns {
    flex-direction: column;
  }
  .section-3 .columns .text-col {
    width: 100%;
    margin-bottom: 0;
  }
  .section-3 .columns .text-col .mascot-row {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .section-3 .columns .text-col .mascot-row .card-col {
    width: calc(50% - 2rem);
    margin: auto;
    margin-top: 0;
  }
  .section-3 .columns .img-col {
    display: none;
  }
}

.section-4 {
  position: relative;
  background-color: #fcf3e5;
  background-image: url(./images/section-4/section-4-bg.svg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center;
}
.section-4 .header {
  width: 100%;
  height: auto;
  max-width: 3840px;
}
.section-4 .container {
  z-index: 1;
}
.section-4 .container .top {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
  z-index: 2;
  padding-bottom: 1rem;
}
.section-4 .container .top .logo {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  padding: 1rem;
}
.section-4 .container .top .logo .inner {
  width: 100%;
  height: auto;
}
.section-4 .container .top .text {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #48353a;
  font-family: "Shin-Maru-GP-Bold";
}
@media screen and (max-width: 767.5px) {
  .section-4 .container .top {
    flex-direction: column;
    gap: unset;
  }
  .section-4 .container .top .logo, .section-4 .container .top .text {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .section-4 .container .top .logo h2, .section-4 .container .top .text h2 {
    font-size: 1.5rem;
  }
}
.section-4 .main-contents {
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: row;
}
.section-4 .main-contents .inner-text {
  background-color: #eee5dd;
  padding: 2rem;
  border-radius: 2rem;
  color: #47353a;
  width: 60%;
}
.section-4 .main-contents .photo-column {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.section-4 .main-contents .photo-1, .section-4 .main-contents .photo-2, .section-4 .main-contents .photo-3, .section-4 .main-contents .photo-4 {
  width: 65%;
  position: absolute;
  transform-origin: center;
}
.section-4 .main-contents .photo-1 {
  left: 0%;
  top: 0%;
  rotate: 7.5deg;
  z-index: 1;
}
.section-4 .main-contents .photo-2 {
  right: 0%;
  top: 20%;
  rotate: -10deg;
  z-index: 4;
}
.section-4 .main-contents .photo-3 {
  left: 0%;
  bottom: 20%;
  rotate: 5deg;
  z-index: 3;
}
.section-4 .main-contents .photo-4 {
  right: 0%;
  bottom: 0%;
  rotate: 10deg;
  z-index: 1;
}
@media screen and (max-width: 1399.5px) {
  .section-4 .main-contents .photo-1, .section-4 .main-contents .photo-2, .section-4 .main-contents .photo-3, .section-4 .main-contents .photo-4 {
    width: 70%;
  }
  .section-4 .main-contents .photo-1 {
    left: 0%;
    top: 0%;
  }
  .section-4 .main-contents .photo-2 {
    right: 0%;
    top: 22.5%;
  }
  .section-4 .main-contents .photo-3 {
    left: 0%;
    bottom: 22.5%;
  }
  .section-4 .main-contents .photo-4 {
    right: 0%;
    bottom: 0%;
  }
}
@media screen and (max-width: 1199.5px) {
  .section-4 .main-contents .photo-1, .section-4 .main-contents .photo-2, .section-4 .main-contents .photo-3, .section-4 .main-contents .photo-4 {
    width: 90%;
  }
  .section-4 .main-contents .photo-1 {
    left: 0%;
    top: 0%;
  }
  .section-4 .main-contents .photo-2 {
    right: 0%;
    top: 24.5%;
  }
  .section-4 .main-contents .photo-3 {
    left: 0%;
    bottom: 24.5%;
  }
  .section-4 .main-contents .photo-4 {
    right: 0%;
    bottom: 0%;
  }
}
@media screen and (max-width: 990.5px) {
  .section-4 .main-contents .photo-1, .section-4 .main-contents .photo-2, .section-4 .main-contents .photo-3, .section-4 .main-contents .photo-4 {
    position: relative;
    width: 120%;
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    left: unset;
    top: unset;
    right: unset;
    bottom: unset;
    justify-content: space-between center;
  }
}
@media screen and (max-width: 990.5px) and (max-width: 767.5px) {
  .section-4 .main-contents {
    flex-direction: column;
  }
  .section-4 .main-contents .inner-text {
    width: 100%;
    padding: 1.5rem;
  }
  .section-4 .main-contents .photo-column {
    flex-direction: unset;
    flex-wrap: wrap;
    width: calc(100% + 12rem);
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: auto;
  }
  .section-4 .main-contents .photo-column .photo-1, .section-4 .main-contents .photo-column .photo-2, .section-4 .main-contents .photo-column .photo-3, .section-4 .main-contents .photo-column .photo-4 {
    margin-left: unset;
    width: 50%;
    margin: -3rem;
  }
  .section-4 .main-contents .photo-column .photo-1 {
    rotate: 5deg;
    z-index: 3;
  }
  .section-4 .main-contents .photo-column .photo-2 {
    rotate: 3deg;
    z-index: 2;
  }
  .section-4 .main-contents .photo-column .photo-3 {
    rotate: -6deg;
    z-index: 4;
  }
  .section-4 .main-contents .photo-column .photo-4 {
    rotate: 7deg;
    z-index: 3;
  }
}
@media screen and (max-width: 409.5px) {
  .section-4 .main-contents .photo-column {
    flex-direction: unset;
    flex-wrap: wrap;
    width: calc(100% + 8rem);
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: auto;
  }
  .section-4 .main-contents .photo-column .photo-1, .section-4 .main-contents .photo-column .photo-2, .section-4 .main-contents .photo-column .photo-3, .section-4 .main-contents .photo-column .photo-4 {
    margin-left: unset;
    width: 50%;
    margin: -2rem;
  }
}
.section-4 .article-4-bottom {
  position: absolute;
  width: 101%;
  top: 100%;
  transform: translate(0, -100%);
  margin-left: -0.5%;
}

.section-5 {
  padding-bottom: 2rem;
}
.section-5 .event-row {
  display: flex;
  gap: 1rem;
}
.section-5 .event-column {
  width: 33.3333333333%;
  margin-left: auto;
  margin-right: auto;
}
.section-5 h3 {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 1rem;
}
.section-5 .link {
  background-color: #ee8422;
  color: white;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #ee8422;
  border-width: 2px;
  text-align: left;
}
.section-5 .link:hover {
  background-color: white;
  color: #ee8422;
}
@media (max-width: 575.98px) {
  .section-5 .event-row {
    flex-direction: column;
  }
  .section-5 .event-row .event-column {
    width: 100%;
  }
}

.section-6 {
  padding-bottom: 2rem;
}
.section-6 h5 {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
}
.section-6 .bullet-wrapper-1, .section-6 .bullet-wrapper-2 {
  padding: 2rem;
  border-radius: 2rem;
}
.section-6 .bullet-wrapper-1 p, .section-6 .bullet-wrapper-2 p {
  text-indent: -2rem;
  margin-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.section-6 .bullet-wrapper-1 {
  background-color: #f0e5d7;
}
.section-6 .bullet-wrapper-2 {
  background-color: #d4e4eb;
}

.section-7 {
  margin: 0 !important;
  padding-bottom: 2rem !important;
  background-color: #ffecce;
  background-image: url(./images/section-6/special-offer-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.section-7 h2 {
  font-family: "Shin-Maru-GP-Bold";
  text-align: center;
  color: #ee8422;
  font-size: 5rem;
}
.section-7 h3 {
  font-family: "Shin-Maru-GP-Bold";
  text-align: center;
  color: #ee8422;
  font-size: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section-7 p {
  font-family: "Shin-Maru-GP-Bold";
  text-align: center;
  color: #ee8422;
}
.section-7 .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2rem;
  background-color: white;
  margin-bottom: 2rem;
  margin: auto;
  margin-bottom: 2rem;
}
.section-7 .box h2 {
  font-size: 4rem;
}
.section-7 .box h3 {
  font-size: 3rem;
}
.section-7 a {
  font-family: "Shin-Maru-GP-Bold";
  font-size: 2.75rem;
  color: white;
  background-color: #e55505;
  border-color: #e55505;
  border-radius: 2rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 1024px) {
  .section-7 h2 {
    font-size: 3rem;
  }
  .section-7 h3 {
    font-size: 1.5rem;
  }
  .section-7 .box h2 {
    font-size: 3rem;
  }
  .section-7 .box h3 {
    font-size: 2rem;
  }
  .section-7 a {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section-7 h2 {
    font-size: 2.5rem;
  }
  .section-7 h3 {
    font-size: 1.25rem;
  }
  .section-7 .box h2 {
    font-size: 2.5rem;
  }
  .section-7 .box h3 {
    font-size: 1.5rem;
  }
  .section-7 a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .section-7 h2 {
    font-size: 2rem;
  }
  .section-7 h3 {
    font-size: 1rem;
  }
  .section-7 .box h2 {
    font-size: 2.5rem;
  }
  .section-7 .box h3 {
    font-size: 1.5rem;
  }
  .section-7 a {
    font-size: 1rem;
    border-radius: 4rem;
    padding: 1.25rem;
  }
}

.section-8 {
  background-color: #ee8422;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section-8 h2 {
  font-size: 2.25rem;
  text-align: left;
  color: white;
}
.section-8 h3 {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  padding-bottom: 3rem;
}
.section-8 a {
  margin-left: 0;
  border-radius: 0;
  color: #ef8421;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}
.section-8 .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  height: 100%;
}
@media (min-width: 576px) {
  .section-8 .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .section-8 .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .section-8 .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .section-8 .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .section-8 .container {
    max-width: 1320px;
  }
}
@media (max-width: 575.98px) {
  .section-8 .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
.section-8 img {
  width: 40%;
  min-width: 320px;
  height: auto;
  display: block;
}
@media (max-width: 575.98px) {
  .section-8 img {
    width: 100%;
    order: -1;
  }
}
@media (max-width: 575.98px) {
  .section-8 {
    flex-direction: column;
  }
  .section-8 .container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    padding-bottom: 4rem;
  }
}/*# sourceMappingURL=vol-9-style.css.map */