.head-img{
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.flex-images{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;

    .flex-inner{
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .furigana{
        margin-top: 1rem;
        font-size: .75rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: .25rem;
    }


    h3{
        line-height: 1;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .flex-img{
        border-radius: 50%;
        width: calc(100% - 2rem);
    }
}



.graduates{
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.indent{
    padding-left: 3rem;
}

.video-row{
    margin-bottom: 2rem;
}

.player-wrapper{
    padding:56.25% 0 0 0;
    position:relative;
}

.rider-portrait-waku{
    background-image: url(./images/waku-desktop.jpg);
    background-size: cover;
    background-position: top center;
}

.rider-portrait-kanon-hayato{
    background-image: url(./images/kanon-hayato-desktop.jpg);
    background-size: cover;
    background-position: top center;
}

.page-subtitle{
    margin-top: 3rem;
}

.online-img{
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 576px) {



.flex-images{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;

    .flex-inner{
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .furigana{
        margin-top: 1rem;
        font-size: .65rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: .25rem;
    }


    h3{
        line-height: 1;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .flex-img{
        border-radius: 1rem;
        width: calc(100% - .25rem);
    }
}


.rider-portrait-waku{
    background-image: url(./images/waku-mobile.jpg);
    aspect-ratio: 1.75 / 1;
    width: 100%;
}

.rider-portrait-kanon-hayato{
    background-image: url(./images/kanon-hayato-mobile.jpg);
    aspect-ratio: 1.75 / 1;
    width: 100%;
}


}
